Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

added public func getter for EmitFuncContext
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use fold_with...no, doesn't work: first val is passed to both init & operation
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Switch to aggregate, fixing test
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Tidy the big if/match
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Break out gather_existing
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: Make fn directive smaller, use 'mut dirv'
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rm bad doc
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rm done todo
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

No need for 'sccs' now we are not checking a `target_funcs` argument
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comments, rename filt_func -> call_predicate, do not pass target
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

one-line doc header
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

oops, fix tests for 2-arg callback
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Include copy_discard_array in DelegatingLinearizer::default (#2479)
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

re-export
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename InlineAllError -> InlineFuncsError
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Inline calls to functions not on cycles in the call graph (#2450)
  hugr-passes/src/call_graph.rs
  hugr-passes/src/inline_funcs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Revert "feat!: Add `insert_region` to HugrMut (#2463)"
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release (#2483)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Added test for func decls and defns that aren't used.
  hugr-py/src/hugr/build/function.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): Python builder for function declarations did not create static output port (#2485)
  hugr-py/src/hugr/build/function.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Test import/export roundtrip of `Term::ConstType`.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: none

Add visibility modifier to test fixture.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: none

Type of constants in `core` `Term`s.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update JSON schema to account for the `Const` to `ConstType` change.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Lints.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add `Const` branch to new match in test.
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test for exporting const type parameter from python.
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rename `Term::Const` to `Term::ConstType` and add more docs.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

added func getter for EmitFuncContext; based on hugr 0.20.2, which is currently compatible with eldarion
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

added func getter for EmitFuncContext; based on latest hugr 0.22.1
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

build: relax typing-extensions constraint
  hugr-py/pyproject.toml
  uv.lock
Due: none

added unit test for EmitFuncContext::func getter
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix format
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(deps-rs): Bump smallvec and move to workspace dependencies
  Cargo.toml
  hugr-core/Cargo.toml
Due: none

chore(deps-rs): Bump smallvec and move to workspace dependencies (#2491)
  Cargo.toml
  hugr-core/Cargo.toml
Due: none

docs(py): add docstrings for result fields (#2480)
  hugr-py/src/hugr/qsystem/result.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
