Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Test import/export roundtrip of `Term::ConstType`.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: none

Rename `Term::Const` to `Term::ConstType` and add more docs.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Caught logic error: Entrypoint metadata needs to be on the region, not on the node.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add visibility modifier to test fixture.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: none

Review comment
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc note
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Run lowerer -> validation fails as Input not transformed
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix by recursing on ALL types
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Start with array, + fmt
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP test
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ReplacementOptions for replacing types too....TODO consts
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update doc
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Export entrypoint metadata in Python and fix bug in import (#2434)
  hugr-core/src/import.rs
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

remove replace_recursive, undo change_subtree
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "remove replace_recursive, undo change_subtree"
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove change_subtree
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: ReplaceTypes allows linearizing inside Op replacements (#2435)
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix and unskip static array val test
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

rollback order edge reporting on constn nodes, restrict i/o order
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add tests linked to existing issues
  hugr-py/src/hugr/build/dfg.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/__snapshots__/test_order_edges.ambr
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_order_edges.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Better python roundtrip tests, and lots of fixes (#2436)
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/__snapshots__/test_order_edges.ambr
  hugr-py/tests/conftest.py
  hugr-py/tests/test_cfg.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_ops.py
  hugr-py/tests/test_order_edges.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: StaticArrayVal payload encoding, improve roundtrip checker
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: StaticArrayVal payload encoding, improve roundtrip checker (#2444)
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

Better lower func serialization errors
  hugr-core/src/envelope/serde_with.rs
  hugr-core/src/extension/op_def.rs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/tests/test_package.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

better error reporting on for serde_with envelopes
  hugr-core/src/envelope/serde_with.rs
  hugr-core/src/extension/op_def.rs
  hugr-py/tests/conftest.py
  hugr-py/tests/test_package.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Fix model export of `Opaque` types.
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Fix model export of `Opaque` types. (#2446)
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

WIP test + fix doc
  hugr-passes/src/call_graph.rs
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove debug
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Check requested nodes are FuncDefns; add FuncDecls in test
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Another case
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update schema comment
  hugr-py/src/hugr/_serialization/extension.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

Reduce #funcs in test Hugr
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test illegal nodes
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doclink visibility
  hugr-core/src/extension.rs
  hugr-core/src/extension/op_def.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Names of private functions become `core.title` metadata.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/src/v0/mod.rs
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-entrypoint.edn
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

clippy; remove InlineCallError, box the optype
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

nonexhaustive the error
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test selective inlining using filter
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test_inline: make [vec<&str>;5] for fgabc
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
