Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/extension_inference hugr/declarative hugr/model_unstable hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat: Add PersistentHugr (#2080)
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/resolver.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/tests.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add hugr svg logo
  hugr-py/docs/_static/hugr_logo.svg
Due: none

delete old files
  hugr-py/docs/_static/Quantinuum_logo_black.png
  hugr-py/docs/_static/Quantinuum_logo_white.png
  hugr-py/docs/_static/custom.css
Due: none

update config, use furo theme
  hugr-py/docs/api-docs/conf.py
Due: ruff-format, ruff-check, mypy-check, py-test

add furo dependency
  hugr-py/pyproject.toml
  uv.lock
Due: none

project links
  hugr-py/docs/api-docs/index.rst
Due: none

fix: check well-definedness of DFG wires in validate
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "feat: Add PersistentHugr (#2080)"
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/resolver.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/tests.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "feat!: Remove boundary map in SimpleReplacement (#2208)"
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "feat: Add SiblingSubgraph::set_outgoing_ports (#2217)"
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: check well-definedness of DFG wires in validate (#2221)
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Check for order edges in SiblingSubgraph::from_node
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `Type::used_extensions`
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add panic comment
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Check for order edges in SiblingSubgraph::from_node (#2223)
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

typo
  hugr-core/src/extension/resolution.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `Type::used_extensions` (#2224)
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Pin CI to non-segfaulting rust nightly
  .github/workflows/ci-rs.yml
Due: none

ci: Pin CI to non-segfaulting rust nightly (#2229)
  .github/workflows/ci-rs.yml
Due: none

highlight entryoint region in render
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
Due: ruff-format, ruff-check, mypy-check, py-test

Raise an error when creating a `DfBase` from a non-dataflow parent
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Less jarring render colours
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_cfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

Also make the entrypoint region's border thicker
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_cfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

merge test case branches
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix python <=3.11 compat
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

python 3.10 compat
  hugr-py/src/hugr/hugr/render.py
Due: ruff-format, ruff-check, mypy-check, py-test

🐍 entrypoints for python
  hugr-py/src/hugr/_serialization/serial_hugr.py
  hugr-py/src/hugr/build/cfg.py
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/build/function.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/src/hugr/model/export.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_tracked_dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

add serialization schema
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Add a `is_dataflow_op` helper
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Entrypoints in `hugr-py` (#2148)
  hugr-py/src/hugr/_serialization/serial_hugr.py
  hugr-py/src/hugr/build/cfg.py
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/build/function.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/src/hugr/model/export.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_tracked_dfg.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add `to/from_bytes/str` to Hugr, using envelopes
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_basic.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-py): Add `to/from_bytes/str` to Hugr, using envelopes (#2228)
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_basic.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.12.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

improve breaking changes list
  hugr-py/CHANGELOG.md
Due: none

chore(main): release hugr-py 0.12.0 (#2161)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

add HUGR logo without backrground
  hugr-py/docs/_static/hugr_logo_no_bg.svg
  hugr-py/docs/api-docs/conf.py
Due: ruff-format, ruff-check, mypy-check, py-test

docs: update hugr-py docs appearance, add HUGR logo (#2222)
  hugr-py/docs/_static/Quantinuum_logo_black.png
  hugr-py/docs/_static/Quantinuum_logo_white.png
  hugr-py/docs/_static/custom.css
  hugr-py/docs/_static/hugr_logo_no_bg.svg
  hugr-py/docs/api-docs/conf.py
  hugr-py/docs/api-docs/index.rst
  hugr-py/pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.12.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.20.1
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none
