Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat: Add MermaidFormatter to replace RenderConfig (#2275)
  hugr-core/src/hugr/persistent/parents_view.rs
  hugr-core/src/hugr/persistent/trait_impls.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/rerooted.rs
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__render__tests__custom_node_labels.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fixed invalid extension name in test. (#2319)
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Fixed bug in python model export name mangling. (#2323)
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor(llvm): replace HashMap with BTreeMap (#2313)
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/custom/load_constant.rs
  hugr-llvm/src/emit/func.rs
  hugr-llvm/src/emit/ops/cfg.rs
  hugr-llvm/src/utils/type_map.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(py): correct ConstString JSON encoding (#2325)
  hugr-py/src/hugr/std/prelude.py
  hugr-py/tests/test_prelude.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(core): builder pattern for EnvelopeConfig (#2330)
  hugr-core/src/envelope/header.rs
  hugr/benches/benchmarks/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: update CallGraph and remove_dead_funcs for module-only FuncDefns (#2336)
  hugr-passes/src/call_graph.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(cli): convert sub-command for converting envelope formats (#2331)
  Cargo.lock
  Cargo.toml
  hugr-cli/Cargo.toml
  hugr-cli/src/convert.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/tests/convert.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generate extensions
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: none

use hugr.children() not hugr.decendants()
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Helper methods to get the neighbours of a node
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add IncludeReplacementNodes enum
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/wire.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor(types.rs): rm incorrect comment and unnecessary allow-unused (#2340)
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Export metadata in Python (#2342)
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Create Module/FunctionBuilders from existing Hugrs (#2359)
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Rewrite for peeling a TailLoop (#2290)
  hugr-core/src/hugr/patch.rs
  hugr-core/src/hugr/patch/peel_loop.rs
  hugr-core/src/ops/controlflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Deprecate invalidation_set, add invalidated_nodes and SimpleReplacement::invalidation_set (#2358)
  hugr-core/src/hugr/patch.rs
  hugr-core/src/hugr/patch/consts.rs
  hugr-core/src/hugr/patch/inline_call.rs
  hugr-core/src/hugr/patch/inline_dfg.rs
  hugr-core/src/hugr/patch/insert_cut.rs
  hugr-core/src/hugr/patch/insert_identity.rs
  hugr-core/src/hugr/patch/outline_cfg.rs
  hugr-core/src/hugr/patch/replace.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/persistent.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core, llvm): add array unpack operations (#2339)
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/value_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: fix doc links in persistent
  hugr-core/src/hugr/persistent.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(py): Helper methods to get the neighbours of a node (#2370)
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix typo
  specification/hugr.md
Due: none

fix: breaking version check
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: handle multiple generators
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: better errors using metadata from generator (#2368)
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
  hugr-model/src/v0/binary/read.rs
  specification/hugr.md
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: remove deprecated runtime extension errors (#2369)
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: use `core.` prefixes for generator metadata keys
  hugr-core/src/envelope.rs
  specification/hugr.md
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: use `core.` prefixes for generator metadata keys (#2371)
  hugr-core/src/envelope.rs
  specification/hugr.md
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-model: add Visibility::default()==Private, make ops+aliases use that
  hugr-core/src/export.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-model snapshots
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
Due: none

chore: release-plz update
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

ci: Fix extension version checker ci on main
  .github/workflows/ci-py.yml
Due: none

trigger ci error
  specification/std_extensions/arithmetic/float/types.json
Due: none

rollback test extension change
  specification/std_extensions/arithmetic/float/types.json
Due: none

chore: release-plz update
  .github/workflows/ci-py.yml
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
  specification/hugr.md
Due: none

ci: Fix extension version checker ci on main (#2374)
  .github/workflows/ci-py.yml
Due: none

chore: update versions and changelog to v0.20.2 (#2373)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
  specification/hugr.md
Due: none

use agustins suggestion with helper methods
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

improve test
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test
