Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

fmt
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Added types to `Term`.
  hugr-core/src/import.rs
  hugr-core/src/std_extensions/arithmetic/float_types.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/terms.rs
  hugr-core/src/terms/core.rs
  hugr-core/src/terms/util.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add types to core constructors.
  hugr-core/src/terms.rs
  hugr-core/src/terms/core.rs
  hugr-core/src/terms/util.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: use envelopes for `FixedHugr` encoding
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/tests/serialization/test_extension.py
  hugr-py/tests/test_package.py
Due: ruff-format, ruff-check, mypy-check, py-test

typos
  hugr-core/src/envelope/serde_with.rs
  hugr-core/src/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

simplify and update schema
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

fix: use envelopes for `FixedHugr` encoding (#2283)
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/tests/serialization/test_extension.py
  hugr-py/tests/test_package.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

fix benches not including custom extension
  hugr/benches/benchmarks/hugr.rs
  hugr/benches/benchmarks/hugr/examples.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test SimpleReplacement
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test errors
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

HashSet -> HashMap, minimal change to make next non-breaking
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add DefnInsertMode::Replace (but no impl yet), type-parametrize (breaking??)
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test Replace; don't rely on node types, don't return Replaces in node_map
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update docs
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

insert_hugr_internal does the replacement (untested)
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove z3 install
  .github/workflows/ci-rs.yml
Due: none

fmt
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Dataflow analysis produces unsound results on Hugrs with entrypoint (#2255)
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: Deprecate ValidationError::ExtensionError (#2281)
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

perf: mutable `Node` to avoid linear update cost
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/node_port.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Hugr::store_with_exts and auto-include in serde_as (#2280)
  hugr-core/src/envelope/serde_with.rs
  hugr-core/src/hugr.rs
  hugr-core/src/package.rs
  hugr/benches/benchmarks/hugr.rs
  hugr/benches/benchmarks/hugr/examples.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove another replace
  hugr-py/src/hugr/build/dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

perf(py): mutable `Node` to avoid linear update cost (#2288)
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/node_port.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.12.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: support external subcommands via PATH (#1343) (#2278)
  Cargo.lock
  Cargo.toml
  hugr-cli/Cargo.toml
  hugr-cli/src/main.rs
  hugr-cli/tests/external.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

implement MermaidFormatter
  hugr-core/src/hugr/persistent/parents_view.rs
  hugr-core/src/hugr/persistent/trait_impls.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: LocalizeEdges pass (#2237)
  hugr-passes/src/non_local.rs
  hugr-passes/src/non_local/localize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.20.1
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release v0.20.1 (#2273)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(main): release hugr-py 0.12.2 (#2274)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: adding too many calls panics
  hugr-core/src/builder/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add FoldVal, constant_fold2 (taking FoldVals)
  hugr-core/src/extension.rs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/ops/custom.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Deprecate old fold routines; port tests, add helpers
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/logic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove 1 Value::Function - test failing on error message
  hugr-core/src/ops/constant.rs
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

3*Value::function
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix test
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

export.rs, do before merge
  hugr-core/src/export.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Deprecate Value::Function; warnings in export.rs, replace_types/handlers.rs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/ops/constant.rs
  hugr-passes/src/const_fold/value_handle.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Switch fold2 to take &[FoldVal] not Vec<FoldVal>
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/ops/custom.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add serial data types for SimpleReplacement and PersistentHugr
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/patch/simple_replace/serial.rs
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/resolver.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/state_space/serial.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
