Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Remove 'Array' variant from type serialization
  hugr-core/src/types/serialize.rs
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: failing test for subgraph with disconnected nodes
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: allow disconnected outputs in `SiblingSubgraph::from_node`
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: use `from_node` in lowering
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix broken lints merged to `main`
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: clippy fix
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: allow disconnected outputs in SiblingSubgraph::from_node (#1769)
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-llvm/src/emit/test.rs
  hugr-passes/src/lower.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: fix some typos (#1765)
  _typos.toml
  hugr-cli/tests/validate.rs
  hugr-llvm/src/emit/func.rs
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/test.rs
  hugr-llvm/src/utils/fat.rs
  hugr-llvm/src/utils/type_map.rs
  hugr-model/src/v0/text/print.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

better python classes, add tests
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/std/collections/list.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Improve test
  hugr-core/src/extension/prelude/generic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Move arrays from prelude into new extension (#1770)
  hugr-cli/tests/gen_extensions.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/utils/array_op_builder.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/std/collections/list.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/prelude.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(main): release hugr-py 0.10.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Revert "wip"
  devenv.lock
  hugr-core/src/ops.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/ops/sum.rs
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/types/type_row.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix up merge
  hugr-core/src/ops.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-core/src/ops.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add array extension to signatures
  hugr-core/src/builder/build_traits.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

lint
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs + tweak name mangling
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `LoadNat` operation to enable loading generic `BoundedNat`s into runtime values (#1763)
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-passes/src/monomorphize.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove call_indirect helper
  hugr-core/src/builder/build_traits.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refator(cli)!: remove deprecations
  hugr-cli/src/lib.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor(cli)!: remove deprecations (#1777)
  hugr-cli/src/lib.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Add `monomorphization` pass (#1733)
  hugr-core/src/ops.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/ops/module.rs
  hugr-core/src/ops/sum.rs
  hugr-core/src/types.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/types/type_row.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

change extension_reqs to runtime_reqs in rust
  hugr-core/src/builder/cfg.rs
  hugr-core/src/builder/conditional.rs
  hugr-core/src/export.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/declarative/signature.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/rewrite/outline_cfg.rs
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix test json
  hugr-core/src/hugr/serialize/upgrade/testcases/hugr_with_named_op.json
Due: none

update serialization schema
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

upadate python and extension defs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float/types.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int/types.json
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/list.json
  hugr-py/src/hugr/std/_json_defs/logic.json
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/src/hugr/std/_json_defs/ptr.json
  hugr-py/src/hugr/std/int.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/serialization/test_extension.py
  hugr-py/tests/test_custom.py
  resources/test/issue-1189.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/float.json
  specification/std_extensions/arithmetic/float/types.json
  specification/std_extensions/arithmetic/int.json
  specification/std_extensions/arithmetic/int/types.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/list.json
  specification/std_extensions/logic.json
  specification/std_extensions/prelude.json
  specification/std_extensions/ptr.json
Due: ruff-format, ruff-check, mypy-check, py-test

update some comments
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update extension_inference README
  hugr-core/README.md
  hugr-passes/README.md
  hugr/README.md
Due: none

fix: Resolve types in `Value`s and custom conts
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

disable random test failing ???
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test
