Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/extension_inference hugr/declarative hugr/model_unstable hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && uv run pytest"
  language: system
  pass_filenames: false

almost there...
  .github/workflows/ci-rs.yml
  Cargo.toml
Due: none

need to downgrade `half` too
  .github/workflows/ci-rs.yml
Due: none

maybe now?
  .github/workflows/ci-rs.yml
Due: none

rename check
  .github/workflows/ci-rs.yml
Due: none

feat!: Split Rewrite trait into VerifyPatch and ApplyPatch
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/patch.rs
  hugr-core/src/hugr/patch/consts.rs
  hugr-core/src/hugr/patch/inline_call.rs
  hugr-core/src/hugr/patch/inline_dfg.rs
  hugr-core/src/hugr/patch/insert_identity.rs
  hugr-core/src/hugr/patch/outline_cfg.rs
  hugr-core/src/hugr/patch/port_types.rs
  hugr-core/src/hugr/patch/replace.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/rewrite.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-passes/src/merge_bbs.rs
  hugr-passes/src/nest_cfgs.rs
  hugr/src/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Early return for discard; generalize to n-way copy (oops); comments
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Non-breaking portgraph & pyo3 version bump (#2069)
  .github/workflows/ci-rs.yml
  Cargo.lock
  Cargo.toml
Due: none

Generalise test to >2 outports, fix impl
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ExtensionOp::cast helper
  hugr-core/src/ops.rs
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add `ExtensionOp::extension_id` too
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add ExtensionOp helpers (#2072)
  hugr-core/src/ops.rs
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Fix list_const, add array_const
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test, add ReplaceTypesError::ConstError
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run ci checks on PRs to any branch
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/pr-title.yml
  .github/workflows/semver-checks.yml
Due: none

test_sequence => test_then, both orders
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run ci checks on PRs to any branch (#2082)
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/pr-title.yml
  .github/workflows/semver-checks.yml
Due: none

feat!: Allow generic Nodes in HugrMut insert operations
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Don't expose `HugrMutInternals`
  hugr-core/src/hugr/rewrite/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Mark all Error enums as non_exhaustive
  hugr-core/src/extension.rs
  hugr-core/src/hugr/serialize/upgrade.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/table/mod.rs
  hugr-passes/src/lower.rs
  hugr-passes/src/non_local.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-passes/src/validation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: move in result classes from guppylang
  hugr-py/src/hugr/qsys_result.py
  hugr-py/tests/test_qsys_result.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Allow generic Nodes in HugrMut insert operations (#2075)
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Don't expose `HugrMutInternals` (#2071)
  hugr-core/src/hugr/rewrite/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

IfTrueThen=>IfThen, test; derive PartialEq for UntupleResult
  hugr-passes/src/composable.rs
  hugr-passes/src/untuple.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

imports wtf git
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

trait AsConcrete
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/value_handle.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/results.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

LatticeWrapper requires only PartialEq+PartialOrd
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Mark all Error enums as non_exhaustive (#2056)
  hugr-core/src/extension.rs
  hugr-core/src/hugr/serialize/upgrade.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/table/mod.rs
  hugr-passes/src/lower.rs
  hugr-passes/src/non_local.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-passes/src/validation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

PartialValue: Arbitrary+TestSumType etc. generates LoadedFunction
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix all-features
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy, fix predecence
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Expand SimpleReplacement::ApplyResult type
  hugr-core/src/hugr/rewrite/simple_replace.rs
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test LatticeWrapper
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Default includes handlers, new_empty does not
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Expand SimpleReplacement::ApplyResult type
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Handle CallIndirect in Dataflow Analysis (#2059)
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/const_fold/value_handle.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/results.rs
  hugr-passes/src/dataflow/test.rs
  hugr-passes/src/dataflow/value_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: ReplaceTypes: handlers for array constants + linearization (#2023)
  hugr-core/src/std_extensions/collections/array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add pytket dev/optional deps
  hugr-py/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
