Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

.
  hugr-core/src/builder/cfg.rs
  hugr-core/src/builder/conditional.rs
  hugr-core/src/export.rs
  hugr-core/src/types/sequence.rs
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

.
  hugr-core/src/builder/cfg.rs
  hugr-core/src/types/sequence.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix panic in model resolver when variable is used outside of symbol.
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/scope/vars.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Introduce `Polymorphic<T>` type.
  hugr-core/src/types/poly_func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove `PolyFuncTypeBase` in favour of a `Polymorphic<T>` type.
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: Fix panic in model resolver when variable is used outside of symbol. (#2362)
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/scope/vars.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make `Signature` and `FuncValueType` into their own types.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/extension.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add TryFrom impls for TypeArg/TypeRow
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Create Module/FunctionBuilders from existing Hugrs (#2359)
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: ensure std extension versions are updated if they change
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

revertme: test change
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/std/_json_defs/logic.json
  specification/std_extensions/logic.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update the version
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/std/_json_defs/logic.json
  specification/std_extensions/logic.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new rust lints
  hugr-cli/src/main.rs
  hugr-core/src/hugr/views.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new rust lints (#2365)
  hugr-cli/src/main.rs
  hugr-core/src/hugr/views.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add tests
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert test changes
  .github/workflows/ci-py.yml
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/std/_json_defs/logic.json
  scripts/check_extension_versions.py
  specification/std_extensions/logic.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add op to prelude
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test change
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/std/_json_defs/logic.json
  specification/std_extensions/logic.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix base sha
  .github/workflows/ci-py.yml
Due: none

Revert "test change"
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/std/_json_defs/logic.json
  specification/std_extensions/logic.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: bugs in version check
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add TryFrom impls for TypeArg/TypeRow (#2366)
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename find_pinned_ports and add in/out-specific ones
  hugr-persistent/src/walker.rs
  hugr-persistent/src/wire.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: ensure std extension versions are updated if they change (#2364)
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

add initial implementation
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

doc typo
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add initial (failing) test
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

add docstring
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: some docs typos
  hugr-model/src/v0/binary/read.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use a visit dict
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

use decendants method
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: only reduce degree if nodes are connected
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

add a type annotation for mypy
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add test
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core): check for breaking version mismatch in used extensions
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: add generator metadata keys to spec
  specification/hugr.md
Due: none

feat: include generator in package reading errors
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: remove deprecated runtime extension errors
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add serial data types for SimpleReplacement and PersistentHugr (#2300)
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/patch/simple_replace/serial.rs
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/resolver.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/state_space/serial.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
