Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

Added test case for const adt with values.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: none

Fixed lints in `hugr-llvm` to make CI happy.
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Constant values in `hugr-model` (#1838)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/constant.rs
  hugr-core/tests/model.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/int.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-alias.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-decl-exts.edn
  hugr-model/tests/fixtures/model-lists.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-params.edn
  hugr-model/tests/snapshots/text__declarative_extensions.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip fix llvm ci
  .github/workflows/ci-rs.yml
  hugr-llvm/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update devenv
  devenv.lock
  devenv.nix
  devenv.yaml
  uv.lock
Due: none

try making inkwell optional
  .github/workflows/ci-rs.yml
  hugr-llvm/Cargo.toml
Due: none

try just installing llvm
  .github/workflows/ci-rs.yml
Due: none

Revert "try making inkwell optional"
  .github/workflows/ci-rs.yml
  hugr-llvm/Cargo.toml
Due: none

[revertme] use stable channel
  devenv.lock
  devenv.nix
Due: none

rust 1.84 clippy fixes
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/sibling.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

install llvm all the time
  .github/workflows/ci-rs.yml
Due: none

simplify env vars
  .github/workflows/ci-rs.yml
Due: none

try apt installing semver checks
  .github/workflows/semver-checks.yml
Due: none

ci: fixes to runner image update (#1847)
  .github/workflows/ci-rs.yml
  .github/workflows/semver-checks.yml
  devenv.lock
  devenv.nix
  devenv.yaml
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/sibling.rs
  hugr-llvm/src/lib.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: devenv back to rust stable 1.84
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

Bytes literal in hugr-model.
  Cargo.toml
  hugr-core/src/import.rs
  hugr-model/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/fixtures/model-literals.edn
  hugr-model/tests/snapshots/text__literals.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: devenv back to rust stable 1.84 (#1853)
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

refactor: avoid breaking the public API
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: allow add_input/add_output on all DFGs
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update extension specs
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  specification/std_extensions/arithmetic/int.json
Due: none

feat(hugr-llvm): Emit ipow (#1839)
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__ipow@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__ipow@pre-mem2reg@llvm14.snap
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  specification/std_extensions/arithmetic/int.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: add a MutableIO trait on Alan's suggestion
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Bytes literal in hugr-model. (#1845)
  Cargo.toml
  hugr-core/src/import.rs
  hugr-model/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/fixtures/model-literals.edn
  hugr-model/tests/snapshots/text__literals.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Actually increase test coverage
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-model/tests/fixtures/model-cfg.edn
Due: none

Improved test coverage
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/tests/fixtures/model-constraints.edn
Due: none

Bugfixes in model import and export.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Three bugfixes in model import and export. (#1844)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-constraints.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Import/export metadata in new representation.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-decl-exts.edn
  hugr-model/tests/snapshots/text__declarative_extensions.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: use input_count/output_count rather than port_count
  hugr-passes/src/static_eval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: break out make_mu for both input/output using Direction
  hugr-passes/src/static_eval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implement peel_tailloop (untested)
  hugr-core/src/types.rs
  hugr-passes/src/static_eval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

python: Iterative factorial function, std.int.IMul
  hugr-py/src/hugr/std/int.py
  hugr-py/tests/test_cond_loop.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add Rust test of iterative_tailloop (failing)
  hugr-passes/src/static_eval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

set_num_ports; fix break sig + continue node ordering
  hugr-passes/src/static_eval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add LoadConstant when converting Conditional to DFG --> TEST PASSES!
  hugr-passes/src/static_eval.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "fix: add a MutableIO trait on Alan's suggestion"
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Fix typo in `DataflowParent` doc
  hugr-core/src/ops/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Doug's attempt
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Update python lockfile
  hugr-py/poetry.lock
  hugr-py/pyproject.toml
  hugr-py/tests/serialization/test_extension.py
  uv.lock
Due: poetry-install, ruff-format, ruff-check, mypy-check, py-test

Update schemas generated by pydantic 2.10
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
