Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

Cleanup.
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make mypy happy
  hugr-py/src/hugr/model/__init__.py
  hugr-py/src/hugr/model/export.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

address comments
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__emit_static_array_of_static_array@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__emit_static_array_of_static_array@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_0.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_1.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_2.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_3.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_0.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_1.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_2.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_3.snap
  hugr-llvm/src/extension/collections/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Python lints.
  hugr-py/src/hugr/__init__.py
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/model/__init__.py
  hugr-py/src/hugr/model/export.py
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/std/float.py
  hugr-py/src/hugr/std/int.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: StaticArrayValue serialisation (#2009)
  .gitignore
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-py/src/hugr/std/collections/static_array.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Add llvm codegen for collections.static_array (#2003)
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@pre-mem2reg@llvm14_2.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@pre-mem2reg@llvm14_3.snap
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__emit_static_array_of_static_array@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__emit_static_array_of_static_array@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_0.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_1.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_2.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@llvm14_3.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_0.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_1.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_2.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_const_codegen@pre-mem2reg@llvm14_3.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@llvm14_0.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@llvm14_1.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@llvm14_2.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@llvm14_3.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@pre-mem2reg@llvm14_0.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@pre-mem2reg@llvm14_1.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@pre-mem2reg@llvm14_2.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__static_array_op_codegen@pre-mem2reg@llvm14_3.snap
  hugr-llvm/src/extension/collections/static_array.rs
  hugr-llvm/src/extension/prelude/snapshots/hugr_llvm__extension__prelude__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/prelude/snapshots/hugr_llvm__extension__prelude__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/prelude/snapshots/hugr_llvm__extension__prelude__array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/prelude/snapshots/hugr_llvm__extension__prelude__array__test__emit_get@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__inarrow_s@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__inarrow_s@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__inarrow_u@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__inarrow_u@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__ineg@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__ineg@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Inconsistent behaviour in `SiblingSubgraph::from_nodes`
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: MakeTuple->UnpackTuple elision pass
  Cargo.lock
  hugr-passes/Cargo.toml
  hugr-passes/src/lib.rs
  hugr-passes/src/untuple.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert!: Revert breaking change to `StaticArrayValue`
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fmt
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

lint
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

revert!: Revert breaking change to `StaticArrayValue` (#2013)
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(main): release hugr-py 0.11.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add another test of Conditional + Case
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

make non-breaking
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Cargo.lock, missed hugr-core
  Cargo.lock
  hugr-core/Cargo.toml
Due: none

common up read_op
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test tidies
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release (#2002)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(main): release hugr-py 0.11.2 (#1996)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Don't enable envelope compression by default (yet)
  hugr-core/src/envelope/header.rs
  hugr-py/src/hugr/envelope.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Don't enable envelope compression by default (yet) (#2014)
  hugr-core/src/envelope/header.rs
  hugr-py/src/hugr/envelope.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Inconsistent behaviour in `SiblingSubgraph::from_nodes` (#2011)
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.11.3
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.15.2
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

update uv.lock
  uv.lock
Due: none

chore: release v0.15.2 (#2016)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(main): release hugr-py 0.11.3 (#2015)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Update uv.lock on release-please PRs
  release-please-config.json
Due: none

ci: Update uv.lock on release-please PRs (#2017)
  release-please-config.json
Due: none

No need to validate, run() does it for us
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

check_sig: use Option::unzip to tuple-ize
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

do_copy_chain => insert_copy_discard
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add LinearizeError
  hugr-passes/src/lower_types.rs
  hugr-passes/src/lower_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add copy/dup linearization stuff
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move private utility classes below the pub ones
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pass Linearizer to callbacks
  hugr-passes/src/lower_types.rs
  hugr-passes/src/lower_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move insert_copy_discard into Linearizer
  hugr-passes/src/lower_types.rs
  hugr-passes/src/lower_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
