Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

fix docs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc insert_region
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Doc insert..._link_nodes wrt. optional Parent
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

insert_region calls insert_hugr, not the other way around
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixup! doc insert_region
  hugr-core/src/builder/build_traits.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Support LineConvexChecker
  Cargo.lock
  Cargo.toml
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Deprecate insert_region. It had no test coverage anyway...
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc error
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Enable `too_long_first_doc_paragraph` lint
  Cargo.toml
  hugr-core/src/envelope.rs
  hugr-core/src/extension/resolution.rs
  hugr-core/src/types.rs
  hugr-core/src/types/signature.rs
  hugr-llvm/src/custom.rs
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/custom/load_constant.rs
  hugr-llvm/src/utils/fat.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Enable `too_long_first_doc_paragraph` lint (#2498)
  Cargo.toml
  hugr-core/src/envelope.rs
  hugr-core/src/extension/resolution.rs
  hugr-core/src/types.rs
  hugr-core/src/types/signature.rs
  hugr-llvm/src/custom.rs
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/custom/load_constant.rs
  hugr-llvm/src/utils/fat.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.13.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

another doc fix for optional-parent, plus correct bracketing around 'of'
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Unpin rust nightly
  .github/workflows/ci-rs.yml
Due: none

Rename NodeLinkingPolicy -> NodeLinkingDirectives. Could remove?
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

setting llvm function linkage using Visibility hugr field
  hugr-llvm/src/emit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixed format
  hugr-llvm/src/emit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(hugr-llvm): Mark `malloc` and `free` as "nobuiltin" to work around an LLVM bug
  hugr-llvm/src/emit/libc.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_clone@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_clone@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new rust lints
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/utils/fat.rs
  hugr-model/src/v0/scope/symbol.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix new rust lints (#2504)
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/utils/fat.rs
  hugr-model/src/v0/scope/symbol.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Unpin rust nightly (#2499)
  .github/workflows/ci-rs.yml
Due: none

Tree-sitter experiments
  Cargo.lock
  hugr-model/Cargo.toml
  hugr-model/build.rs
  hugr-model/src/v0/ast/ts.rs
  hugr-model/src/v0/ast/ts_bak.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Separate out names.
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/names.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/ast/ts.rs
  hugr-model/src/v0/ast/ts_bak.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Separate out literals.
  hugr-model/src/v0/ast/literals.rs
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/names.rs
  hugr-model/src/v0/ast/ts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Error handling
  Cargo.lock
  hugr-model/Cargo.toml
  hugr-model/src/v0/ast/ts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add tree-sitter-hugr to repository.
  Cargo.lock
  Cargo.toml
  hugr-model/Cargo.toml
  tree-sitter-hugr/.editorconfig
  tree-sitter-hugr/.gitattributes
  tree-sitter-hugr/.gitignore
  tree-sitter-hugr/Cargo.toml
  tree-sitter-hugr/Makefile
  tree-sitter-hugr/bindings/rust/build.rs
  tree-sitter-hugr/bindings/rust/lib.rs
  tree-sitter-hugr/core.thugr
  tree-sitter-hugr/editors/helix/highlights.scm
  tree-sitter-hugr/grammar.js
  tree-sitter-hugr/package.json
  tree-sitter-hugr/queries/highlights.scm
  tree-sitter-hugr/src/grammar.json
  tree-sitter-hugr/src/node-types.json
  tree-sitter-hugr/src/parser.c
  tree-sitter-hugr/src/tree_sitter/alloc.h
  tree-sitter-hugr/src/tree_sitter/array.h
  tree-sitter-hugr/src/tree_sitter/parser.h
  tree-sitter-hugr/test.thugr
  tree-sitter-hugr/test2.thugr
  tree-sitter-hugr/topiary-hugr.ncl
  tree-sitter-hugr/topiary/queries/hugr.scm
  tree-sitter-hugr/tree-sitter.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Literal parsing.
  hugr-model/src/v0/ast/literals.rs
  hugr-model/src/v0/ast/names.rs
  hugr-model/src/v0/ast/ts.rs
  tree-sitter-hugr/grammar.js
  tree-sitter-hugr/src/grammar.json
  tree-sitter-hugr/src/node-types.json
  tree-sitter-hugr/src/parser.c
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Deprecate HugrInputArgs::get_hugr
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doc comment parsing.
  hugr-model/src/v0/ast/ts.rs
  tree-sitter-hugr/grammar.js
  tree-sitter-hugr/src/grammar.json
  tree-sitter-hugr/src/node-types.json
  tree-sitter-hugr/src/parser.c
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(cli): Deprecate HugrInputArgs::get_hugr (#2506)
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Hike portgraph to 0.15.2
  Cargo.lock
  Cargo.toml
Due: none

feat: Support LineConvexChecker (#2487)
  Cargo.lock
  Cargo.toml
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Overwrite to 0.22.2
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release (#2493)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat(hugr-cli): CliError helper
  hugr-cli/src/lib.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
