Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-nextest
        name: cargo nextest r
        description:
          Run tests with `cargo nextest`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

println -> writeln
  hugr-cli/src/describe.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat: extract partial package information when loading
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

update description at end of read
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

wrap payloaderror
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

start json out
  hugr-cli/src/describe.rs
  hugr-core/src/envelope/description.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix test
  hugr-cli/tests/validate.rs
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

driveby typos
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

described error
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

refactor: in to module
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

remove unused read
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

remove remaining uses of read_envelope
  hugr-cli/tests/convert.rs
  hugr-core/src/envelope.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

move errors to reader module
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

no more withgenerator for json
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

refactor in to reader struct
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

add number of nodes
  hugr-core/src/envelope/description.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

centralise extension resolution
  hugr-core/src/envelope.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

track description on model import
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

handle WithGenerator deprecation
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

rename + serialization
  hugr-cli/src/describe.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

implement error conversions
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

update cli i/o to use new reader
  hugr-cli/src/convert.rs
  hugr-cli/src/describe.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

finish filtered json out
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-cli/src/describe.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

add basic describe tests
  hugr-cli/src/describe.rs
  hugr-cli/tests/describe.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Downgrade pyo3, bump derive_more
  Cargo.lock
  Cargo.toml
  hugr-core/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Add docstrings.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Raise NotImplementedError instead of returning nonsense.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix validation...breaking tests
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Fix ReplaceTypes tests - Function containing DFG entrypoint not replacetype'd
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

normalize_cfgs: handle nonlocal edges from Entry. TODO into exit-pred...
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Refactor and add TODO comment.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Import CFGs.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): loosen dependencies to allow for 3.14 support
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  Cargo.lock
  Cargo.toml
  devenv.lock
  hugr-py/pyproject.toml
  uv.lock
Due: none

fix test
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Expand TODO.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Outline exit predecessor only if no op inside has nonlocal inputs
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Revert "Fix ReplaceTypes tests" (back to DFGBuilder) - ReplaceTypes whole Hugr
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Refactor.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

don't panic if there are ext edges into exit-predecessor
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

update lockfile
  Cargo.lock
  Cargo.toml
Due: none
