Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat: make errors more readable with Display impls (#1597)
  hugr-core/src/builder.rs
  hugr-core/src/builder/conditional.rs
  hugr-core/src/core.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/hugr/rewrite/consts.rs
  hugr-core/src/hugr/rewrite/insert_identity.rs
  hugr-core/src/hugr/rewrite/outline_cfg.rs
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/import.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/ops/validate.rs
  hugr-core/src/types.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/utils.rs
  hugr-model/Cargo.toml
  hugr-model/src/v0/mod.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Resolve the names of custom ops in import given the id of the node.
  hugr-core/src/import.rs
  hugr-model/src/v0/text/hugr.pest
  type-bounds.md
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run cargo-semver-checks on PRs
  .github/workflows/ci-rs.yml
Due: none

Test a non-breaking change
  hugr/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't run on merge queues
  .github/workflows/ci-rs.yml
Due: none

Install capnproto...
  .github/workflows/ci-rs.yml
Due: none

test breaking change
  hugr-cli/src/main.rs
  hugr-cli/src/validate.rs
  hugr/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Undo breaking change
  hugr-cli/src/main.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update semver-checks text
  DEVELOPMENT.md
Due: none

docs: Add help docs about `semver-checks` (#1590)
  DEVELOPMENT.md
  justfile
  release-please-config.json
  release-plz.toml
Due: none

chore: release v0.14.0
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

fix(py): allow conditional cases to be defined out of order
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/tests/test_cond_loop.py
Due: ruff-format, ruff-check, mypy-check, py-test

Separate AnalysisResults from Machine, use context.exactly_one() not HugrView
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/machine.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move try_into_wire_value => AnalysisResults.try_read_wire_value
  hugr-passes/src/dataflow/machine.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update devenv (#134)
  devenv.lock
  src/emit/args.rs
  src/sum.rs
  src/utils/fat.rs
  src/utils/type_map.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc fixes and fix comment
  hugr-passes/src/dataflow/machine.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Try to make clippy happy
  hugr-passes/src/dataflow/machine.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Unpin nightly rustc (#135)
  .github/workflows/ci-rs.yml
  src/utils/array_op_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cleanup changes override vars
  .github/workflows/ci-rs.yml
Due: none

Use hugrverse-actions @ `main`
  .github/workflows/ci-rs.yml
Due: none

AsRef<[Hugr]>
  hugr-cli/src/lib.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove unneeded clone
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run cargo-semver-checks on PRs (#1598)
  .github/workflows/ci-rs.yml
Due: none

s/update/update_validate
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Missing some renames
  hugr-cli/src/lib.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Conversion operations having poison results (#131)
  src/extension/conversions.rs
  src/extension/snapshots/hugr_llvm__extension__conversions__test__trunc_s@llvm14.snap
  src/extension/snapshots/hugr_llvm__extension__conversions__test__trunc_s@pre-mem2reg@llvm14.snap
  src/extension/snapshots/hugr_llvm__extension__conversions__test__trunc_u@llvm14.snap
  src/extension/snapshots/hugr_llvm__extension__conversions__test__trunc_u@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Ensure packages always have modules at the root (#1589)
  hugr-cli/src/lib.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Unbreak release
  hugr-cli/Cargo.toml
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

workaround a derive_more linting error
  hugr-core/src/package.rs
  release-please-config.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Support `tket2.rotation.from_halfturns_unchecked` (#133)
  Cargo.lock
  Cargo.toml
  src/extension/prelude.rs
  src/extension/rotation.rs
  src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@llvm14.snap
  src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Unbreak release (#1591)
  hugr-cli/Cargo.toml
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-core/src/package.rs
  release-please-config.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.6.0 (#114)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

ci: Don't semver-check if `cargo check` fails
  .github/workflows/ci-rs.yml
Due: none

Back to hugrverse-actions@main
  .github/workflows/ci-rs.yml
Due: none

Fix/make-compile total_context.rs
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

total_context: return PartialValue, as need some repr of Sum
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

const_fold2: disable missing-docs warning
  hugr-passes/src/const_fold2.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix context, value_handle
  hugr-passes/src/const_fold2/context.rs
  hugr-passes/src/const_fold2/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Don't semver-check if `cargo check` fails (#1602)
  .github/workflows/ci-rs.yml
Due: none

chore: release v0.13.2
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none
