Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-nextest
        name: cargo nextest r
        description:
          Run tests with `cargo nextest`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Import "core.load_const" nodes and "core.const.adt" values (WIP).
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Fix broken intra doc links
  hugr-core/src/hugr/patch.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Agustin's suggested Protocol class
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

minor fixes
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

more methods
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Fix broken intra doc links (#2635)
  hugr-core/src/hugr/patch.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

import Self from typing_extensions
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix import
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove to_dict and from_dict methods as well as supported Ops
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove unused import
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

node -> entrypoint
  hugr-py/src/hugr/hugr/pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: update uv version
  .github/workflows/ci-py.yml
Due: none

fix(py): loosen dependencies to allow for 3.14 support
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  Cargo.toml
  devenv.lock
  hugr-py/pyproject.toml
  uv.lock
Due: none

fix(py): loosen dependencies to allow for 3.14 support (#2634)
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  Cargo.toml
  devenv.lock
  hugr-py/pyproject.toml
  uv.lock
Due: none

chore: Add python 3.14 classifier to pyproject
  hugr-py/pyproject.toml
Due: none

rename and update __init__.py
  hugr-py/src/hugr/hugr/__init__.py
  hugr-py/src/hugr/hugr/composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Add python 3.14 classifier to pyproject (#2638)
  hugr-py/pyproject.toml
Due: none

chore(main): release hugr-py 0.14.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv sync
  uv.lock
Due: none

chore(main): release hugr-py 0.14.1 (#2637)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Tell dependabot to ignore smol_str >=0.3.4.
  .github/dependabot.yml
Due: none

ci: Tell dependabot to ignore smol_str >=0.3.4. (#2647)
  .github/dependabot.yml
Due: none

make a passes module
  hugr-py/src/hugr/build/__init__.py
  hugr-py/src/hugr/build/passes/composable_pass.py
  hugr-py/src/hugr/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

move passes into hugr root
  hugr-py/src/hugr/passes/composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove from build
  hugr-py/src/hugr/build/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

add __init__.py for passes
  hugr-py/src/hugr/passes/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

undo init changes
  hugr-py/src/hugr/build/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

update __all__
  hugr-py/src/hugr/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix __all__ again
  hugr-py/src/hugr/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: update docs build uv version
  .github/workflows/docs.yml
Due: none

ci: update docs build uv version (#2648)
  .github/workflows/docs.yml
Due: none

don't panic if there are ext edges into exit-predecessor
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Convert entry to DFG or leave alone if outgoing nonlocals
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

ReplaceTypes tests back to DFGBuilder - ReplaceTypes whole Hugr
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Inline entry-block (reporting nodes moved), thus preserving nonlocal edges
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

clarify checks
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

and more
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: validation outside entrypoint, normalize_cfgs w/ nonlocal edges (#2633)
  hugr-core/src/hugr/validate.rs
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/normalize_cfgs.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Retain parametrized rstest
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc
