Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
Due: none

bump init version
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix url
  hugr-py/CHANGELOG.md
Due: none

chore(main): release hugr-py 0.13.0 (#2486)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/Cargo.toml
Due: none

chore: uv.lock update
  uv.lock
Due: none

chore: uv.lock update (#2494)
  uv.lock
Due: none

WIP plan tests + impl some. Lots fail but hitting ALAN NO COVERAGE
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

got test coverage now; standardize error when parent==Some for module-entrypoint
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

_link_nodes / _link_names -> HashMap not InsertionResult, maybe no entrypoint
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix the commented-out Hugr-equality test
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixup! _link_nodes / _link_names
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix assert, closure for pol
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

idea in comments for now, to revert
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "idea in comments for now, to revert"
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test3
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: added public func getter for EmitFuncContext (#2482)
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fixed test fixture.
  hugr-core/src/types/type_param.rs
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Type of constants in `core` `Term`s. (#2411)
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ci: Avoid `release-plz` closing PRs unnecessarily (#2472)
  .github/workflows/release-plz.yml
Due: none

Add option to render a subgraph of a hugr.
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
Due: ruff-format, ruff-check, mypy-check, py-test

Simplify logic.
  hugr-py/src/hugr/hugr/render.py
Due: ruff-format, ruff-check, mypy-check, py-test

Super-powered linking: link when two modules, or func inside entrypoint
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "Super-powered linking: link when two modules, or func inside entrypoint"
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve labels and styling of external nodes.
  hugr-py/src/hugr/hugr/render.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add snapshot test.
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rust sitter experiments...
  Cargo.lock
  hugr-model/Cargo.toml
  hugr-model/build.rs
  hugr-model/core.thugr
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/ts.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add option to render a subgraph of a hugr. (#2497)
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove AddAll+AddNone, so single-variant enum
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make NameLinkingPolicy into a struct - TODO accessors
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert to acl/insert_hugr_defns behaviour of insert_{hugr,from_view}
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add NodeLinkingPolicy (typedef)
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add Replace inside NodeLinkingDirective::Add - not tested
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

replace_static_src uses remove_subtree not remove_node
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

InsertDefnMode(::Replace) => NodeLinkingDirective(::UseExisting), move, no Copy
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

NodeLinkingDirective::Add allows replacing multiples
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

_link_nodes: parent is Option
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

_link_nodes -> HashMap not InsertionResult, as may be no entrypoint
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test of Add+Replace, hits NO COVERAGE -> remove
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
