Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Avoid propolutate by interpreting LoadConstant (only)
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "Avoid propolutate by interpreting LoadConstant (only)"
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tiny const_fold2 doc tweaks
  hugr-passes/src/const_fold2/context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

(TEMP) remove const_fold2 module
  hugr-passes/src/const_fold2.rs
  hugr-passes/src/const_fold2/context.rs
  hugr-passes/src/const_fold2/value_handle.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

(TEMP) Rm total_context
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "(TEMP) Rm total_context"
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "(TEMP) remove const_fold2 module"
  hugr-passes/src/const_fold2.rs
  hugr-passes/src/const_fold2/context.rs
  hugr-passes/src/const_fold2/value_handle.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Better fix for PartialSum::try_meet_mut
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

true_or_false uses pv_true+pv_false
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update to ascent 0.7.0, drop fn join/meet as these are now trait-default
  hugr-passes/Cargo.toml
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cargo.toml: oops, remove obsolete comment
  hugr-passes/Cargo.toml
Due: none

chore: specifcy hugr-model version
  hugr-core/Cargo.toml
Due: none

chore: specifcy hugr-model version (#1563)
  hugr-core/Cargo.toml
Due: none

ValueRow cleanups (remove misleading 'pub's)
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Refactor: rm tail_node, clone earlier in ValueRow::unpack_first, rm ValueRow::iter
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Try to not repeat ourselves in the spec for CFGs
  specification/hugr.md
Due: none

Add datalog for CFG
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Enable `release-plz` for `hugr-model`
  release-plz.toml
Due: none

ci: Enable `release-plz` for `hugr-model` (#1566)
  release-plz.toml
Due: none

refactor: follow unpack_first with enumerate
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: return replaced ops from lowering
  .github/workflows/ci-py.yml
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: return replaced ops from lowering (#1568)
  .github/workflows/ci-py.yml
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove comments from test_tail_loop_(iterates_twice->two_iters)
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add a test of tail loop around conditional
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

improve that test - loop input is a sum and the variants have different values
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy/nth
  hugr-core/src/types.rs
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert accidental changes to hugr-core/src/types.rs (how?!)
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Try to not repeat ourselves in the spec for CFGs (#1565)
  specification/hugr.md
Due: none

chore(main): release hugr-py 0.9.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Cleanup conditional, cfg, unpack_first
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: `FunctionBuilder::add_{in,out}put`
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/hugr/internal.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Complex CFG that does a not-XOR...but analysis generally says "true or false"
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Propagate case results to conditional output only if case reached; some test fix
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More test cases
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor as fixture
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: rework extensions interface (#119)
  Cargo.lock
  Cargo.toml
  src/custom.rs
  src/custom/conversions.rs
  src/custom/extension_op.rs
  src/custom/float.rs
  src/custom/int.rs
  src/custom/load_constant.rs
  src/custom/logic.rs
  src/custom/prelude.rs
  src/custom/prelude/array.rs
  src/custom/rotation.rs
  src/custom/types.rs
  src/emit.rs
  src/emit/args.rs
  src/emit/func.rs
  src/emit/ops.rs
  src/emit/ops/cfg.rs
  src/emit/test.rs
  src/sum.rs
  src/test.rs
  src/types.rs
  src/utils.rs
  src/utils/type_map.rs
  tests/guppy.rs
  tests/guppy_test_cases/.gitattributes
  tests/guppy_test_cases/even_odd.py
  tests/guppy_test_cases/even_odd.py.json
  tests/guppy_test_cases/even_odd2.py
  tests/guppy_test_cases/even_odd2.py.json
  tests/guppy_test_cases/planqc-1.py
  tests/guppy_test_cases/planqc-1.py.json
  tests/guppy_test_cases/planqc-2.py
  tests/guppy_test_cases/planqc-2.py.json
  tests/guppy_test_cases/planqc-3.py
  tests/guppy_test_cases/planqc-3.py.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test
