Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

pub=>public, priv=>private
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-constraints.edn
  hugr-model/tests/fixtures/model-entrypoint.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-order.edn
  hugr-model/tests/fixtures/model-params.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: hugr-model use explicit Option<Visibility>, with ::Unspecified in capnp (#2424)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-constraints.edn
  hugr-model/tests/fixtures/model-entrypoint.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-order.edn
  hugr-model/tests/fixtures/model-params.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add replace_parametrized_op_with taking better callback
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix deprecations in tests
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update snapshot.
  hugr-core/tests/snapshots/model__roundtrip_order.snap
Due: none

fix: Order hints on input and output nodes. (#2422)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/src/v0/mod.rs
  hugr-model/tests/fixtures/model-order.edn
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: release v0.21.0
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Remove changes already published in out-of-branch patch
  hugr-cli/CHANGELOG.md
  hugr-core/CHANGELOG.md
  hugr-llvm/CHANGELOG.md
  hugr-model/CHANGELOG.md
  hugr-passes/CHANGELOG.md
  hugr/CHANGELOG.md
Due: none

closure returns Result
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

List main release changes
  hugr/CHANGELOG.md
Due: none

Deprecate+rename linearizer->linearizer_mut
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

...and add get_linearizer
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

driveby: shorten lifetimes
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

driveby: note about LocalizeEdges
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: enable Model as default BINARY envelope format
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: typo in EnvelopeFormat
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.21.0 (#2303)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

test: skip value function tests
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Setup hugr-persistent for release
  Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-persistent/README.md
  release-plz.toml
Due: none

test: validate text and binary formats
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: set default binary to zstd default compression
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(py)!: enable Model as default BINARY envelope format (#2317)
  hugr-py/src/hugr/envelope.py
  hugr-py/tests/conftest.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Setup hugr-persistent for release (#2427)
  Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-persistent/README.md
  release-plz.toml
Due: none

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Enable hugr-persistent automatic releases
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  release-plz.toml
Due: none

chore: Enable hugr-persistent automatic releases (#2428)
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  release-plz.toml
Due: none

Fix export of `Call` nodes in `hugr-py`.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Instead, add ReplaceTypes::process_replacements: bool; refactor +change_subtree
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Export entrypoint in Python.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Lints.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename `Term::Const` to `Term::ConstType` and add more docs.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add `Const` branch to new match in test.
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test import/export roundtrip of `Term::ConstType`.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/tests/fixtures/model-const.edn
Due: none

Update JSON schema to account for the `Const` to `ConstType` change.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Type of constants in `core` `Term`s.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Common up replace + checks+change_subtrees...driveby remove a clone
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove process_replacements, add replace_parametrized_op_recursive
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Standarize the string formating of sum types and values
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fixed bug in import that added nodes to the entrypoint instead of the root.
  hugr-core/src/import.rs
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
