Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Lints and link to const issue.
  hugr-core/src/import.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

`TermVar`.
  hugr-core/src/export.rs
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Lints.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Extension resolution on `Term`s.
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Formatting.
  hugr-core/src/extension/resolution.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Adjusted doc comments.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Open lists and tuples in `TypeArg`.
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/import.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: enable Model as default BINARY envelope format
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: typo in EnvelopeFormat
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

test(py): check roundtrip through CLI
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor: roundtrip for HUGR too
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: FunctionValue serialisation to string
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/val.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

test(py): check roundtrip through CLI (#2332)
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/conftest.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

FuncDefn deprecations
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/root_checked/dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

FuncDecl deprecation(?)
  hugr-core/src/hugr/views/render.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove get_func_name, we have the defn/decl to hand
  hugr-core/src/export.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

model import/export via metadata
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

And update snapshots
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
Due: none

Fix monomorphize test
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

imports
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

(just) clippy
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Export metadata to model for dfg regions and module regions.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Make mypy happy.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Export metadata in Python (#2342)
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Move IncludeExports up to root of hugr-passes, use for const_fold, +deprecate
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  hugr-core/src/hugr/validate.rs
  hugr-model/src/v0/mod.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Common up 3 reading symbols
  hugr-model/src/v0/binary/read.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(persistent): Add serialisation for CommitStateSpace
  Cargo.lock
  hugr-persistent/Cargo.toml
  hugr-persistent/src/lib.rs
  hugr-persistent/src/parents_view.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/resolver.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/state_space/serial.rs
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
  hugr-persistent/src/tests.rs
  hugr-persistent/src/trait_impls.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

And two more by specifying constraints
  hugr-model/src/v0/binary/read.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

follow-up to 2343
  hugr-model/src/v0/binary/read.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cherry-pick #2343
  hugr-model/src/v0/binary/read.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

model Visibility w/temp(), update capnp, revert model metadata/link_name
  hugr-cli/tests/convert.rs
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/ast/view.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update snapshots again (Revert metadata, add "pub")
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
Due: none

Add serialisation for PersistentHugr
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/persistent_hugr/serial.rs
  hugr-persistent/src/resolver.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/state_space/serial.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

improve cov
  hugr-persistent/src/resolver.rs
  hugr-persistent/src/state_space/serial.rs
  hugr-persistent/src/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add test
  hugr-persistent/src/persistent_hugr/serial.rs
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove commented-out define_funtion_link_name, revert hugr-cli debug
  hugr-cli/tests/convert.rs
  hugr-core/src/builder/build_traits.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixes
  hugr-persistent/src/lib.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/resolver.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/walker/pinned.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
