Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

feat(hugr-llvm): Emit iu_to_s and is_to_u
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_ineg_[2].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_ineg_[2].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/snapshots/hugr_llvm__sum__test__build_untag_tag@llvm14.snap
  hugr-llvm/src/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

a few tweaks
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update snapshots
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_iu_to_s_[3].snap
Due: none

Make EnvelopeConfig.TEXT a classvar field
  hugr-py/src/hugr/envelope.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_extension.py
Due: ruff-format, ruff-check, mypy-check, py-test

panic -> bail
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hugr-llvm): Emit iu_to_s and is_to_u (#1978)
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_ineg_[2].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_ineg_[2].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/snapshots/hugr_llvm__sum__test__build_untag_tag@llvm14.snap
  hugr-llvm/src/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cleanup unused deps
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
Due: none

Remove zerocopy from tests
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Generic HUGR serialization with envelopes (#1958)
  Cargo.lock
  Cargo.toml
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
  hugr-core/Cargo.toml
  hugr-core/src/builder.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/lib.rs
  hugr-core/src/package.rs
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_extension.py
  hugr/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(main): release hugr-py 0.11.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Add preface to CHANGELOGs
  hugr-cli/CHANGELOG.md
  hugr-core/CHANGELOG.md
  hugr-llvm/CHANGELOG.md
  hugr-passes/CHANGELOG.md
  hugr/CHANGELOG.md
Due: none

chore: release (#1936)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Update uv.lock
  uv.lock
Due: none

chore(main): release hugr-py 0.11.0 (#1954)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

sequence -> then, add note about Infallible
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add default envelope config to `Package.to_str`/`to_bytes`
  hugr-py/src/hugr/package.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Cyclic import in hugr.envelope
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: minor devenv cleanups
  devenv.nix
Due: none

fix: Cyclic import in hugr.envelope (#1981)
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add default envelope config to `Package.to_str`/`to_bytes` (#1980)
  hugr-py/src/hugr/package.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.11.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

rename Err -> Error
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use nixpkgs unstable
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

chore: minor devenv cleanups (#1982)
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

run uv sync
  uv.lock
Due: none

feat(hugr-py): Add to standard extensions
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-py): Add support for static array extension.
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/std/collections/list.py
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: bump uv.lock
  uv.lock
Due: none

chore: bump uv.lock (#1988)
  uv.lock
Due: none

chore(main): release hugr-py 0.11.1 (#1983)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Check copyable
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-py): Add `StaticArray` to standard extensions (#1985)
  hugr-py/src/hugr/std/collections/static_array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add TypeTransformer and (Sum/Function)Type(Arg/Row)::transform
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

trait Transformable to common up all the 'let mut any_change = false' loops
  hugr-core/src/types.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Transformable v2: implement for [E], works without iter_mut/etc. in almost all cases
  hugr-core/src/types.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

first test, fix CustomType bound caching
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Second test, fix SumType caching
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
