Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

Explain the order of the index set in `LinkTable` and `VarTable`.
  hugr-model/src/v0/scope/link.rs
  hugr-model/src/v0/scope/vars.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test module entry_points
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Scoping rules and utilities for symbols, links and variables (#1754)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/scope/link.rs
  hugr-model/src/v0/scope/mod.rs
  hugr-model/src/v0/scope/symbol.rs
  hugr-model/src/v0/scope/vars.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move reachable_funcs outside of CallGraph
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename entry_points<->roots, use extend + assert
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

run tests with validation
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add MonomorphizePass and deprecate monomorphize
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: add reference taking monomorphization functions
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

drive-by: appease typos
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-passes/src/monomorphize.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review comments
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

undo docs change
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add MonomorphizePass and deprecate monomorphize (#1809)
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Add LLVM lowering for logic.Not
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__not@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__not@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Golf
  hugr-llvm/src/extension/logic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Add LLVM lowering for `logic.Not` (#1812)
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__not@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__not@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add wrapper for tagging Some, Left, Right, Break, Continue
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_cond_loop.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

make constructor for Some simpler
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add wrapper for tagging Some, Left, Right, Break, Continue (#1814)
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_cond_loop.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.10.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

uv sync
  uv.lock
Due: none

chore: release (#1794)
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(main): release hugr-py 0.10.1 (#1804)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Don't mark subcrates as "latest" github releases
  release-plz.toml
Due: none

ci: Don't mark subcrates as "latest" github releases (#1815)
  release-plz.toml
Due: none

Add RemoveDeadFuncsPass. TODO make remove_dead_funcs use ValidationLevel::default
  hugr-passes/src/call_graph.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

enclosing{=>_func}, switch order, comment
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add StringVal to hugr-py
  hugr-py/src/hugr/std/prelude.py
  hugr-py/tests/test_prelude.py
Due: ruff-format, ruff-check, mypy-check, py-test

Use Pass in tests
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `StringVal` to hugr-py (#1818)
  hugr-py/src/hugr/std/prelude.py
  hugr-py/tests/test_prelude.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.10.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Python ArrayValue reports wrong constant name Fixes #1821
  hugr-py/src/hugr/std/collections/array.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Add tests for constant value deserialization
  hugr-core/src/ops/constant.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Add tests for constant value deserialization (#1822)
  hugr-core/src/ops/constant.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.14.2
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

fix: allow add_input/add_output on all DFGs
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: avoid breaking the public API
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(py): Fix array/list value serialization
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/std/collections/list.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: `Value::some`, `::none`, and `SumType::new_option` helpers
  hugr-core/src/ops/constant.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
