Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-nextest:
  name: cargo nextest r
  description: Run tests with `cargo nextest`.
  entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

Add pass name to error message
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

if tree
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

Overrite inplace param
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Make `ComposablePass.__call__` return a Hugr (#2697)
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

typo
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

post-merge cleanup
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

not my dummy
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

s/impl_pass_run/implement_pass_run/
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

s/pass_/composable_pass/
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

typos
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

Replace `original_dirty` with `inplace` flag in results, explain flag guarantees
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Result type for ComposablePasses (#2703)
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Improve ComposablePass tests (#2688)
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): patch release hugr-py 0.14.3
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release-py): Bring patch release updates to main
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release-py): Bring patch release updates to main (#2708)
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

comments+renames from review
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Use BTreeMap for LinkActions
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

oops fix merge
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

add ellipsis
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

move pass_result.hugr = hugr assignment after if
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

assign hugr after overwrite
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: set hugr field of `PassResult` correctly (#2715)
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(hugr-py-v0.14.4): release hugr-py 0.14.4
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hupgr-py-v0.14.4): release hugr-py 0.14.4
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-v0.14.4): release hugr-py 0.14.4
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(hugr-py-v0.14.4): release hugr-py 0.14.4 (#2716)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release-py): bring hugr-py-v0.14.4 updates to main
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

release doc updates
  DEVELOPMENT.md
  hugr/README.md
Due: none

correct bracket
  DEVELOPMENT.md
Due: none

docs: Improve instructions for patch release (#2720)
  DEVELOPMENT.md
  hugr/README.md
Due: none

chore(main): release hugr-py 0.15.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove 3* type_complexity, sort some imports
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

remove type_complexities
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

refactor: avoid type_complexity in linking.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Make `link_prefix` nullable and unset it at the end of `import_node_in_module()`.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
