Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

Add breaking changes to the changelogs
  hugr-cli/CHANGELOG.md
  hugr-core/CHANGELOG.md
  hugr-passes/CHANGELOG.md
  hugr/CHANGELOG.md
Due: none

feat: Automatically add the custom op's extension to its 'runtime_reqs' set
  hugr-core/src/extension/op_def.rs
  hugr-py/src/hugr/ext.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

validate custom ops without self extension as runtime_req
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/ops.rs
  hugr-core/src/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Automatically add the custom op's extension to its 'runtime_reqs' set (#1787)
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/resolution.rs
  hugr-core/src/extension/resolution/ops.rs
  hugr-core/src/hugr.rs
  hugr-py/src/hugr/ext.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(main): release hugr-py 0.10.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release (#1786)
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

remove unrelated entries from changelog
  hugr-py/CHANGELOG.md
Due: none

chore(main): release hugr-py 0.10.0 (#1610)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove 'webbrowser' dependency
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Drop unused cargo dependencies
  hugr-cli/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
Due: none

Readd `paste`
  hugr-passes/Cargo.toml
Due: none

read portgraph, used in docs
  hugr-llvm/Cargo.toml
Due: none

chore: uv sync for hugr py update
  uv.lock
Due: none

feat(py): add `ArrayVal`
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Undo breaking changes to hugr-llvm dependency-named features
  hugr-llvm/Cargo.toml
Due: none

chore: uv sync for hugr py update (#1791)
  uv.lock
Due: none

chore: Drop `viz_hugr` test utils. (#1789)
  Cargo.toml
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/utils.rs
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Print `hugr-cli`'s correct version when using '--version'
  hugr-cli/Cargo.toml
  hugr-cli/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add call_graph.rs, start writing docs
  hugr-passes/src/call_graph.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Print `hugr-cli`'s correct version when using '--version' (#1790)
  hugr-cli/Cargo.toml
  hugr-cli/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.14.1
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/Cargo.toml
Due: none

roots == Some(empty) meaningless => make non-Opt; pub CallGraphEdge; docs
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add rust `ArrayValue`
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/list.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove remove_polyfuncs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Warn on missing docs
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add llvm lowering
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Constant folding now tolerates root nodes without input/output nodes
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Lower LoadNat
  hugr-core/src/extension/prelude/generic.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_load_nat@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_load_nat@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Lower LoadNat to LLVM (#1801)
  hugr-core/src/extension/prelude/generic.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_load_nat@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_load_nat@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Cleanup `Display` of types and arguments
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__tests__dot_func.snap
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__tests__dot_module.snap
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

simplify things more
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Cleanup `Display` of types and arguments (#1802)
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__tests__dot_func.snap
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__tests__dot_module.snap
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use named fields
  hugr-core/src/std_extensions/collections/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add ArrayValue to python, rust and lowering (#1773)
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@pre-mem2reg@llvm14.snap
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Constant folding now tolerates root nodes without input/output nodes (#1799)
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: call ops not tracking their parameter extensions
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

also test LoadFunction
  hugr-core/src/extension/resolution/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: `Call` ops not tracking their parameter extensions (#1805)
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Reinstate remove_polyfuncs but deprecate: guess next version number, and suppress warning on re-export
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Name resolution.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/scope/link.rs
  hugr-model/src/v0/scope/mod.rs
  hugr-model/src/v0/scope/symbol.rs
  hugr-model/src/v0/scope/vars.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
