Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Add Option/Result definitions in python
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

rust tests
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Apply suggestions from code review
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

(rs) Rename result to either
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

(py) Rename result to either
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add __str__ impls and more truthful __repr__
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor!: Organise the hugr-py modules
  hugr-py/src/hugr/__init__.py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/_serialization/serial_hugr.py
  hugr-py/src/hugr/build/__init__.py
  hugr-py/src/hugr/build/base.py
  hugr-py/src/hugr/build/cfg.py
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/build/function.py
  hugr-py/src/hugr/build/tracked_dfg.py
  hugr-py/src/hugr/conftest.py
  hugr-py/src/hugr/exceptions.py
  hugr-py/src/hugr/hugr/__init__.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/node_port.py
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_cfg.py
  hugr-py/tests/test_cond_loop.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_nodes.py
  hugr-py/tests/test_tracked_dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix rebase errors
  hugr-py/src/hugr/build/__init__.py
  hugr-py/src/hugr/build/function.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/serialization/test_basic.py
Due: ruff-format, ruff-check, mypy-check, py-test

drop ops/tys re-exports
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor!: Organise the hugr-py modules (#1460)
  hugr-py/src/hugr/__init__.py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/_serialization/serial_hugr.py
  hugr-py/src/hugr/build/__init__.py
  hugr-py/src/hugr/build/base.py
  hugr-py/src/hugr/build/cfg.py
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/build/function.py
  hugr-py/src/hugr/build/tracked_dfg.py
  hugr-py/src/hugr/conftest.py
  hugr-py/src/hugr/exceptions.py
  hugr-py/src/hugr/hugr/__init__.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/node_port.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/src/hugr/ops.py
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/test_cfg.py
  hugr-py/tests/test_cond_loop.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_nodes.py
  hugr-py/tests/test_tracked_dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: `Option` / `Result` helpers (#1481)
  hugr-core/src/extension/prelude.rs
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Sum value equality. Add unit tests
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_tys.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add more list operations
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
  hugr-py/src/hugr/std/_json_defs/collections.json
  specification/std_extensions/collections.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Sum value equality. Add unit tests (#1484)
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_tys.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Fix docs build script error
  .github/workflows/docs.yml
Due: none

Don't publish on a non-main workflow_dispatch
  .github/workflows/docs.yml
Due: none

add setup graphviz step
  .github/workflows/ci-py.yml
Due: none

feat(hugr-py): render config object, with default op names not fully qualified
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
Due: ruff-format, ruff-check, mypy-check, py-test

use dot pipe rather than tempfile
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: add graphviz to devenv
  devenv.nix
Due: none

add rendering to coverage tests
  .github/workflows/ci-py.yml
Due: none

add render testing, flagged by env var
  .github/workflows/ci-py.yml
  hugr-py/tests/conftest.py
  justfile
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-py)!: pretty printing for ops and types
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
Due: ruff-format, ruff-check, mypy-check, py-test

apply review suggestions
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Ignore const fold test
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test `ListOp::set` folding
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add tests for tys strings
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

test ops strings
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Add more list operations (#1474)
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-py/src/hugr/std/_json_defs/collections.json
  specification/std_extensions/collections.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hugr-py)!: pretty printing for ops and types (#1482)
  .github/workflows/ci-py.yml
  devenv.nix
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/render.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/conftest.py
  hugr-py/tests/test_ops.py
  hugr-py/tests/test_tys.py
  justfile
Due: ruff-format, ruff-check, mypy-check, py-test

refactor: Either::Right is the success case
  hugr-core/src/extension/prelude.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/int_ops/const_fold.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_tys.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

`const_fail` instead of `_err`, to distinguish from ERROR_T
  hugr-core/src/extension/prelude.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update extension ops defs
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  hugr-py/src/hugr/std/_json_defs/collections.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/int.json
  specification/std_extensions/collections.json
Due: none

Move nat conversion to bool/string to `conversions` extension
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops/const_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add `itousize`/`ifromusize` conversion ops
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use `comma_sep_str`
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

Make `ConvertOpType` members private
  hugr-core/src/std_extensions/arithmetic/conversions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Make Either::Right the "success" case (#1489)
  hugr-core/src/extension/prelude.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/int_ops/const_fold.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  hugr-py/src/hugr/std/_json_defs/collections.json
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_tys.py
  hugr-py/tests/test_val.py
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/int.json
  specification/std_extensions/collections.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update extension defs
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/int.json
Due: none

use option for log_width, add getter
  hugr-core/src/std_extensions/arithmetic/conversions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
