Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Don't import delegate
  Cargo.lock
  hugr-passes/Cargo.toml
Due: none

LocalizeEdgesError doesn't actually need any variants, hmmm
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comments
  hugr-passes/src/non_local.rs
  hugr-passes/src/non_local/localize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: tests failing with port_kind issue
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: handle order port case for missing dataflow ops
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rewrite assertion to make clippy happy
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add signature map function for DFGs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/hugr/views/root_checked/dfg.rs
  hugr-core/src/hugr/views/root_checked/snapshots/hugr_core__hugr__views__root_checked__dfg__test__map_io_cx_gate.snap
  hugr-core/src/hugr/views/root_checked/snapshots/hugr_core__hugr__views__root_checked__dfg__test__map_io_duplicate_output.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add derive Hash
  hugr-core/src/hugr/patch/port_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add boundary edge traversal in SimpleReplacement (#2231)
  hugr-core/src/hugr/patch/port_types.rs
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review suggestions
  hugr-py/src/hugr/ops.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

simplify equivalent_descendant_ports
  hugr-core/src/hugr/persistent/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

reuse for remaining ops
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: handle order port case for missing dataflow ops (#2238)
  hugr-py/src/hugr/ops.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

CFG test includes internal (dom) edge; extend debug assertion w/ grandparent
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.12.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

uv sync
  uv.lock
Due: none

Tidy checks
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.12.1 (#2230)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix test and compilation error
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/walker.rs
  hugr-core/src/hugr/persistent/walker/pinned.rs
  hugr-core/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix outdated doc hyperlinks
  hugr-core/src/hugr/persistent/walker.rs
  hugr-core/src/hugr/persistent/walker/pinned.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Add `used_extensions` to python ops
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rename BBNeedsSourceMap to ExtraSourceReqs, a few comments
  hugr-passes/src/non_local.rs
  hugr-passes/src/non_local/localize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Export InvalidSignature
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/hugr/views/root_checked/dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rudimentary terms.
  hugr-core/src/lib.rs
  hugr-core/src/terms.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

.
  hugr-core/src/terms.rs
  hugr-core/src/terms/views.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Split `TypeArg::Sequence` into tuples and lists.
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fixed Rust tests.
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-passes/src/monomorphize.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Split sequence into tuple and list in Python.
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remaining merge errors.
  hugr-core/Cargo.toml
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Formatting.
  hugr-core/src/export.rs
  hugr-core/src/hugr.rs
  hugr-passes/src/monomorphize.rs
  hugr-py/src/hugr/_serialization/tys.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Schema update.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Lints.
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

.
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/terms.rs
  hugr-core/src/terms/views.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Correctly track empty commits in Walker
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/parents_view.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/tests.rs
  hugr-core/src/hugr/persistent/walker.rs
  hugr-core/src/hugr/persistent/walker/pinned.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/root_checked.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-core/src/hugr/views/root_checked/dfg.rs
  hugr-core/src/hugr/views/root_checked/dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  hugr-core/src/hugr/views/root_checked/dfg.rs
  hugr-core/src/hugr/views/root_checked/snapshots/hugr_core__hugr__views__root_checked__dfg__test__map_io_cycle_3qb.snap
  hugr-core/src/hugr/views/root_checked/snapshots/hugr_core__hugr__views__root_checked__dfg__test__map_io_recursive.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
