Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Fix FuncDefn::name, add test_module
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy test
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix description
  hugr-core/src/extension/prelude/array.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix comment
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add array `repeat` and `scan` ops (#1633)
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Lists and extension sets with splicing
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/src/types.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-lists.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

`export_type_row_with_tail`
  hugr-core/src/export.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Comments
  hugr-core/src/export.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ListParts, ExtSetParts and fixed import bug that would lead to wrong list order.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

end of file fixes
  .github/change-filters.yml
  .github/workflows/ci-rs.yml
Due: none

remove redundant flags
  .github/workflows/ci-rs.yml
Due: none

workflow comment
  .github/workflows/ci-rs.yml
Due: none

move gitattributes
  .gitattributes
Due: none

remove gitignore
  hugr-llvm/.gitignore
Due: none

add version changelog line
  hugr-llvm/CHANGELOG.md
Due: none

move to workspace dep
  Cargo.toml
  hugr-llvm/Cargo.toml
Due: none

remove py env files
  hugr-llvm/poetry.lock
  hugr-llvm/pyproject.toml
Due: poetry-install

readme suggested changes
  hugr-llvm/README.md
Due: none

merge development.md
  DEVELOPMENT.md
  hugr-llvm/DEVELOPMENT.md
Due: none

enable CI on all PRs
  .github/workflows/ci-rs.yml
Due: none

feat: export llvm test utilities
  hugr-llvm/Cargo.toml
  hugr-llvm/src/emit.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/lib.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review changes and end of line fix
  .github/workflows/ci-rs.yml
  hugr-llvm/Cargo.toml
  hugr-llvm/src/emit.rs
  hugr-llvm/src/lib.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename snaps
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_cfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_cfg_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_module_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_module_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call_indirect@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call_indirect@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_conditional@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_conditional@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_custom_op@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_custom_op@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_dfg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_dfg@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_load_constant@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_load_constant@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_tag@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_tag@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__load_function@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__load_function@pre-mem2reg@llvm14.snap
Due: none

rexport macro uses
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: export llvm test utilities under llvm-test feature (#1677)
  .github/workflows/ci-rs.yml
  hugr-llvm/Cargo.toml
  hugr-llvm/src/emit.rs
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_cfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_cfg_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_module_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_module_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call_indirect@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_call_indirect@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_conditional@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_conditional@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_custom_op@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_custom_op@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_dfg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_dfg@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_load_constant@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_load_constant@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_tag@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__emit_hugr_tag@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__load_function@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__load_function@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/lib.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run unsoundness checks on a set schedule (#1666)
  .github/workflows/unsoundness.yml
Due: none

ci: Use `uv --frozen` instead of `--locked` (#1611)
  .github/workflows/ci-py.yml
Due: none

feat: Operation and constructor declarations in `hugr-model` (#1605)
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-model/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-alias.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-decl-exts.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-params.edn
  hugr-model/tests/snapshots/text__declarative_extensions.snap
  hugr-model/tests/text.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix unused warnings on default features (#1618)
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix unsoundness tests (#1643)
  .github/workflows/unsoundness.yml
  hugr-core/src/package.rs
  hugr-model/tests/text.rs
  hugr-passes/src/nest_cfgs.rs
  justfile
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Move `hugr-model` to a separate release group (#1612)
  release-plz.toml
Due: none

feat!: Replace GATs with `impl Iterator` returns (RPITIT) on `HugrView` (#1660)
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/hugr/rewrite/inline_dfg.rs
  hugr-core/src/hugr/rewrite/outline_cfg.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/petgraph.rs
  hugr-core/src/hugr/views/sibling.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/hugr/views/tests.rs
  hugr-core/src/import.rs
  hugr-passes/src/half_node.rs
  hugr-passes/src/merge_bbs.rs
  hugr-passes/src/nest_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(py): allow conditional cases to be defined out of order (#1599)
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/tests/test_cond_loop.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Use reusable coverage-trend workflow (#1615)
  .github/workflows/notify-coverage.yml
Due: none

fix: don't normalise half turns (#137)
  hugr-llvm/Cargo.lock
  hugr-llvm/src/extension/rotation.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Update number of ports for PartialOps, and sanitize orderd edges (#1635)
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: fix miri checks (#1651)
  hugr-model/tests/text.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Export/import of JSON metadata (#1622)
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-literals.edn
  hugr-model/tests/snapshots/text__literals.snap
  hugr-model/tests/text.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run cargo-semver-checks on PRs (#1598)
  .github/workflows/ci-rs.yml
Due: none
