Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Ensure equal Tag ops have the same str
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: incorrect num_outgoing and num_incoming
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Function defs always have an output port
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/test_cfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix add_op not setting the number of outputs
  hugr-py/src/hugr/build/dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

ReplacementOptions, replace_(parametrized_)op_with, break out linearize_outputs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make sure equal Tag ops have the same repr
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Set the number of output ports of a builder parent, when know at build time
  hugr-py/src/hugr/build/dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix Const reporting incorrect port kinds
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

More __str__ fixes
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix incorrect serialization of order edges
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix incorrect reporting of order edges in iterators
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Some order edges tests
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/test_ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add test skip
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

Better roundtrip tests
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/conftest.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Take1 for module-entrypoint, w/ Status enum in HashMap
  hugr-passes/src/inline_funcs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

take2, push bool on stack + seen-Set
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Just inline nodes in a pre-order traversal beneath entrypoint
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Expose `BorrowArray` in `hugr-py` (#2425)
  hugr-py/src/hugr/std/collections/borrow_array.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Standarize the string formating of sum types and values (#2432)
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/test_val.py
Due: ruff-format, ruff-check, mypy-check, py-test

Restore snapshots
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Fixed export of `Call` and `LoadConst` nodes in `hugr-py`. (#2429)
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Export entrypoint in Python.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fixed bug in import that added nodes to the entrypoint instead of the root.
  hugr-core/src/import.rs
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Update JSON schema to account for the `Const` to `ConstType` change.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Lints.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add `Const` branch to new match in test.
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Type of constants in `core` `Term`s.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test
