Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/extension_inference hugr/declarative hugr/model_unstable hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

tidy imports, correct comment
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

inline change_type_then_untup
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Expand SimpleReplacement::ApplyResult type
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Make NodeHandle generic
  hugr-core/src/ops.rs
  hugr-core/src/ops/handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

better module structure
  hugr-py/src/hugr/qsystem/__init__.py
  hugr-py/src/hugr/qsystem/result.py
  hugr-py/tests/test_qsys_result.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-py): move in result classes from guppylang (#2084)
  hugr-py/pyproject.toml
  hugr-py/src/hugr/qsystem/__init__.py
  hugr-py/src/hugr/qsystem/result.py
  hugr-py/tests/test_qsys_result.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.11.5
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Make NodeHandle generic (#2092)
  hugr-core/src/ops.rs
  hugr-core/src/ops/handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP add NodeTemplate::Call
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix all-features by disabling extension validation
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Hugr root pointers, drop static tag check
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/internal.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.11.5 (#2054)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat!: remove ExtensionValue
  hugr-core/src/extension.rs
  hugr-core/src/extension/resolution/extension.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float/types.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int/types.json
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/list.json
  hugr-py/src/hugr/std/_json_defs/collections/static_array.json
  hugr-py/src/hugr/std/_json_defs/logic.json
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/src/hugr/std/_json_defs/ptr.json
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/float.json
  specification/std_extensions/arithmetic/float/types.json
  specification/std_extensions/arithmetic/int.json
  specification/std_extensions/arithmetic/int/types.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/list.json
  specification/std_extensions/collections/static_array.json
  specification/std_extensions/logic.json
  specification/std_extensions/prelude.json
  specification/std_extensions/ptr.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Move sig-checking into NodeTemplate
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

[refactor test] move lowered_read out, return Hugr
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

[refactor test] lowered_read_bool takes Type, parametrized by builder::container
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

new test adding a polymorphic Function
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix all-features
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: remove ExtensionValue (#2093)
  hugr-core/src/extension.rs
  hugr-core/src/extension/resolution/extension.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float/types.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int/types.json
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/list.json
  hugr-py/src/hugr/std/_json_defs/collections/static_array.json
  hugr-py/src/hugr/std/_json_defs/logic.json
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/src/hugr/std/_json_defs/ptr.json
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/float.json
  specification/std_extensions/arithmetic/float/types.json
  specification/std_extensions/arithmetic/int.json
  specification/std_extensions/arithmetic/int/types.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/list.json
  specification/std_extensions/collections/static_array.json
  specification/std_extensions/logic.json
  specification/std_extensions/prelude.json
  specification/std_extensions/ptr.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Add PersistentHugr
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/resolver.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/tests.rs
  hugr-core/src/hugr/persistent/trait_impls.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Removed extension sets in new code.
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Make arrays linear and add copyable value arrays
  hugr-core/src/ops/constant.rs
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_kind.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-core/src/utils.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__value_array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__value_array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__value_array__test__emit_array_value@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__value_array__test__emit_array_value@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__value_array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__value_array__test__emit_get@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/value_array.rs
  hugr-llvm/src/utils/array_op_builder.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  hugr-py/src/hugr/std/collections/value_array.py
  hugr-py/tests/test_tys.py
  specification/std_extensions/collections/value_array.json
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Updated schema.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  uv.lock
Due: none

Updated docs.
  Cargo.toml
  hugr-core/src/extension.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add DynEdgeSpec - verify compiles but not apply
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

apply/transfer_edges: split translate_idx back to trans_src/tgt, add err_spec
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove unused {src,tgt,src_tgt}_host_to_dyn and DynNode
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix tests
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Demonstrate that can compute WhichHugr from DynEdgeSpec and Direction
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

(BREAKING) thus, remove the WhichHugr from inside the BadEdgeSpec variant
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Thus, remove temporary mk_bad_edge_spec, build 2-element BadEdgeSpec's
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Thus, no need for trans_src/trans_tgt to return Err(WhichHugr) --> use Option
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Thus, WhichHugr only used as a temporary return value; just return a string
  hugr-core/src/hugr/patch/replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add AddTemplateError, wrap in LinearizeError - can for ReplaceTypesError later
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

New test - but SUT actually breaks on add(Builder).unwrap()
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Standardize on BuildError so can plumb add(Builder) errors too, handler does so
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

all-features
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
