Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Make PersistentHugr::children more efficient
  hugr-persistent/src/trait_impls.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(persistent): More efficient HugrView iterators for PersistentHugr
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/persistent_hugr/cache.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/wire.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implement DoubleEndedIterator for fn children
  hugr-persistent/Cargo.toml
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/trait_impls/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Sort of "fix" test
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/trait_impls/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Skip slow tests in miri
  .github/workflows/unsoundness.yml
Due: none

chore: Skip slow tests in miri (#2620)
  .github/workflows/unsoundness.yml
Due: none

refactor!: consistent inout order in borrow array
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-llvm/src/extension/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: consistent inout order in borrow array (#2621)
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-llvm/src/extension/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release (#2605)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

uv sync
  uv.lock
Due: none

chore(main): release hugr-py 0.14.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.14.0 (#2547)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

address comments
  hugr-persistent/src/persistent_hugr/cache.rs
  hugr-persistent/src/trait_impls.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(persistent): More efficient HugrView iterators for PersistentHugr (#2595)
  hugr-persistent/Cargo.toml
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/persistent_hugr/cache.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/trait_impls/utils.rs
  hugr-persistent/src/wire.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

centralise extension resolution
  hugr-core/src/envelope.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: in to module
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor in to reader struct
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wrap payloaderror
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove unused read
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

described error
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

implement error conversions
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: extract partial package information when loading
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Add CITATION file linking to arXiv publication
  CITATION.cff
Due: none

docs: Add CITATION file linking to arXiv publication (#2626)
  CITATION.cff
Due: none

cargo dist init
  .github/workflows/release.yml
  Cargo.toml
  devenv.nix
  dist-workspace.toml
Due: none

dist precise builds
  dist-workspace.toml
Due: none

tag namespace and avoid release creation
  .github/workflows/hugr-cli-v-release.yml
  dist-workspace.toml
Due: none

revertme: upload for testing on PR
  .github/workflows/hugr-cli-v-release.yml
  dist-workspace.toml
Due: none

config cleanups
  .github/workflows/hugr-cli-v-release.yml
  dist-workspace.toml
Due: none

set release-plz github release draft for cli
  release-plz.toml
Due: none

chore: cargo dist for uploading hugr-cli binaries (#2627)
  .github/workflows/hugr-cli-v-release.yml
  Cargo.toml
  devenv.nix
  dist-workspace.toml
  release-plz.toml
Due: none

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Add binary load format to round-trip tests.
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: ignore dist-generated CI in dependabot.yml
  .github/dependabot.yml
Due: none

chore: ignore dist-generated CI in dependabot.yml (#2632)
  .github/dependabot.yml
Due: none

test: Add binary load format to round-trip tests. (#2628)
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

Allow postponed annotations.
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rename.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Specify parents of Input and Output nodes.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test
