Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Minor changes.
  hugr-core/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(ci): Inline cliff config into release-plz toml
  cliff.toml
  release-plz.toml
Due: none

chore(ci): Bundle crates under the same version_group
  release-plz.toml
Due: none

Removed a line for Cargo.toml accidentally left in
  hugr-core/Cargo.toml
Due: none

chore(ci): Inline cliff config into release-plz toml (#1571)
  cliff.toml
  release-plz.toml
Due: none

Export the correct extension set for regions.
  hugr-core/src/export.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(ci): Bundle crates under the same version_group (#1572)
  release-plz.toml
Due: none

feat: Binary serialisation format for hugr-model based on capnproto. (#1557)
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  devenv.nix
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/fixtures/model-add.edn
  hugr-core/tests/fixtures/model-call.edn
  hugr-core/tests/fixtures/model-cfg.edn
  hugr-core/tests/fixtures/model-cond.edn
  hugr-core/tests/fixtures/model-loop.edn
  hugr-core/tests/fixtures/model-params.edn
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/Cargo.toml
  hugr-model/build.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/lib.rs
  hugr-model/src/v0/binary/mod.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr/Cargo.toml
  hugr/benches/benchmarks/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve formatting
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: define wrappers around package that point to internals
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/conftest.py
  hugr-py/tests/test_cond_loop.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_package.py
  hugr-py/tests/test_tracked_dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

use properties
  hugr-py/src/hugr/package.py
  hugr-py/tests/test_package.py
Due: ruff-format, ruff-check, mypy-check, py-test

review changes
  hugr-py/src/hugr/package.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: define wrappers around package that point to internals (#1573)
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/conftest.py
  hugr-py/tests/test_cond_loop.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_package.py
  hugr-py/tests/test_tracked_dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): Support python 3.13
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  .github/workflows/python-wheels.yml
  hugr-py/pyproject.toml
  uv.lock
Due: none

feat: to/from json for extension/package
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/serialization/test_extension.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): Support python 3.13 (#1574)
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  .github/workflows/python-wheels.yml
  hugr-py/pyproject.toml
  uv.lock
Due: none

feat: to/from json for extension/package (#1575)
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/serialization/test_extension.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: `instantiate` method for `OpDef`
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: `instantiate` method for `OpDef` (#1576)
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: install capnp in unsoundness check
  .github/workflows/unsoundness.yml
Due: none

feat: `FunctionBuilder::add_{in,out}put` (#1570)
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/hugr/internal.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: install capnp in unsoundness check (#1577)
  .github/workflows/unsoundness.yml
Due: none

chore(main): release hugr-py 0.9.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.13.1
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat!: Allow extension callbacks to have non-`'static` lifetimes (#128)
  src/custom.rs
  src/custom/extension_op.rs
  src/custom/load_constant.rs
  src/custom/types.rs
  src/emit.rs
  src/emit/func.rs
  src/emit/ops.rs
  src/emit/ops/cfg.rs
  src/emit/test.rs
  src/extension/conversions.rs
  src/extension/float.rs
  src/extension/int.rs
  src/extension/logic.rs
  src/extension/prelude.rs
  src/extension/prelude/array.rs
  src/extension/rotation.rs
  src/sum.rs
  src/test.rs
  src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "Datalog works on any AbstractValue; impl'd by PartialValue for a BaseValue"
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/machine.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update uv lock
  uv.lock
Due: none

Update const_fold2/value_handle.rs, dataflow/total_context.rs
  hugr-passes/src/const_fold2/value_handle.rs
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cleanup changelogs
  hugr-cli/CHANGELOG.md
  hugr-model/CHANGELOG.md
  hugr-passes/CHANGELOG.md
Due: none

chore(main): release hugr-py 0.9.0 (#1548)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Apply suggestions from code review
  hugr-cli/CHANGELOG.md
  hugr-model/CHANGELOG.md
  hugr-passes/CHANGELOG.md
Due: none

chore: release v0.13.1 (#1578)
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

(Re-)remove PVEnum
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove as_sum. AbstractValues are elements not sums
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Install capnproto in release-plz ci
  .github/workflows/release-plz.yml
  DEVELOPMENT.md
Due: none

ci: Install capnproto in release-plz ci (#1579)
  .github/workflows/release-plz.yml
  DEVELOPMENT.md
Due: none

clippy
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
