Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

expand docstring
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: simplify extension check - always require version bump (#2380)
  .github/workflows/ci-py.yml
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

Revert DeadCodeElim behaviour on Consts
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dead_code.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

DeadCodeElim only elims below entrypoint
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy-llvm
  hugr-llvm/src/utils/inline_constant_functions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove declare_private
  hugr-core/src/builder/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

powerup'd clippy, add quotes
  hugr-model/src/v0/ast/python.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: clippy got powered-up, make it happy
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: clippy got powered-up, make it happy (#2381)
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more clippy
  hugr-core/src/hugr/validate/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

imports; reduce change
  hugr-passes/src/composable.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Use List instead of Tuple in conversions for TypeArg/TypeRow (#2378)
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.21.0
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Add PinnedSubgraph
  hugr-persistent/src/lib.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/subgraph.rs
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add compute_io_ports
  hugr-persistent/src/subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix vec[wire] occurences in test
  hugr-persistent/src/subgraph.rs
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generalise HUGR types supported by Walker
  hugr-core/src/hugr/views/root_checked/dfg.rs
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: typo in EnvelopeFormat
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: enable Model as default BINARY envelope format
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

Generalise HUGR types supported by Walker
  hugr-core/src/hugr/views/root_checked/dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Escape html-like labels in DotRenderer
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add module name tag
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Escape edge label too
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Escape html-like labels in DotRenderer (#2383)
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add Root checked methods to DataflowParentID (#2382)
  hugr-core/src/hugr/views/root_checked/dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Do extension resolution on loaded extensions from the model format
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add base extension
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/panic_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Do extension resolution on loaded extensions from the model format (#2389)
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test(dead_funcs.rs): Put entry point *inside* main
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Include entrypoint from wherever it is
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: require docstrings in hugr-passes
  hugr-passes/src/call_graph.rs
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/lower.rs
  hugr-passes/src/non_local.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add doctest
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add take and put ops
  hugr-core/src/std_extensions/collections/panic_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test (hanging)
  hugr-core/src/std_extensions/collections/panic_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Import creating order edges from input and to output nodes.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix
  hugr-core/src/std_extensions/collections/panic_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generate
  hugr-core/src/std_extensions.rs
  hugr-py/src/hugr/std/_json_defs/collections/panic_array.json
  specification/std_extensions/collections/panic_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Renaming
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
