Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat: Add `BorrowArray` extension (#2395)
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: stringify metadata before escaping in renderer (#2405)
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.4): release hugr-py 0.12.4
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.4): release hugr-py 0.12.4 (#2407)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.3): release hugr-py 0.12.3 (#2404)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(py): update changelog for v0.12.3 and v0.12.4 (#2408)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.21.0
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

fix(test): Remove encoder field for hashed string
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
  hugr-persistent/src/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Type of constants in `core` `Term`s.
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

not-a-hugr test - this passes but clearly shouldn't
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

testing schemas: use TestingHugr; test now fails as desired
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Replace silly test with better ones
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix name of NamedSchema
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve error printing
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Start fixing prop_roundtrip_type via any_serde_type_{arg,param}...ALAN failing
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix prop_roundtrip_type via any_serde_type_{arg,param}...wtf ArrayOrTermSer::Term ??
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix roundtrip_poly_func_type
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix roundtrip_optype via any_serde_type_arg_vec
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update generate_schema.py to add (Testing|Serial)Hugr|Extension|Package to all
  scripts/generate_schema.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

Generalize test to cover both testing and main schema
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

generate_schema uses DEFAULT_REF_TEMPLATE + oneOf
  scripts/generate_schema.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

Pass path into test
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Allow ArrayOrTermSer::Term(Term::ListConcat)...but we'll never see that
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: map IntValue to unsigned repr when serializing
  hugr-py/src/hugr/std/int.py
  hugr-py/tests/test_prelude.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

fix: map IntValue to unsigned repr when serializing (#2413)
  hugr-py/src/hugr/std/int.py
  hugr-py/tests/test_prelude.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore: require docstrings in hugr-passes (#2391)
  hugr-passes/src/call_graph.rs
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/lower.rs
  hugr-passes/src/non_local.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(test): Remove encoder field for hashed string (#2410)
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
  hugr-persistent/src/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Better comments/todos
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix clippy on hugr-persistent
  hugr-persistent/src/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(hugr-persistent): Fix clippy (#2416)
  hugr-persistent/src/tests.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Include hugr-persistent in rust changes
  .github/change-filters.yml
Due: none

Make token change to PersistentHugr
  hugr-persistent/src/wire.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: include hugr-persistent in change detector (#2417)
  .github/change-filters.yml
  hugr-persistent/src/wire.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More comment/todo tweaks, test use impl IntoIterator
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

and fix test by adding visibility
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert hugr-passes changes
  hugr-passes/src/call_graph.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(rs)!: Rename 'Any' type bound to 'Linear'
  hugr-core/src/builder/module.rs
  hugr-core/src/extension/declarative/types.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr/benches/benchmarks/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Make JSON Schema checks actually work again (#2412)
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  scripts/generate_schema.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test
