Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

cargo clippy --fix
  hugr-core/src/hugr/persistent/state_space/serial.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove link to private struct
  hugr-core/src/hugr/persistent/state_space/serial.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

allow deprecated in hugr-llvm
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/utils/inline_constant_functions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add docs
  hugr-core/src/hugr/persistent/trait_impls.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/render.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix snapshot
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__render__tests__custom_node_labels.snap
Due: none

add mermaid tests
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add test
  hugr-core/src/hugr/patch/simple_replace/serial.rs
  hugr-core/src/hugr/persistent/state_space/serial.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-llvm: allow more deprecation in inline_constant_functions
  hugr-llvm/src/utils/inline_constant_functions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/ops/constant.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comments
  hugr-passes/src/dataflow/test.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat!: No nested FuncDefns (or AliasDefns) (#2256)
  hugr-core/src/builder.rs
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/circuit.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/hugr/patch/inline_call.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/root_checked/dfg.rs
  hugr-core/src/hugr/views/tests.rs
  hugr-core/src/ops/tag.rs
  hugr-llvm/src/emit/ops/cfg.rs
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_cfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_cfg_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/list.rs
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-llvm/src/extension/collections/static_array.rs
  hugr-llvm/src/extension/conversions.rs
  hugr-llvm/src/extension/float.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/test.rs
  hugr-llvm/src/utils/fat.rs
  hugr-passes/src/composable.rs
  hugr-passes/src/dataflow/test.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/build/function.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/test_hugr_build.py
  hugr/benches/benchmarks/hugr/examples.rs
  specification/hugr.md
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add peel_loop.rs
  hugr-core/src/hugr/patch.rs
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test, fix Dfg -> Cond wiring
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test ext edge, fix handling of order input
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add TailLoop::control_variants
  hugr-core/src/hugr/patch/peel_loop.rs
  hugr-core/src/ops/controlflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test order output, avoid unnecessary wire
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Extend incoming-order-edges test to handle !=1 input-only types
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Replace TailLoop with DFG 'in-place'...easier, can leave edges intact
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add serial data types for SimpleReplacement and PersistentHugr (#2300)
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/patch/simple_replace/serial.rs
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/resolver.rs
  hugr-core/src/hugr/persistent/state_space.rs
  hugr-core/src/hugr/persistent/state_space/serial.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Schema update.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Formatting.
  hugr-core/src/export.rs
  hugr-core/src/hugr.rs
  hugr-passes/src/monomorphize.rs
  hugr-py/src/hugr/_serialization/tys.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Fixed docstrings that still pointed to `TypeArg::Sequence`.
  hugr-core/src/extension/prelude.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fixed Rust tests.
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-passes/src/monomorphize.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Lints.
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Split `TypeArg::Sequence` into tuples and lists.
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Split sequence into tuple and list in Python.
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fixed doc strings.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remaining merge errors.
  hugr-core/Cargo.toml
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Updated spec.
  specification/hugr.md
Due: none

feat!: Split `TypeArg::Sequence` into tuples and lists. (#2140)
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-passes/src/monomorphize.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  specification/hugr.md
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Added float and bytes literal to core and python bindings.
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  specification/hugr.md
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

`TypeArg::ListConcat` and `TypeArg::TupleConcat`
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr.rs
  hugr-core/src/import.rs
  hugr-core/src/types/type_param.rs
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Minor polishing.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Import tuple `TypeParam` and import open tuples.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

`ListConcatArg` and `TupleConcatArg` in Python.
  hugr-core/src/hugr.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Test coverage. Also add bytes and float literal support to `check_type_arg`.
  hugr-core/src/types/type_param.rs
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/tests/fixtures/model-params.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Tests for python `__str__`.
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Lints.
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fixed base64 encoding of bytes literals on Python side, added tests.
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Updated schema.
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
