Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

clippy
  hugr-llvm/src/sum/layout.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.10.3
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

make the release non-breaking
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release (#1868)
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

fix portgraph 0.13 updates
  Cargo.toml
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove commented-out cargo patch
  Cargo.toml
Due: none

Add benchmarks for subgraphs with few nodes
  hugr/benches/benchmarks/subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Update portgraph
  Cargo.toml
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/sibling.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Explain why `ConstF64` is not PartialEq (#1829)
  hugr-core/src/std_extensions/arithmetic/float_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore!: Update to `portgraph 0.13` / `petgraph 0.7` (#1878)
  Cargo.toml
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/sibling.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr/benches/benchmarks/subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Install LLVM before running
  .github/workflows/release-plz.yml
Due: none

chore: release v0.15.0
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

fix: Export `RemoveDeadFuncsError`
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Export `RemoveDeadFuncsError` (#1883)
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Install LLVM before running release-plz (#1882)
  .github/workflows/release-plz.yml
Due: none

ci: Fix llvm install on release-plz workflow (again)
  .github/workflows/release-plz.yml
Due: none

ci: Fix llvm install on release-plz workflow (again) (#1884)
  .github/workflows/release-plz.yml
Due: none

Bugfix: determine correct bounds of custom types
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/tests/fixtures/model-constraints.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Special cased export of array, float and int constants as terms.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/src/std_extensions/arithmetic/float_types.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-literals.edn
  hugr-model/tests/snapshots/text__literals.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Special cased array, float and int constants in hugr-model export (#1857)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/src/std_extensions/arithmetic/float_types.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-literals.edn
  hugr-model/tests/snapshots/text__literals.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: determine correct bounds of custom types (#1888)
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/tests/fixtures/model-constraints.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Bugfix for exported links.
  hugr-core/src/export.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Updated snapshot
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
Due: none

Remove implicit parameters in `hugr-model`
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-alias.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-constraints.edn
  hugr-model/tests/fixtures/model-lists.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-params.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Exporting converging control flow edges (#1890)
  hugr-core/src/export.rs
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix deprecation warning messages.
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add note on LLVM installation.
  DEVELOPMENT.md
Due: none

docs: Add note on LLVM installation (#1892)
  DEVELOPMENT.md
Due: none

Apply same fix to implementations.
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-passes/src/monomorphize.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: Fix deprecation warning messages (#1891)
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

default to cfg! extension_inference
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make composable public, re-export only ComposablePass
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add validate_if_test, rename ComposablePass::E -> Err
  hugr-passes/src/composable.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Basic composable passes: MapErr, (a,b) for sequence, Validating
  hugr-passes/src/composable.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update const_fold...add_entry_point still a TODO
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove add_entry_point....plan to revert later
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update remove_dead_funcs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
