Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

fix: Update collections extension
  hugr-py/src/hugr/std/_json_defs/collections.json
  specification/std_extensions/collections.json
Due: none

fix: Update collections extension (#1518)
  hugr-py/src/hugr/std/_json_defs/collections.json
  specification/std_extensions/collections.json
Due: none

ci: Make the std extensions job a required check
  .github/workflows/ci-rs.yml
Due: none

fix dependency order
  .github/workflows/ci-rs.yml
Due: none

docs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comment
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Make the std extensions job a required check (#1519)
  .github/workflows/ci-rs.yml
Due: none

feat(hugr-cli)!: Add `Package::validate` and return `ExtensionRegistry` in helpers. (#1507)
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.8.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(main): release hugr-py 0.8.1 (#1505)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release (#1504)
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

test: Add execution test framework (#97)
  src/emit/test.rs
  src/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tests
  hugr-core/src/ops/constant.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Include const_tuple with CustomSerialized too
  hugr-core/src/ops/constant.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update uv lock
  uv.lock
Due: none

feat!: Allow CustomConsts to (optionally) be hashable (#1397)
  hugr-core/src/extension/prelude.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/ops/constant/custom.rs
  hugr-core/src/std_extensions/arithmetic/float_types.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Just const_fold2 + inside that partial_value (taken from hugr_core)
  hugr-passes/src/const_fold2.rs
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/context.rs
  hugr-passes/src/const_fold2/datalog/test.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/partial_value.rs
  hugr-passes/src/const_fold2/partial_value/test.rs
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

merge/update+fmt (ValueName for ConstInt non-compiling as ConstInt not Hash)
  hugr-passes/Cargo.toml
  hugr-passes/src/const_fold2.rs
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/context.rs
  hugr-passes/src/const_fold2/datalog/test.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/partial_value.rs
  hugr-passes/src/const_fold2/partial_value/test.rs
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-passes/src/const_fold2.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix tests...
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/context.rs
  hugr-passes/src/const_fold2/datalog/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Drop non-(Bounded)Lattice impls of (join/meet)(_mut),top,bottom
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/datalog/test.rs
  hugr-passes/src/dataflow/datalog/utils.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/value_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use Value::sum, adding FromSum::Err; fmt
  hugr-passes/src/const_fold2/datalog/partial_value.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/value_handle.rs
  hugr-passes/src/const_fold2/value_handle/context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

GC unused (tuple,variant)_field_value, iter_with_ports
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cargo.toml: use explicit git= tag for ascent
  hugr-passes/Cargo.toml
Due: none

Also fold extension ops
  hugr-passes/src/const_fold2/datalog/context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Optimize as_sum() by returning impl Iterator not Vec
  hugr-passes/src/const_fold2/partial_value.rs
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Comment as_sum
  hugr-passes/src/const_fold2/datalog/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc fixes, remove missing-docs for partial_value...how does it still work
  hugr-passes/src/const_fold2/context.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

TailLoopTermination just examine whatever PartialValue's we have, remove most
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/datalog/test.rs
  hugr-passes/src/dataflow/datalog/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add variant_values, rewrite one use of outputs_for_variant
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

No DeRef for ValueHandle, just add get_type()
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix extension tests
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Hide PartialSum/PartialValue
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ValueKey::{Select->Field,index->field}
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

...and the other two; remove outputs_for_variant
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Allow DFContext to interpret any leaf op (except MakeTuple/etc.); pub PV+PS
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ValueHandle::{is_compound,num_fields,index} => {variant_values, as_sum}
  hugr-passes/src/const_fold2/partial_value.rs
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Hide PartialValue by abstracting DFContext::InterpretableVal: FromSum (==Value)
  hugr-passes/src/const_fold2/datalog.rs
  hugr-passes/src/const_fold2/datalog/partial_value.rs
  hugr-passes/src/const_fold2/datalog/utils.rs
  hugr-passes/src/const_fold2/value_handle.rs
  hugr-passes/src/const_fold2/value_handle/context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tag() does not refer to self.is_compound
  hugr-passes/src/const_fold2/partial_value.rs
  hugr-passes/src/const_fold2/partial_value/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
