Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

wip: Update CLI
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use map_err
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't rule out non-module/root entrypoints; docs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/const_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fixed bug in parser conflating wildcards and identifier names.
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/syntax/hugr.pest
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Renamed `syntax` module to `ast`.
  hugr-core/tests/model.rs
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/ast/view.rs
  hugr-model/src/v0/binary/mod.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/text.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Small changes.
  hugr-model/src/v0/ast/resolve.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  hugr-llvm/src/extension/conversions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-llvm/src/extension/conversions.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: `hugr-model` AST (#1953)
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/ast/view.rs
  hugr-model/src/v0/binary/mod.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/scope/link.rs
  hugr-model/src/v0/scope/symbol.rs
  hugr-model/src/v0/scope/vars.rs
  hugr-model/src/v0/table/mod.rs
  hugr-model/src/v0/table/view.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/mod.rs
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/snapshots/text__declarative_extensions.snap
  hugr-model/tests/text.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

rename ops, add to spec
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-llvm/src/extension/conversions.rs
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  specification/hugr.md
  specification/std_extensions/arithmetic/conversions.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add float <--> int bytecasting ops to conversions extension (#1956)
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-llvm/src/extension/conversions.rs
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  specification/hugr.md
  specification/std_extensions/arithmetic/conversions.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix test build problems and snapshot.
  Cargo.toml
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-model/src/v0/ast/mod.rs
  hugr-py/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add `to_model` methods to python `Type`s, `TypeArg`s
  hugr-py/hugr/hugr/base.py
  hugr-py/hugr/model/export.py
  hugr-py/hugr/ops.py
  hugr-py/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: Failing testcase for #1974
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cleanup and fix all tests
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/package.rs
  hugr-py/src/hugr/package.py
  hugr-py/tests/conftest.py
  hugr/src/lib.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

revert: `unstable-*` features should not be default
  hugr-core/Cargo.toml
Due: none

revert: `unstable-*` features should not be default (#1976)
  hugr-core/Cargo.toml
Due: none

More exporting
  hugr-py/hugr/model/__init__.py
  hugr-py/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: don't assume "main"-function in dataflow + constant folding (#1896)
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/test.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `collections.static_array` extension.
  hugr-core/src/hugr/ident.rs
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: only allow value edges on SiblingSubgraph::from_node
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Python envelopes, deprecate APIs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_extension.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Deprecation warnings are only in python313 -.-
  hugr-py/src/hugr/package.py
Due: ruff-format, ruff-check, mypy-check, py-test

tests!
  hugr-core/src/builder.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Ignore coverage of deprecated functions
  Cargo.toml
  hugr-core/src/lib.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/std_extensions/collections/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/static_array.json
  specification/std_extensions/collections/static_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: update to devenv 1.4.1
  devenv.lock
Due: none

set llvm version
  devenv.nix
Due: none

feat: Add collections.static_array extension. (#1964)
  hugr-core/src/hugr/ident.rs
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/static_array.json
  specification/std_extensions/collections/static_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert llvm version change
  devenv.nix
Due: none

chore: update to devenv 1.4.1 (#1977)
  devenv.lock
Due: none

Test sequencing, deriving Clone+PartialEq for ConstFoldError
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

And test validation
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Driveby: no need for ConstFoldContext to implement Deref - from earlier Dataflow
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

redundant missing docs
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
