Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/extension_inference hugr/declarative hugr/model_unstable hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && uv run pytest"
  language: system
  pass_filenames: false

Add custom delegate!s instead of default impl
  hugr-core/src/hugr/internal.rs
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/root_checked.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test coverage
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Export the portgraph hierarchy in HugrInternals (#2057)
  hugr-core/src/hugr/internal.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/root_checked.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.11.5
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.15.4
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

No need for ConstFoldContext to impl Deref
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add PartialValue::LoadedFunction
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/results.rs
  hugr-passes/src/dataflow/test.rs
  hugr-passes/src/dataflow/value_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Docs, clippy::type_complexity
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/results.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

datalog handles LoadFunction, drop value_from_function (TODO ConstFoldCtx ignores self.0)
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

And handle CallIndirect
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove Hugr from ConstFoldContext, deparametrize/drop bounds
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add FoldVal, constant_fold2 (taking FoldVals)
  hugr-core/src/extension.rs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/ops/custom.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/value_handle.rs
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Switch fold2 to take &[FoldVal] not Vec<FoldVal>
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/ops/custom.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Deprecate old fold routines; port tests, add helpers
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/logic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Deprecate Value::Function
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/ops/constant.rs
  hugr-passes/src/const_fold/value_handle.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

First bit of test - default to Top if called-func unknown
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test2, fix port numbering and narrow unknown-called-func case
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test3, plus refactor test
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor into cases of rstest
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

PartialSum default N=Node
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

require TryFrom<LoadedFunction<N>,Error=LoadedFunction<N>>, format w/ Debug
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/results.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix UntuplePass and ReplaceTypes (making CompasablePass) - adding Result
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-passes/src/untuple.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP IfTrueThen
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Combine then+then_either via trait ErrorCombiner, applies to IfTrueThen also :)
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Reorder, separate with ----- comments, some missing docs
  hugr-passes/src/composable.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Avoid unnecessary string formatting for qualified symbols in export.
  hugr-core/src/export.rs
  hugr-model/src/v0/scope/symbol.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cache names in import.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use PartialValue::new_load
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make call_indirect a lattice, add load_func
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.15.4
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat: Implement Debug for generic Wire<N>s
  hugr-core/src/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Drop Hugr from inside ConstFoldContext
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Implement Debug for generic Wire<N>s (#2068)
  hugr-core/src/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Non-breaking portgraph & pyo3 version bump
  Cargo.lock
  Cargo.toml
Due: none

simplify ci check
  .github/workflows/ci-rs.yml
Due: none

only minimize direct dependency versions
  .github/workflows/ci-rs.yml
  Cargo.toml
Due: none

Run MSRV with minimal dep versions
  .github/workflows/ci-rs.yml
Due: none

cargo update
  Cargo.lock
  Cargo.toml
Due: none

cargo update
  Cargo.lock
Due: none

msrv run with --locked
  .github/workflows/ci-rs.yml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
