Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

refactor!: static_input -> static_inputs
  hugr-core/src/ops.rs
  hugr-core/src/ops/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add static inputs to python
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/build/tracked_dfg.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_custom.py
Due: ruff-format, ruff-check, mypy-check, py-test

update schema
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

refactor: move static inputs outside signature in serialised extop
  hugr-core/src/extension/op_def.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: static_input returns vector
  hugr-core/src/ops.rs
  hugr-core/src/ops/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: include static inputs in return when computing signature
  hugr-core/src/extension.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: add static op instantiation test
  hugr-core/src/extension/op_def.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/types/poly_func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: serialize statics next to `binary`
  hugr-core/src/extension/op_def/serialize_signature_func.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/types/poly_func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: allow static inputs to custom ops
  hugr-core/src/extension/declarative/signature.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/op_def/serialize_signature_func.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/utils.rs
  hugr/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: allow static input ext ops to be built
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/ops/handle.rs
  hugr-core/src/ops/tag.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

main merge fixup
  hugr-core/src/export.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

common up static input wiring
  hugr-py/src/hugr/build/dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

Clarify "non-exhaustive" in comment
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ConstFoldContext needs only & not &mut
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add recursive might_diverge, assume true for all CFGs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test constant folding a TailLoop (cannot remove loop)
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add pub fn allow_increase_termination, test allows removing tail-loop
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Hide allow_increase_termination field now we have method
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Allow adding inputs (pub traverse_value), fix needing port-num to distinguish
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

traverse_value => partial_from_const, fix docs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fixup! Allow adding inputs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Expand test by providing always-break input, refactor/split
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Insert DFG directly as a funcdefn in `Package::from_hugr` (#1621)
  hugr-core/src/package.rs
  hugr-core/src/snapshots/hugr_core__package__test__cfg.snap
  hugr-core/src/snapshots/hugr_core__package__test__dfg.snap
  hugr-core/src/snapshots/hugr_core__package__test__funcdef.snap
  hugr-core/src/snapshots/hugr_core__package__test__module.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: assert_fully_folded takes HugrView
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: find_needed_nodes works out root itself
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

CFG test (failing atm)
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix/change-policy: don't break edges from root input
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix: don't follow CFG edges, but don't panic either
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy, moving might_diverge outside ConstFoldPass+parametrize
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Improve const_fold module doc
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add TailLoop::BREAK_TAG and CONTINUE_TAG (#1626)
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/ops/controlflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/op_def.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add op to allocate uninitialized arrays
  hugr-core/src/extension/prelude/array.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make change non-breaking
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add failing test case for #1625
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Avoid adding duplicate state order edges
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: use trusted publishers for pypi publishing
  .github/workflows/python-wheels.yml
Due: none

ci: use trusted publishers for pypi publishing (#1634)
  .github/workflows/python-wheels.yml
Due: none

fix: Update number of ports for PartialOps, and sanitize orderd edges
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Update number of ports for PartialOps, and sanitize orderd edges (#1635)
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/ops.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
