Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

fix: hugr-py not adding extension-reqs on custom ops
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/int.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_custom.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: hugr-py not adding extension-reqs on custom ops (#1759)
  hugr-core/src/ops/custom.rs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/int.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_custom.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Adjust flattening test to also check multiple typeargs and BoundedNats
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ConstFoldError::Validation => ConstFoldError::ValidationError
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ConstFoldError non_exhaustive
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: remove profile settings from hugr/Cargo.toml (#1731)
  hugr/Cargo.toml
Due: none

feat(hugr-passes)!: Rewrite constant_fold_pass using dataflow framework (#1603)
  hugr-passes/Cargo.toml
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/const_fold/value_handle.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/results.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

This is the same and marginally less surprising
  hugr-core/src/ops/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update hugr-py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/ops.py
Due: ruff-format, ruff-check, mypy-check, py-test

serialisation schema
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

fix!: Replace `LoadFunction::signature` with `LoadFunction::instantiation` (#1756)
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/ops/dataflow.rs
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/ops.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

wip
  devenv.lock
  hugr-core/src/ops.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/ops/sum.rs
  hugr-core/src/types.rs
  hugr-core/src/types/custom.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/signature.rs
  hugr-core/src/types/type_param.rs
  hugr-core/src/types/type_row.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test
  hugr-core/src/extension/prelude/generic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generate serialized extensions
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: none

Add const fold test
  hugr-core/src/extension/prelude/generic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implement ConstFold for LoadNatDef
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add load nat operation
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `PartialEq` impls for `FuncTypeBase` and `Cow<FuncTypeBase>`
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `PartialEq` impls for `FuncTypeBase` and `Cow<FuncTypeBase>` (#1762)
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Name resolution.
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/scope/link.rs
  hugr-model/src/v0/scope/mod.rs
  hugr-model/src/v0/scope/symbol.rs
  hugr-model/src/v0/scope/vars.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tests pass
  hugr-llvm/src/emit/func/mailbox.rs
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@pre-mem2reg@llvm14.snap
  hugr-llvm/src/sum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tests: Add tail loop emission insta tests
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add tail loop execution test
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@pre-mem2reg@llvm14_2.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@pre-mem2reg@llvm14_3.snap
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

typos
  hugr-llvm/src/emit/func.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP: Tail loop emission
  hugr-llvm/src/emit/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

auto fix some typos
  _typos.toml
  hugr-cli/tests/validate.rs
  hugr-llvm/src/emit/func.rs
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/test.rs
  hugr-llvm/src/utils/fat.rs
  hugr-llvm/src/utils/type_map.rs
  hugr-model/src/v0/text/print.rs
  hugr-passes/src/const_fold.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Adjust after rebasing
  hugr-core/src/extension/prelude/generic.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add `is_` variant methods to `EdgeKind`
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add `is_` variant methods to `EdgeKind` (#1768)
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add extension jsons
  hugr-cli/tests/gen_extensions.rs
  hugr-core/src/std_extensions.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Move arrays from prelude into new extension
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/utils/array_op_builder.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

array extension in hugr-py
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(py)!: Replace `list_type` with List class
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/std/collections/list.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

remove comments and print
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(llvm): Tail loop emission (#1749)
  hugr-llvm/src/emit/func.rs
  hugr-llvm/src/emit/func/mailbox.rs
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop@pre-mem2reg@llvm14_2.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@pre-mem2reg@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__tail_loop_simple@pre-mem2reg@llvm14_3.snap
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/sum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
