Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat(cli): convert sub-command for converting envelope formats
  hugr-cli/src/convert.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/tests/convert.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: enable Model as default BINARY envelope format
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

test(py): check roundtrip through CLI
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

fmt
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: update CallGraph and remove_dead_funcs for module-only FuncDefns (#2336)
  hugr-passes/src/call_graph.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

include compress in config
  hugr-cli/src/convert.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

use map_err
  hugr-cli/src/hugr_io.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

improve docstrings
  hugr-cli/src/hugr_io.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(cli): convert sub-command for converting envelope formats (#2331)
  hugr-cli/src/convert.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/tests/convert.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: bump extension versions
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/value_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(llvm): add unpack codegen for stack array
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_unpack@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_unpack@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/stack_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core): add unpack array build utils
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add unpack to array op definition
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/value_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix typo
  hugr-core/src/std_extensions/collections/array/array_op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(llvm): add allocating array unpack codegen
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_unpack@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_unpack@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: add execution tests (and remove emission)
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_unpack@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_unpack@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_unpack@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_unpack@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/stack_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core, llvm): add array unpack operations (#2339)
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/value_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release v0.21.0
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Open lists and tuples in `TypeArg`.
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/import.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Fix `Term::contains`.
  hugr-core/src/export.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Import no longer needs to distinguish between type params and args.
  hugr-core/src/import.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Implement functions.
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Docs.
  hugr-core/src/types.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Added proptest for `Term::contains`.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Merge `TypeArg` and `TypeParam`.
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/ptr.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

`...Type` suffix for `TypeParam` variants.
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/row_var.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

JSON compatibility layer in Rust.
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Adjust `Arbitrary` instance to avoid infinite recursion.
  hugr-core/src/types/type_param.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Taking the opportunity to have nicer field names.
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/arithmetic/mod.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/ptr.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Hash change in snapshot test.
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__emit_static_array_of_static_array@pre-mem2reg@llvm14.snap
Due: none

Update feature gated code.
  hugr-core/src/extension/declarative/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Formatting.
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/std_extensions/arithmetic/mod.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Another hash in a snapshot.
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__static_array__test__emit_static_array_of_static_array@llvm14.snap
Due: none

Improved model cfg typing and bugfixes.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-model/src/v0/mod.rs
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-entrypoint.edn
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

FuncDecl: add link_name_mut
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor(types.rs): memove incorrect comment and unnecessary allow-unused
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Tuple fields.
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/arithmetic/mod.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/ptr.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/list.rs
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Instantiate `Term`s with `From` and `new_*`.
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
