Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-nextest
        name: cargo nextest r
        description:
          Run tests with `cargo nextest`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

refactor!: move envelope writing to writer.rs
  hugr-cli/src/lib.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/envelope/writer.rs
  hugr-core/src/hugr.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix!: remove deprecated envelope loading functions
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

test error patterns
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/envelope/writer.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

rename read_described_envelope to read_envelope
  hugr-cli/src/hugr_io.rs
  hugr-cli/tests/convert.rs
  hugr-core/src/envelope.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

refactor!: move envelope reading to dedicated module with dedicated errors (#2689)
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/convert.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/envelope/writer.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Apply suggestions from code review
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix name
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor(cli)!: remove deprecated hugr_json handling
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

refactor(cli)!: remove deprecated hugr_json handling (#2690)
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Make `MakeRegisteredOp::extension_ref()` return an `Arc<Extension>`.
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-core/src/std_extensions/ptr.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

add _apply and _apply_inplace for ComposedPass
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

Propagate error from `ExtensionOp::new()` to `MakeRegisteredOp::to_extension_op()`.
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Print a helpful panic message if `Extension::get_op()` called with invalid name.
  hugr-core/src/extension/simple_op.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

apply suggestions from @acl-cqc
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

docstring
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(hugr-core)!: Return error instead of panicking in `MakeRegisteredOp::to_extension_op()` (#2701)
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-core/src/std_extensions/ptr.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: register packaged extensions before model import
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

idea: Alternative to multiple ComposablePass apply methods
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: change devenv llvm to 20
  devenv.lock
  devenv.nix
  devenv.yaml
Due: none

feat: upgrade to llvm 20
  Cargo.lock
  hugr-llvm/Cargo.toml
  hugr-llvm/src/custom/types.rs
  hugr-llvm/src/emit/func/mailbox.rs
  hugr-llvm/src/emit/libc.rs
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/borrow_array.rs
  hugr-llvm/src/extension/collections/list.rs
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-llvm/src/extension/collections/static_array.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/lib.rs
  hugr/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

update workflows and readmes
  .github/workflows/ci-rs.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-checks.yml
  DEVELOPMENT.md
  hugr-llvm/README.md
Due: none

revertme: disable non-llvm tests
  .github/workflows/ci-rs.yml
Due: none

feat: PassResult definition
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Use pass names rather than objects, so the result is serializable
  hugr-py/src/hugr/passes/_composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

debug link issues
  .github/workflows/ci-rs.yml
Due: none

More tests
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add pass name to error message
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove `RootCheckable`.
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-passes/src/half_node.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/nest_cfgs.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Use `expect()` when unwrapping.
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-passes/src/half_node.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat!: Remove `RootCheckable` (#2704)
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-passes/src/half_node.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/nest_cfgs.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.15.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

test no_new_names_module
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

test no_new_names_entrypoint
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

NameLinkingError is non_exhaustive
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Use ModuleGraph, rm CallGraph
  hugr-core/src/call_graph.rs
  hugr-core/src/hugr/linking.rs
  hugr-core/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

support MSRV
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc
