Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

Use ascent_run to drop context from all the relations. Lots cleanup to follow
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/machine.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

DFContext does not Deref, pass Hugr separately
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/machine.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Massively reduce scope of clippy-allow to inside run_datalog
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move ValueRow into own file
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/value_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move Machine into datalog.rs, pub(super) fields in AnalysisResults, rm DatalogResults
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/results.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move machine.rs to results.rs
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove enum IO, replace io_node -> input_child/output_child
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

move docs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dataflow/results.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.13.2 (#1588)
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Remove/inline/dedup dfb_block
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

relation doc
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

datalog docs (each relation), move _cfg_succ_dest
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

comment, use exactly_one
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(py): allow conditional cases to be defined out of order (#1599)
  hugr-py/src/hugr/build/cond_loop.py
  hugr-py/tests/test_cond_loop.py
Due: ruff-format, ruff-check, mypy-check, py-test

Allow to handle LoadFunction
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

TotalContext: don't get_optype, use the ExtensionOp via DataflowOpTrait
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

TotalContext: do not require Eq, Hash, etc.
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

HugrValueContext -> ConstFoldContext, empty, no need for Eq/Hash/etc.
  hugr-passes/src/const_fold2.rs
  hugr-passes/src/const_fold2/context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add parametrized SumOf<V> in hugr_core with manual serde
  hugr-core/src/ops/constant.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Separate out ConstLoader
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: don't normalise half turns (#137)
  Cargo.lock
  src/extension/rotation.rs
  src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@llvm14.snap
  src/extension/snapshots/hugr_llvm__extension__rotation__test__emit_all_ops@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

value_from_(custom_const=>opaque), taking &OpaqueValue
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.6.1 (#138)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

ci: Use `uv --frozen` instead of `--locked`
  .github/workflows/ci-py.yml
Due: none

WIP implement ConstLoader, munge ValueHandle construction
  hugr-core/src/ops/constant.rs
  hugr-passes/src/const_fold2/context.rs
  hugr-passes/src/const_fold2/value_handle.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

TotalContext requires ConstLoader
  hugr-passes/src/dataflow/total_context.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Use `uv --frozen` instead of `--locked` (#1611)
  .github/workflows/ci-py.yml
Due: none

Ignore extension decls while importing instead of reporting an error.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add term constructor declaration to model.
  hugr-core/Cargo.toml
  hugr-core/src/import.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Introduced module region kind.
  hugr-core/src/export.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Operation declarations in model
  hugr-core/src/import.rs
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  type-bounds.md
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Avoid reordering `RegionKind` variants.
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Resolve the names of custom ops in import given the id of the node.
  hugr-core/src/import.rs
  hugr-model/src/v0/text/hugr.pest
  type-bounds.md
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Export OpDefs
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/op_def.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Move `hugr-model` to a separate release group
  release-plz.toml
Due: none

chore: Move `hugr-model` to a separate release group (#1612)
  release-plz.toml
Due: none

chore(main): release hugr-py 0.9.1
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Tests.
  hugr-core/tests/model.rs
  hugr-model/Cargo.toml
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/binary.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-alias.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-decl-exts.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-params.edn
  hugr-model/tests/snapshots/text__declarative_extensions.snap
  hugr-model/tests/text.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test binary roundtrip of extension op and ctr decl.
  hugr-model/tests/binary.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
