Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-nextest
        name: cargo nextest r
        description:
          Run tests with `cargo nextest`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

fmt
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Correct conversion of table::Term::Tuple to ast::Term.
  hugr-model/src/v0/ast/view.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Fix up snapshot.
  hugr-core/tests/snapshots/model__roundtrip_const.snap
Due: none

fix: SiblingSubrgaph::try_from_nodes for non-entrypoint region
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

rename nodes
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: SiblingSubgraph::try_from_nodes for non-entrypoint region (#2655)
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: Correct conversion of `table::Term::Tuple` to `ast::Term` (#2653)
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-model/src/v0/ast/view.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Fix typo in docstring.
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

docs: Fix typo in docstring. (#2656)
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

monadic wrapper type for descriptions
  hugr-cli/src/convert.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/convert.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/import.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat: track package descriptions when loading
  hugr-cli/src/convert.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/convert.rs
  hugr-cli/tests/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/import.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

review suggestions
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Revert "monadic wrapper type for descriptions"
  hugr-cli/src/convert.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/convert.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/import.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat: track package descriptions when loading (#2639)
  hugr-cli/src/convert.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/convert.rs
  hugr-cli/tests/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/description.rs
  hugr-core/src/envelope/header.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/envelope/reader.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/import.rs
  hugr-core/src/package.rs
  hugr-core/tests/model.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

help headings
  hugr-cli/src/describe.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

detect singular
  hugr-cli/src/describe.rs
  hugr-cli/tests/describe.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

review suggestions
  hugr-cli/src/describe.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat(cli): describe sub-command
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-cli/src/describe.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/tests/describe.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Update hugr-cli/src/lib.rs
  hugr-cli/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

add schema output
  Cargo.lock
  Cargo.toml
  hugr-cli/Cargo.toml
  hugr-cli/src/describe.rs
  hugr-cli/tests/describe.rs
  hugr-core/Cargo.toml
  hugr-core/src/envelope/description.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat(cli): describe sub-command (#2650)
  Cargo.lock
  Cargo.toml
  hugr-cli/Cargo.toml
  hugr-cli/src/describe.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/tests/describe.rs
  hugr-core/Cargo.toml
  hugr-core/src/envelope/description.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release (#2625)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: cargo update - yanked smol_str
  Cargo.lock
  Cargo.toml
Due: none

chore: expect deprecated for cargo command
  hugr-cli/tests/convert.rs
  hugr-cli/tests/describe.rs
  hugr-cli/tests/external.rs
  hugr-cli/tests/gen_extensions.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore: cargo update - yanked smol_str (#2660)
  Cargo.lock
  Cargo.toml
  hugr-cli/tests/convert.rs
  hugr-cli/tests/describe.rs
  hugr-cli/tests/external.rs
  hugr-cli/tests/gen_extensions.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

doc
  hugr-passes/src/normalize_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

ReplaceTypes: operate on whole Hugr, with set_regions
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore(dist): turn off arm windows builds
  dist-workspace.toml
Due: none

chore(dist): turn off arm windows builds (#2663)
  dist-workspace.toml
Due: none

chore(cli): metadata for cargo binstall
  hugr-cli/Cargo.toml
Due: none

test set_regions
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore(cli): metadata for cargo binstall (#2664)
  hugr-cli/Cargo.toml
Due: none

fix: ReplaceTypes: operate on whole Hugr, with set_regions (#2662)
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release (#2661)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

copy_discard_borrow_array: discard only borrowed elements
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Revert "Deliberately invert sense of borrowed/not-borrowed test, breaks test :)"
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Add test in hugr-llvm, adding dev dependency on hugr-passes
  Cargo.lock
  hugr-llvm/Cargo.toml
  hugr-llvm/src/extension/collections/borrow_array.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc
