Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

Drop target_funcs, do everything via callback
  hugr-passes/src/inline_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Detect and fail on unrecognised envelope flags
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: Names of private functions become `core.title` metadata. (#2448)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/src/v0/mod.rs
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-entrypoint.edn
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

encode binary hugrs...
  hugr-core/src/envelope/serde_with.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cross-compat tests
  hugr-core/src/envelope/serde_with.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Avoid breaking enum discriminants
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Use binary envelopes for operation lower_func encoding (#2447)
  hugr-core/src/envelope/serde_with.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/op_def.rs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/tests/conftest.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Avoid serialization changes due to new node indices
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-persistent/src/state_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Update `portgraph` dependency to 0.15
  Cargo.lock
  Cargo.toml
  hugr-core/src/core.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/internal.rs
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-persistent/src/parents_view.rs
  hugr-persistent/src/trait_impls.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update `delegate` dependency min version
  Cargo.toml
Due: none

feat!: Update portgraph dependency to 0.15 (#2455)
  Cargo.lock
  Cargo.toml
  hugr-core/src/core.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/internal.rs
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-persistent/src/parents_view.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/trait_impls.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip: Use derive_more
  hugr-core/src/builder.rs
  hugr-core/src/builder/circuit.rs
  hugr-core/src/builder/conditional.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/declarative.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/hugr.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Enable model-exts for python roundtrip tests
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Detect and fail on unrecognised envelope flags (#2453)
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/header.rs
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(cli): report generator in cli validate command
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: typo
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add more context to EnvelopeErrors
  hugr-cli/tests/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/extension.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: include generator metatada in model import errors
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

format based on json structure
  hugr-core/src/envelope.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

better fallback handling
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore(deps-rs): Bump portgraph to 0.15.1
  Cargo.lock
  Cargo.toml
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-persistent/src/state_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: include generator metatada in model import and cli validate errors (#2452)
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/extension.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix entrypoint ser/deser
  hugr-core/src/hugr/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Disable zstd for miri tests
  .github/workflows/unsoundness.yml
  hugr-core/src/envelope/serde_with.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use nextest for miri runs
  .github/workflows/unsoundness.yml
Due: none

Skip really slow tests
  .config/nextest.toml
  .github/workflows/unsoundness.yml
Due: none

ci: Disable zstd for miri tests (#2459)
  .config/nextest.toml
  .github/workflows/unsoundness.yml
  hugr-core/src/envelope/serde_with.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add pass for DFG inlining
  hugr-passes/src/inline_dfgs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add pass for DFG inlining (#2460)
  hugr-passes/src/inline_dfgs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-llvm: make default function linkage to private
  hugr-llvm/src/emit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add `insert_region` to HugrMut
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

InsertionResult docs
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Also add insert_region for build traits
  hugr-core/src/builder/build_traits.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Add `insert_region` to HugrMut (#2463)
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Ensure SumTypes have the same json encoding in -rs and -py
  hugr-core/src/ops/constant.rs
  hugr-core/src/types.rs
  hugr-core/src/types/serialize.rs
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
