Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

feat: Remove extension sets from `hugr-model`. (#2031)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_alias.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/ast/python.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/ast/view.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-alias.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-constraints.edn
  hugr-model/tests/fixtures/model-decl-exts.edn
  hugr-model/tests/fixtures/model-lists.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-params.edn
  hugr-model/tests/snapshots/text__declarative_extensions.snap
  hugr-py/src/hugr/model/__init__.py
  hugr-py/src/hugr/model/export.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Lint reasons not allowed on old Rust versions.
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Deprecate multiple hugr error in envelope instead of removing it.
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

For now suppress deprecation warning in envelope.rs since it is caused by macro generated code.
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Import and export order edges via metadata.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/src/v0/mod.rs
  hugr-model/tests/fixtures/model-order.edn
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add `core.` prefix to order hint metadata symbols.
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/src/v0/mod.rs
  hugr-model/tests/fixtures/model-order.edn
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Fixed parser bug, updated order test not to use extension sets.
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/tests/fixtures/model-order.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: Take a closure in val_or_panic
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs, make pub, more errors
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test copyable element inside Sum - breaks test
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Error on copyable; handle copyable elements of sums - fixes
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

register errors with type; panic on function as already ruled out
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more docs - no overriding copy/discard of non-extension types
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: New structure, same behaviour
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add `build_expect_sum` to allow specific error messages
  hugr-core/src/extension/prelude/unwrap_builder.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

allow closure to return whole error
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/unwrap_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Proper error handling for order hint imports.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Allow us to `maturin develop` from project root
  hugr-py/pyproject.toml
  justfile
  pyproject.toml
  uv.lock
Due: none

chore: Use stable py aby
  hugr-py/Cargo.toml
Due: none

ci: Configure wheel building in CI
  .github/workflows/python-wheels.yml
Due: none

chore: Avoid hugr-model linking to libpython.so
  hugr-model/Cargo.toml
Due: none

ci: Avoid linking python when running tests
  .pre-commit-config.yaml
  hugr-py/Cargo.toml
  justfile
  release-please-config.json
  uv.lock
Due: none

Lints.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(hugr-py): Swap `zstd` dependency for `pyzstd`
  hugr-py/pyproject.toml
  hugr-py/src/hugr/envelope.py
  hugr-py/tests/test_envelope.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

almost
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

pub discard_op
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Move all handlers into handlers.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Avoid linking libpython for rust tests (#2035)
  .pre-commit-config.yaml
  hugr-model/Cargo.toml
  hugr-py/Cargo.toml
  justfile
  release-please-config.json
  uv.lock
Due: none

Correct typo 'in' -> 'if'
  hugr-core/src/std_extensions/collections/array/array_op.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.11.4
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: Allow us to `maturin develop` from project root (#2036)
  hugr-py/pyproject.toml
  justfile
  pyproject.toml
  uv.lock
Due: none

chore(hugr-py): Swap `zstd` dependency for `pyzstd` (#2038)
  hugr-py/pyproject.toml
  hugr-py/src/hugr/envelope.py
  hugr-py/tests/test_envelope.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

ci: Configure wheel building with maturin (#2037)
  .github/workflows/python-wheels.yml
  hugr-py/Cargo.toml
Due: none

chore(main): release hugr-py 0.11.4 (#2030)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
