Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

feat!: Upgrade to relrc 0.5
  Cargo.lock
  Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-persistent/src/commit.rs
  hugr-persistent/src/commit/boundary.rs
  hugr-persistent/src/lib.rs
  hugr-persistent/src/parents_view.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/persistent_hugr/serial.rs
  hugr-persistent/src/persistent_hugr/snapshots/hugr_persistent__persistent_hugr__serial__tests__serde_persistent_hugr.snap
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/state_space/serial.rs
  hugr-persistent/src/state_space/snapshots/hugr_persistent__state_space__serial__tests__serialize_state_space.snap
  hugr-persistent/src/subgraph.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/wire.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy fix
  hugr-persistent/src/commit.rs
  hugr-persistent/src/commit/boundary.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix doc hyperlinks
  hugr-persistent/src/commit.rs
  hugr-persistent/src/state_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more minor changes
  hugr-persistent/src/commit.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generalize InlineDFG to any HugrNode
  hugr-core/src/hugr/patch/inline_dfg.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generalize merge_bbs to any HugrNode
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

factor out mk_rep2
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Option -> parametrize
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

factor out add_unpack
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add normalize_cfgs and error/result enums, deprecate merge_basic_blocks
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Combine two entry-elisions, plus some missing edges/ports; revert mk_rep2
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Use `uv` ecosystem for dependabot python updates (#2570)
  .github/dependabot.yml
Due: none

fix(core): check extension versions on model import
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(core): check extension versions on model import (#2580)
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Allow creating DFG builders from existing hugrs (#2562)
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Documentation and error hints (#2523)
  hugr-core/src/import.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: DeadCodeElim keeps consumers of linear outputs (#2560)
  hugr-passes/src/dead_code.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add_input/output for arbitrary DFGBuilders (#2564)
  hugr-core/src/builder.rs
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core): inner acccesors for WithGenerator error
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(release/0.22.4): release hugr-py 0.13.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(core): inner acccesors for WithGenerator error (#2583)
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release-plz update
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release-plz update for 0.22.4
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: release-plz update for 0.22.4 (#2584)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

fix!: test extension version compatibility on ModelWithExts
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: test extension version compatibility on ModelWithExts (#2587)
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.13.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Make PersistentHugr::children more efficient
  hugr-persistent/src/trait_impls.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix(core): check used extension versions against resolved extensions
  hugr-core/src/envelope.rs
  hugr-core/src/envelope/package_json.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Allow importing Hugr from model data (inefficient hack).
  Cargo.lock
  hugr-py/Cargo.toml
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Extend test.
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

Remove lazy_static + fixes
  hugr-llvm/src/extension/collections/borrow_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test using extension (failing).
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

Some fixes, docs
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Attempt first test == elision. Resulting structure is a PITA to inspect
  hugr-core/src/ops/tag.rs
  hugr-passes/src/merge_bbs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: model import loads Package extensions
  hugr-core/src/envelope.rs
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: better roundtrip test
  hugr-core/tests/model.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
