Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Remove capnp compile-time dependency from CI
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-checks.yml
  .github/workflows/unsoundness.yml
  DEVELOPMENT.md
Due: none

Remove capnp code generation from build.rs
  .gitattributes
  Cargo.toml
  hugr-model/Cargo.toml
  hugr-model/build.rs
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/capnp/mod.rs
  hugr-model/src/lib.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  justfile
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Check that the generated capnp is up-to-date on CI
  .github/change-filters.yml
  .github/workflows/ci-rs.yml
Due: none

Update capnp for simplified model
  hugr-model/src/capnp/hugr_v0_capnp.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Do not require `capnp` to be installed to compile `hugr-model` (#1907)
  .gitattributes
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-checks.yml
  .github/workflows/unsoundness.yml
  Cargo.toml
  DEVELOPMENT.md
  hugr-model/Cargo.toml
  hugr-model/build.rs
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/capnp/mod.rs
  hugr-model/src/lib.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  justfile
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.10.3
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Make release non-breaking
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: fix semver checks in CI
  .github/workflows/semver-checks.yml
Due: none

ci: Re-add llvm install to semver-checks run
  .github/workflows/semver-checks.yml
Due: none

ci: Re-add llvm install to semver-checks run (#1909)
  .github/workflows/semver-checks.yml
Due: none

chore: release (#1910)
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Add InlineCall - v0 supporting recursion but no other incoming edges
  hugr-core/src/hugr/rewrite.rs
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix verify to also check call target
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add HugrMut::copy_subtree. TODO check for invalidation?
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

TEMP use local portgraph
  Cargo.toml
Due: none

InlineCall uses copy_subtree
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

First test; fix copying of optypes,metadata,hierarchy
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP test
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix recursion by changing copy_subtree => copy_descendants
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Validate in test
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Tidy tests w/helper methods calls/extension_ops
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/internal.rs
  hugr-core/src/types.rs
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add xor to logic extension
  hugr-core/src/std_extensions/logic.rs
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__xor@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__xor@pre-mem2reg@llvm14.snap
  hugr-py/src/hugr/std/_json_defs/logic.json
  specification/std_extensions/logic.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: simplify logic lowering given only 2 inputs
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__eq@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add pass
  hugr-passes/Cargo.toml
  hugr-passes/src/non_local.rs
  hugr-passes/src/validation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

oops
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update snapshot
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__eq@llvm14.snap
Due: none

conditional
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove dbg
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: add xor to logic extension (#1911)
  hugr-core/src/std_extensions/logic.rs
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__xor@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__logic__test__xor@pre-mem2reg@llvm14.snap
  hugr-py/src/hugr/std/_json_defs/logic.json
  specification/std_extensions/logic.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.14.4
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

refactor test: inline get_nonrec_call
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix tests for --all-features
  hugr-core/src/hugr/rewrite/inline_call.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

works
  hugr-passes/Cargo.toml
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
