Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

poetry-install:
  name: sync poetry deps
  description: Ensure development tools are installed.
  entry: poetry install --sync
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: poetry run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: poetry run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --all-features --workspace
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
  language: system
  pass_filenames: false

Review comments
  hugr-py/src/hugr/hugr.py
  hugr-py/src/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
Due: ruff-format, ruff-check, mypy-check, py-test

python 3.10 compat...
  hugr-py/src/hugr/render.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Bring in the pure-python renderer from guppy (#1462)
  .pre-commit-config.yaml
  hugr-py/pyproject.toml
  hugr-py/src/hugr/hugr.py
  hugr-py/src/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/conftest.py
  hugr-py/tests/test_hugr_build.py
  justfile
  poetry.lock
  pyproject.toml
Due: poetry-install, ruff-format, ruff-check, mypy-check, py-test

Test panic paths too
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Replace `poetry` with `uv`
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  .github/workflows/python-wheels.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  devenv.nix
  hugr-py/LICENCE
  hugr-py/docs/build.sh
  hugr-py/pyproject.toml
  hugr-py/tests/test_version.py
  justfile
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-install, ruff-format, ruff-check, mypy-check, py-test

cleanup cache keys
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
Due: none

bump to uv 0.2.4
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  .github/workflows/python-wheels.yml
Due: none

Activate venv when entering devenv
  devenv.nix
Due: none

Bring the collections ext in line with other extension defs
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docs
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cleanup unneeded method
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Better test coverage
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add missing ops (#1463)
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/float_ops/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops/const_fold.rs
  hugr-py/src/hugr/std/_json_defs/arithmetic/float.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  specification/std_extensions/arithmetic/float.json
  specification/std_extensions/arithmetic/int.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Lower logic extension (#81)
  src/custom.rs
  src/custom/logic.rs
  src/custom/snapshots/hugr_llvm__custom__logic__test__and@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__logic__test__and@pre-mem2reg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__logic__test__eq@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__logic__test__eq@pre-mem2reg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__logic__test__or@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__logic__test__or@pre-mem2reg@llvm14.snap
  tests/guppy.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use a single script to control the uv version in CI
  .github/script/install-uv.sh
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  .github/workflows/python-wheels.yml
Due: none

feat: Lower arrays (#82)
  src/custom/prelude.rs
  src/custom/snapshots/hugr_llvm__custom__prelude__test__prelude_new_array@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__prelude__test__prelude_new_array@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Bring the collections ext in line with other extension defs (#1469)
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/list_fold.rs
  hugr-passes/src/const_fold/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.3.0 (#80)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: devenv update
  devenv.lock
  devenv.yaml
Due: none

chore: Replace `poetry` with `uv` (#1465)
  .github/change-filters.yml
  .github/script/install-uv.sh
  .github/workflows/ci-py.yml
  .github/workflows/docs.yml
  .github/workflows/python-wheels.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  devenv.lock
  devenv.nix
  devenv.yaml
  hugr-py/LICENCE
  hugr-py/docs/build.sh
  hugr-py/pyproject.toml
  hugr-py/tests/test_version.py
  justfile
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-install, ruff-format, ruff-check, mypy-check, py-test

feat!: move MakeTuple to prelude from core
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/hugr/rewrite/consts.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/leaf.rs
  hugr-core/src/ops/validate.rs
  hugr-passes/src/const_fold.rs
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/serialization/ops.py
  hugr-py/src/hugr/std/__init__.py
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

flatten leaf module and simplify some ops in to tuple structs
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/tail_loop.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/rewrite/inline_dfg.rs
  hugr-core/src/hugr/rewrite/insert_identity.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/ops/validate.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/merge_bbs.rs
  hugr-passes/src/non_local.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: rename ops::leaf to ops::sum
  hugr-core/src/ops.rs
  hugr-core/src/ops/sum.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: move noop to prelude
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/tail_loop.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/rewrite/insert_identity.rs
  hugr-core/src/hugr/rewrite/simple_replace.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/leaf.rs
  hugr-core/src/ops/validate.rs
  hugr-core/src/types/signature.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/merge_bbs.rs
  hugr-passes/src/non_local.rs
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/serialization/ops.py
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

refactor: use row variables for panic op
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: move lift to prelude
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/tail_loop.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/rewrite/inline_dfg.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/leaf.rs
  hugr-core/src/ops/validate.rs
  hugr-passes/src/merge_bbs.rs
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/serialization/ops.py
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/tests/test_hugr_build.py
  specification/std_extensions/prelude.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat!: move unpacktuple to prelude
  hugr-core/src/extension/prelude.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/leaf.rs
  hugr-core/src/ops/validate.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/merge_bbs.rs
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/serialization/ops.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

update schema
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

some more testing
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove dbg
  hugr-core/src/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor(hugr-py)!: make serialization (module/methods) private
  hugr-py/src/hugr/_serialization/__init__.py
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/_serialization/serial_hugr.py
  hugr-py/src/hugr/_serialization/testing_hugr.py
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/hugr.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/__init__.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/serialization/test_extension.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_hugr_build.py
  scripts/generate_schema.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix ruff.toml
  ruff.toml
Due: none

refactor!: fix naming conflicts in schema
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/val.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Emit more int operations (#87)
  src/custom/int.rs
  src/custom/snapshots/hugr_llvm__custom__int__test__binop_emission@llvm14-2.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__binop_emission@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__binop_emission@pre-mem2reg@llvm14-2.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__binop_emission@pre-mem2reg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__cmp_emission@llvm14-2.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__cmp_emission@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__cmp_emission@pre-mem2reg@llvm14-2.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__cmp_emission@pre-mem2reg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__emission@pre-mem2reg@llvm14-2.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__emission@pre-mem2reg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__ineg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__ineg@pre-mem2reg@llvm14.snap
  src/custom/snapshots/hugr_llvm__custom__int__test__neg_emission@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor(hugr-py)!: make serialization (module/methods) private (#1477)
  hugr-py/src/hugr/_serialization/__init__.py
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/_serialization/serial_hugr.py
  hugr-py/src/hugr/_serialization/testing_hugr.py
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/hugr.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/__init__.py
  hugr-py/src/hugr/tys.py
  hugr-py/src/hugr/utils.py
  hugr-py/src/hugr/val.py
  hugr-py/tests/conftest.py
  hugr-py/tests/serialization/test_basic.py
  hugr-py/tests/serialization/test_extension.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_hugr_build.py
  ruff.toml
  scripts/generate_schema.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Move `Lift`, `MakeTuple`, `UnpackTuple` and `Lift` to prelude (#1475)
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/tail_loop.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/rewrite/consts.rs
  hugr-core/src/hugr/rewrite/inline_dfg.rs
  hugr-core/src/hugr/rewrite/insert_identity.rs
  hugr-core/src/hugr/rewrite/simple_replace.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/root_checked.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/leaf.rs
  hugr-core/src/ops/sum.rs
  hugr-core/src/ops/validate.rs
  hugr-core/src/types/signature.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/merge_bbs.rs
  hugr-passes/src/non_local.rs
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/ops.py
  hugr-py/src/hugr/std/__init__.py
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/tests/test_hugr_build.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  specification/std_extensions/prelude.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: release v0.3.1 (#88)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: record node children correctly when deserializing
  hugr-py/src/hugr/hugr.py
  hugr-py/tests/serialization/test_basic.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(hugr-py): record node children correctly when deserializing (#1480)
  hugr-py/src/hugr/hugr.py
  hugr-py/tests/serialization/test_basic.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Option/Result helper definitions
  hugr-core/src/extension/prelude.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  poetry-install: any of: poetry.lock
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
