Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-nextest:
  name: cargo nextest r
  description: Run tests with `cargo nextest`.
  entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

Special-case import of core.adt in compat.const_json terms.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Make "core.make_adt" imports work when only tag is provided.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add FIXME comment.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Refactor.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Import arithmetic.int.types.int values.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Always give LoadConst node an output port.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Set number of output ports for TailLoop nodes.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add FIXME comments. How to construct PolyFuncType?
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Always give LoadFunc node an output port.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Determine TypeBound for collections.list.List.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Set number of output ports on CallIndirect nodes.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Import collections.list.List values.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix: don't treat empty string as None.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Generalize compat.const_json imports.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Give more context in error message.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Move FIXME.
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/package.py
Due: ruff-format, ruff-check, mypy-check, py-test

Import packaged extensions.
  hugr-model/src/v0/binary/mod.rs
  hugr-model/src/v0/binary/read.rs
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/model/__init__.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

Lints.
  hugr-py/src/hugr/model/__init__.py
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Revert unnecessary change.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Document return value of ModelImport.import_node_in_dfg().
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Import collections.array.const values.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rename.
  hugr-py/src/hugr/model/load.py
Due: ruff-format, ruff-check, mypy-check, py-test

set_replace(_parametrized,)_(op,type) all recursive w/out linearization, deprecate old
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

op callback returns result; add get_linearizer; change drop-lowering test
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Update tests to avoid deprecations
  hugr-passes/src/composable.rs
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

remove done TODO
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

(Copilot-suggested) doc expected future LinkAction
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Copilot-suggested fn target_node(&PubFuncs)...take further?
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

No further...target_node(&Either...)
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Remove `extensions` field of `val.Extension`.
  hugr-py/src/hugr/val.py
Due: ruff-format, ruff-check, mypy-check, py-test

NewFuncHandling => OnNewFunc, MultiImplHandling => OnMultiDefn
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

remove TODOs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Remove 'shall we' comment on error - we shall not
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

doc expectations re. change of behaviour
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

copilot assert
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

test: Improve ComposablePass tests
  hugr-py/src/hugr/passes/_composable_pass.py
  hugr-py/tests/test_passes.py
Due: ruff-format, ruff-check, mypy-check, py-test

More copilot: &String -> &str
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Correct comment implement->link *1
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Tidy let-else+panic into match+2*panic
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
