Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

make mypy happy
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Use suggestion for handling non-local edges
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Allow calling `FunctionBuilder` for any AsMut<Hugr>
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Same for define_func/FunctionBuilder::new; remove (_pub,_priv) except FuncDecl
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/core.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/utils/inline_constant_functions.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

FuncDefn::new uses public for main else private...TODO define_func, FuncBuilder::new
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/ops/module.rs
  hugr-persistent/src/resolver.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

FuncDecl: remove new_public/new_priv, don't deprecate new
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rm default_for_name, all builder methods construct via FuncDefn::new
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/core.rs
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add lowering
  .github/workflows/ci-py.yml
  hugr-core/src/extension/prelude.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add another test
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error_and_panic@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error_and_panic@pre-mem2reg@llvm14.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update extension version
  hugr-core/src/extension/prelude.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `MakeError` op (#2377)
  hugr-core/src/extension/prelude.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error_and_panic@llvm14.snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__prelude__test__prelude_make_error_and_panic@pre-mem2reg@llvm14.snap
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Open lists and tuples in `Term` (#2360)
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/import.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/serialize.rs
  hugr-core/src/types/type_param.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Use List instead of Tuple in conversions for TypeArg/TypeRow
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Call `FunctionBuilder::add_{in,out}put` for any AsMut<Hugr> (#2376)
  hugr-core/src/builder/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix syntax error
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

error on cycles
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

address comments
  hugr-core/src/types/type_row.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

FuncDefn::new also private but logs if name==main
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Fix doc + missing see-also
  hugr-core/src/builder/module.rs
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "FuncDefn::new also private but logs if name==main"
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr_core Visibility is not Copy
  hugr-core/src/builder/module.rs
  hugr-core/src/core.rs
  hugr-core/src/export.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/ops/module.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-model Visibility not Copyable -> allocate
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/ast/view.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Don't mark hugr-model Visibility as non-exhaustive
  hugr-core/src/core.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test validate_linkage, improve comment
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

dead_code.rs: Remove bogus allow-deprecated
  hugr-passes/src/dead_code.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove_dead_funcs_pass2, fold_constants
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix handling of input node
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

add comments and rename
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

add a test for cycle detection
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor tests with a helper
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: simplify extension check - always require version bump
  .github/workflows/ci-py.yml
Due: none

improve error messages
  scripts/check_extension_versions.py
Due: ruff-format, ruff-check, mypy-check, py-test

revertme: test change
  specification/std_extensions/collections/array.json
Due: none

Use a set to validate toposort
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Back out "revertme: test change"
  specification/std_extensions/collections/array.json
Due: none

use pytest fixture
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

call validate inside helper
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix rename, fmt
  hugr-model/src/v0/binary/read.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix use of validate
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test
