Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

ConstLocation with Box - a lot of cloning
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

No - Revert - just make ConstLocation store a reference
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

{value=>partial}_from_const, takes ConstLoc, inline traverse_value
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add scan op
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make ConstLocation Copy
  hugr-passes/src/dataflow.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ConstLocation is From<Node>; move partial_from_const out to toplev, no value_from_const
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add test
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Undo special casing `try_from_nodes`
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/dataflow/results.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/validation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-core/src/types.rs
  hugr-passes/Cargo.toml
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dataflow.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/static_cicuit/guppy_examples/1.py
  hugr-passes/tests/static_circuit.rs
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

wip
  hugr-passes/src/dataflow/results.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-passes/src/dataflow/partial_value.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add `SiblingSubgraph::from_node` (#1655)
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Replace GATs with `impl Iterator` returns (RPITIT) on the hugr traits
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/hugr/rewrite/inline_dfg.rs
  hugr-core/src/hugr/rewrite/outline_cfg.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/descendants.rs
  hugr-core/src/hugr/views/petgraph.rs
  hugr-core/src/hugr/views/sibling.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/import.rs
  hugr-passes/src/half_node.rs
  hugr-passes/src/merge_bbs.rs
  hugr-passes/src/nest_cfgs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Post issues for miri check fails instead of messaging slack
  .github/workflows/unsoundness.yml
Due: none

drive-by typo
  .github/workflows/ci-rs.yml
Due: none

exclude hugr-llvm from no-default-features
  .github/workflows/ci-rs.yml
Due: none

no need to re-run with hugr-llvm
  .github/workflows/ci-rs.yml
Due: none

use install llvm action
  .github/workflows/ci-rs.yml
Due: none

don't install llvm for check
  .github/workflows/ci-rs.yml
Due: none

exclude hugr-llvm from default members
  Cargo.toml
Due: none

use hugr_core rather than hugr dependency
  hugr-llvm/Cargo.toml
  hugr-llvm/src/custom.rs
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/custom/load_constant.rs
  hugr-llvm/src/custom/types.rs
  hugr-llvm/src/emit.rs
  hugr-llvm/src/emit/args.rs
  hugr-llvm/src/emit/func.rs
  hugr-llvm/src/emit/libc.rs
  hugr-llvm/src/emit/namer.rs
  hugr-llvm/src/emit/ops.rs
  hugr-llvm/src/emit/ops/cfg.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/conversions.rs
  hugr-llvm/src/extension/float.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/extension/prelude/array.rs
  hugr-llvm/src/sum.rs
  hugr-llvm/src/test.rs
  hugr-llvm/src/types.rs
  hugr-llvm/src/utils/array_op_builder.rs
  hugr-llvm/src/utils/fat.rs
  hugr-llvm/src/utils/inline_constant_functions.rs
  hugr-llvm/src/utils/int_op_builder.rs
  hugr-llvm/src/utils/logic_op_builder.rs
  hugr-llvm/src/utils/type_map.rs
  hugr-llvm/src/utils/unwrap_builder.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add llvm feature to hugr
  hugr/Cargo.toml
  hugr/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

separate non-required workflow for llvm
  .github/change-filters.yml
  .github/workflows/ci-rs.yml
Due: none

only run llvm on main
  .github/workflows/ci-rs.yml
Due: none

[REVERTME] test branch push
  .github/workflows/ci-rs.yml
Due: none

wip
  hugr-passes/Cargo.toml
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/inline.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/snapshots/static_circuit__guppy_examples.snap.new
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@1.py.snap.new
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@2.py.snap.new
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@3.py.snap.new
  hugr-passes/tests/static_cicuit/guppy_examples/1.py
  hugr-passes/tests/static_circuit.rs
  hugr-passes/tests/static_circuit/guppy_examples/1.py
  hugr-passes/tests/static_circuit/guppy_examples/2.py
  hugr-passes/tests/static_circuit/guppy_examples/3.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

wip
  .gitignore
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/snapshots/static_circuit__guppy_examples.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@1.py.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@2.py.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@3.py.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow/partial_value.rs
  hugr-passes/src/inline.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@1.py.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@2.py.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@3.py.snap
  hugr-passes/tests/static_circuit.rs
  hugr-passes/tests/static_circuit/guppy_examples/1.py
  hugr-passes/tests/static_circuit/guppy_examples/2.py
  hugr-passes/tests/static_circuit/guppy_examples/3.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

wip
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/snapshots/static_circuit__guppy_examples.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@1.py.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@2.py.snap
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@3.py.snap
  hugr-passes/tests/static_circuit.rs
  hugr-passes/tests/static_circuit/guppy_examples/2.py
  hugr-passes/tests/static_circuit/guppy_examples/3.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fmt
  hugr-passes/src/inline.rs
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/static_circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Run unsoundness checks on a set schedule
  .github/workflows/unsoundness.yml
Due: none

cleanup SiblingGraph impls
  hugr-core/src/hugr/views/sibling.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test DescendantsGraph imls
  hugr-core/src/hugr/views/descendants.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make it weekly instead
  .github/workflows/unsoundness.yml
Due: none

ci: Run unsoundness checks on a set schedule (#1666)
  .github/workflows/unsoundness.yml
Due: none

Replaced copy and discardable constraints with a single nonlinear constraint.
  hugr-core/Cargo.toml
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/text/hugr.pest
  hugr-model/src/v0/text/parse.rs
  hugr-model/src/v0/text/print.rs
  hugr-model/tests/fixtures/model-constraints.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

works
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/static_circuit.rs
  hugr-passes/tests/snapshots/static_circuit__guppy_examples@3.py.snap
  hugr-passes/tests/static_circuit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
