Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

Extract `Version` into its own struct in capnp.
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Read version from `version.txt`.
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/version.rs
  hugr-model/version.txt
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Move file change checks to a composite action
  .github/actions/check-changes/action.yml
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/semver-checks.yml
Due: none

docs
  .github/actions/check-changes/action.yml
  .github/change-filters.yml
Due: none

feat: Version number in hugr binary format. (#2468)
  Cargo.lock
  Cargo.toml
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/lib.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/version.rs
  hugr-model/version.txt
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Enable model-exts for python roundtrip tests (#2449)
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat: Use semver crate for -model version, and include in docs
  Cargo.lock
  hugr-model/Cargo.toml
  hugr-model/FORMAT_VERSION
  hugr-model/src/lib.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/version.rs
  hugr-model/version.txt
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Review comments
  .github/actions/check-changes/action.yml
Due: none

Set version to 1.0.0
  hugr-model/FORMAT_VERSION
Due: none

ci: Move file change checks to a composite action (#2469)
  .github/actions/check-changes/action.yml
  .github/change-filters.yml
  .github/workflows/ci-py.yml
  .github/workflows/ci-rs.yml
  .github/workflows/semver-checks.yml
Due: none

feat: Use semver crate for -model version, and include in docs (#2471)
  Cargo.lock
  hugr-model/Cargo.toml
  hugr-model/FORMAT_VERSION
  hugr-model/src/lib.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/version.rs
  hugr-model/version.txt
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(deps-rs): Bump portgraph to 0.15.1 (#2458)
  Cargo.lock
  Cargo.toml
  hugr-core/src/hugr/serialize.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-persistent/src/state_space.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add release blurb
  hugr/CHANGELOG.md
Due: none

ci: Enable crates.io trusted publishing
  .github/workflows/release-plz.yml
Due: none

ci: Fix release-plz changelog header
  release-plz.toml
Due: none

ci: Enable crates.io trusted publishing (#2473)
  .github/workflows/release-plz.yml
Due: none

ci: Update release-plz changelog header (#2474)
  release-plz.toml
Due: none

ci: Add openID permissions to release-plz publishing
  .github/workflows/release-plz.yml
Due: none

ci: Add openID permissions to release-plz publishing (#2475)
  .github/workflows/release-plz.yml
Due: none

chore: release (#2476)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat: Expose model version on python lib
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/src/hugr/model/__init__.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Simple test
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Expose model version on python lib (#2477)
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/src/hugr/model/__init__.py
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

chore: Rollback manual changes to the release-please manifest
  .release-please-manifest.json
Due: none

chore: Rollback manual changes to the release-please manifest (#2478)
  .release-please-manifest.json
Due: none

chore(main): release hugr-py 0.13.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

make it a release candidate
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

docs, and the module_root == entrypoint dilemma
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.13.0rc1 (#2302)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

DelegatingLinearizer::default includes copy_discard_array; linearize_array does not
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Avoid `release-plz` closing PRs unnecessarily
  .github/workflows/release-plz.yml
Due: none

Split release-PR and release-registry steps
  .github/workflows/release-plz.yml
Due: none

replace_static_src uses remove_subtree not remove_node
  hugr-core/src/hugr/hugrmut.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

NodeLinkingDirective::Add allows replacing multiples
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs: add docstrings for result fields
  hugr-py/src/hugr/qsystem/result.py
Due: ruff-format, ruff-check, mypy-check, py-test

Allow for multiple aliased FuncDecls, v1
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
