Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Make clippy happy
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add HugrMut::optype_mut (v2, allow mutating root if RootHandle == Node)
  hugr-core/src/hugr/internal.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP add hugr-passes/src/lower_types.rs (w/ change_node, subst_ty)
  hugr-core/src/types/poly_func.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add def_arc
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Use TypeTransformer framework, removing most type_stuff from lower_types.rs
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

change_node, change_type, and the rest
  hugr-passes/src/lib.rs
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Assume less in OpReplacement::replace
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

parametrized ops
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Comments, renaming, use const_fn
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

remove copy_discard stuff
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Parametrized type support
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

OpHashWrapper
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Comment const_fn TODO
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add a load of copy/discard lowering stuff, OpReplacement
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test panics on unexpected argument - simpler, better
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(main): release hugr-py 0.11.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

test functiontype
  hugr-core/src/types.rs
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy that new test
  hugr-core/src/types/signature.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hugr-py): Support envelope compression
  hugr-py/pyproject.toml
  hugr-py/src/hugr/envelope.py
  hugr-py/tests/conftest.py
  hugr/Cargo.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

zstd typing stubs
  pyproject.toml
  uv.lock
Due: none

Default Package.to_bytes to compressed binary
  hugr-py/src/hugr/package.py
Due: ruff-format, ruff-check, mypy-check, py-test

WIP setup for test
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

First test
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Drop Serialization section from DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

feat(hugr-py): Support envelope compression (#1994)
  hugr-py/pyproject.toml
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/package.py
  hugr-py/tests/conftest.py
  hugr/Cargo.toml
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

read only makes sense for Copyables
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Extend test to Calls of polyfunc; comments, monomorphize first
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

no, instantiate the calls with types being lowered
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Consts: HashMap keyed by either, add lower_ methods. Test TailLoop and Const.
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy, turn off type-complexity
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

wip
  hugr-llvm/src/extension/collections.rs
  hugr-llvm/src/extension/collections/static_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Add doug-q to codeowners
  .github/CODEOWNERS
Due: none

fix: Remove return from val_or_panic
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_iu_to_s_[3].snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Add doug-q to codeowners (#1998)
  .github/CODEOWNERS
Due: none

Actual Error for check_sig, add setter method
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs
  hugr-passes/src/lower_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix!: No libc in int codegen extension
  Cargo.lock
  hugr-llvm/Cargo.toml
  hugr-llvm/src/emit/ops/cfg.rs
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/conversions.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_is_to_u_[3].snap
  hugr-llvm/src/extension/snapshots/hugr_llvm__extension__int__test__emission@pre-mem2reg@llvm14_iu_to_s_[3].snap
  hugr-llvm/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Drop Serialization section from DEVELOPMENT.md (#1997)
  DEVELOPMENT.md
Due: none

cargo fmt
  hugr-llvm/src/extension/int.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
