Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-install, ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: poetry-install
        name: sync poetry deps
        description: Ensure development tools are installed.
        entry: poetry install --sync
        language: system
        files: poetry.lock
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: poetry run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: poetry run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: poetry run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description: Run tests with `cargo test`.
        entry: cargo test --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        # We need to rebuild `hugr-cli` without the `extension_inference` feature
        # to avoid test errors.
        # TODO: Remove this once the issue is fixed.
        entry: sh -c "cargo build -p hugr-cli && poetry run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat!: Move int conversions to `conversions` ext, add to/from usize (#1490)
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/int.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Fix docs build script error (#1485)
  .github/workflows/docs.yml
Due: none

implement remaining array ops
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: put array in submodule of prelude
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: introduce enum/struct for array ops
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test all signatures
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

params docstring
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update serialized prelude
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: none

better unreachable
  hugr-core/src/extension/prelude/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: fill out array ops (#1491)
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/array.rs
  hugr-py/src/hugr/std/_json_defs/prelude.json
  specification/std_extensions/prelude.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix schema for array inner types
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

fix: schema for array inner types (#1494)
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/tys.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.8.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: release (#1495)
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Remove `py`/`hugr-py` labels from changelog
  hugr-py/CHANGELOG.md
Due: none

Cleanup the changelog
  hugr-py/CHANGELOG.md
Due: none

chore(main): release hugr-py 0.8.0 (#1430)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

comments
  hugr-core/src/ops/constant/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: IndexError on node slicing
  hugr-py/src/hugr/hugr/node_port.py
  hugr-py/tests/test_nodes.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: `is_ext` utility for checking equality against extension ops
  hugr-core/src/extension/prelude/array.rs
  hugr-core/src/hugr/rewrite/insert_identity.rs
  hugr-core/src/ops.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hugr-cli)!: allow registry specification in `run_dump`
  hugr-cli/src/extensions.rs
  hugr-cli/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.4.0 (#92)
  Cargo.lock
  Cargo.toml
Due: none

fix: IndexError on node slicing (#1500)
  hugr-py/src/hugr/hugr/node_port.py
  hugr-py/tests/test_nodes.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-cli)!: allow registry specification in `run_dump` (#1501)
  hugr-cli/src/extensions.rs
  hugr-cli/src/main.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Export the collections extension
  hugr-py/src/hugr/std/collections.py
  hugr-py/src/hugr/std/float.py
  hugr-py/src/hugr/std/int.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(hugr-cli)!: return `ExtensionRegistry` in helpers
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: `std.collections.insert` wrong output order
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: `std.collections.insert` wrong output order (#1513)
  hugr-core/src/std_extensions/collections.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Also export `arithmetic.conversions`
  hugr-py/src/hugr/std/int.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Export the collections extension (#1506)
  hugr-py/src/hugr/std/collections.py
  hugr-py/src/hugr/std/float.py
  hugr-py/src/hugr/std/int.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: `HugrMut::remove_node` and `SimpleReplacement` return removed node weights.
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/rewrite/replace.rs
  hugr-core/src/hugr/rewrite/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hugr-passes): op replacement and lowering functions
  hugr-passes/src/lib.rs
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

error docstring and TODO
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(hugr-passes): op replacement and lowering functions (#1509)
  hugr-passes/src/lib.rs
  hugr-passes/src/lower.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Export the float ops extension
  hugr-py/src/hugr/std/float.py
  hugr-py/tests/test_custom.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Export the float ops extension (#1517)
  hugr-py/src/hugr/std/float.py
  hugr-py/tests/test_custom.py
Due: ruff-format, ruff-check, mypy-check, py-test
