Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/extension_inference hugr/declarative hugr/model_unstable hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && uv run pytest"
  language: system
  pass_filenames: false

revertme: remove _target (again)
  .github/workflows/breaking-change-to-main.yml
Due: none

chore(hugr-llvm): upgrade to inkwell 0.6.0 (#2128)
  Cargo.lock
  DEVELOPMENT.md
  hugr-llvm/Cargo.toml
  hugr-llvm/README.md
  hugr-llvm/src/extension/collections/static_array.rs
  hugr-llvm/src/sum.rs
  hugr-llvm/src/sum/layout.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update .github/workflows/breaking-change-to-main.yml
  .github/workflows/breaking-change-to-main.yml
Due: none

Point to workflow file on branch main
  .github/workflows/breaking-change-to-main.yml
Due: none

Add LinearizeArrayPass::new
  hugr-passes/src/linearize_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Document panic conditions and clarify comment
  hugr-passes/src/linearize_array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: Forbid merge into main when a release branch is set (#2134)
  .github/workflows/breaking-change-to-main.yml
Due: none

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Fixes.
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Generic SimpleReplacement over boundary maps
  hugr-core/src/hugr/patch.rs
  hugr-core/src/hugr/patch/boundary_map.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

revert prose wrap
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

cargo fix
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

make map within OutputNodeBoundaryMap public
  hugr-core/src/hugr/patch/boundary_map.rs
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Accept outgoing ports in SimpleReplacement nu_out
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

improve coverage
  hugr-core/src/hugr/patch/port_types.rs
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/patch/simple_replace.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Accept outgoing ports in SimpleReplacement nu_out (#2151)
  hugr-core/src/hugr/patch/port_types.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Generalise array op builers to arbitrary array kinds (#2119)
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-llvm/src/extension/collections/array.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add array linearisation pass (#2125)
  Cargo.lock
  hugr-core/src/std_extensions/collections/array/array_kind.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-passes/Cargo.toml
  hugr-passes/src/lib.rs
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Get rid of extension reqs and small fixes
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-passes/README.md
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/value_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Improved array lowering (#2109)
  Cargo.lock
  hugr-core/src/ops/constant.rs
  hugr-core/src/std_extensions.rs
  hugr-core/src/std_extensions/collections.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_kind.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-core/src/utils.rs
  hugr-llvm/src/emit/libc.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_array_value@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_clone@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_clone@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_get@pre-mem2reg@llvm14.snap
  hugr-passes/Cargo.toml
  hugr-passes/README.md
  hugr-passes/src/lib.rs
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  hugr-py/src/hugr/std/collections/value_array.py
  hugr-py/tests/test_tys.py
  specification/std_extensions/collections/value_array.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

feat: export mangle name function
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Make `NamedOp` private. Add `MakeExtensionOp::name` and `MakeOpDef::opdef_name`
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/ops.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-core/src/std_extensions/ptr.rs
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/extension/collections/list.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/logic.rs
  hugr-llvm/src/extension/prelude.rs
  hugr-llvm/src/utils/fat.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/force_order.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-passes/src/untuple.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tweak
  hugr-core/src/ops/custom.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address feedback, rename -> op{,def}_id
  hugr-core/src/export.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/extension/resolution/ops.rs
  hugr-core/src/extension/simple_op.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-core/src/std_extensions/ptr.rs
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/extension/collections/list.rs
  hugr-llvm/src/extension/int.rs
  hugr-llvm/src/extension/logic.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/linearize_array.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

tweak
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-core/src/std_extensions/ptr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

review suggestions
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: utilities for casting sum types to option
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix docstring
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

override the breaking bump
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat: utilities for casting sum types to option (#2154)
  hugr-core/src/types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release (#2121)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

feat!: ComposablePass trait allowing sequencing and validation (#1895)
  hugr-passes/src/composable.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-passes/src/untuple.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: ReplaceTypes: allow lowering ops into a Call to a function already in the Hugr (#2094)
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Mark all Error enums as non_exhaustive (#2056)
  hugr-core/src/extension.rs
  hugr-core/src/hugr/serialize/upgrade.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/ast/resolve.rs
  hugr-model/src/v0/table/mod.rs
  hugr-passes/src/lower.rs
  hugr-passes/src/non_local.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-passes/src/validation.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: remove ExtensionValue (#2093)
  hugr-core/src/extension.rs
  hugr-core/src/extension/resolution/extension.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/std_extensions/logic.rs
  hugr-py/src/hugr/_serialization/extension.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/std/_json_defs/arithmetic/conversions.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/float/types.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int.json
  hugr-py/src/hugr/std/_json_defs/arithmetic/int/types.json
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/list.json
  hugr-py/src/hugr/std/_json_defs/collections/static_array.json
  hugr-py/src/hugr/std/_json_defs/logic.json
  hugr-py/src/hugr/std/_json_defs/prelude.json
  hugr-py/src/hugr/std/_json_defs/ptr.json
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  specification/std_extensions/arithmetic/conversions.json
  specification/std_extensions/arithmetic/float.json
  specification/std_extensions/arithmetic/float/types.json
  specification/std_extensions/arithmetic/int.json
  specification/std_extensions/arithmetic/int/types.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/list.json
  specification/std_extensions/collections/static_array.json
  specification/std_extensions/logic.json
  specification/std_extensions/prelude.json
  specification/std_extensions/ptr.json
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
