Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Formatting.
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fixed bug in python model export name mangling.
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fixed two bugs in handling the signatures of ops that manipulate functions.
  hugr-core/src/import.rs
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix: Fixed invalid extension name in test. (#2319)
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Fixed bug in python model export name mangling. (#2323)
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor(llvm): replace HashMap with BTreeMap (#2313)
  hugr-llvm/src/custom/extension_op.rs
  hugr-llvm/src/custom/load_constant.rs
  hugr-llvm/src/emit/func.rs
  hugr-llvm/src/emit/ops/cfg.rs
  hugr-llvm/src/utils/type_map.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Introduced tracing, refactored clap, anyhow for error chains.
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-cli/src/extensions.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make the tests pass.
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/main.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Switch `EnvelopeError` to use `thiserror`.
  hugr-core/src/envelope.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Lints.
  hugr-cli/src/hugr_io.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Fixed two bugs in import/export of function operations (#2324)
  hugr-core/src/import.rs
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

fix(py): correct ConstString JSON encoding
  hugr-py/src/hugr/std/prelude.py
  hugr-py/tests/test_prelude.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix(py): correct ConstString JSON encoding (#2325)
  hugr-py/src/hugr/std/prelude.py
  hugr-py/tests/test_prelude.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add extension resolution to import.
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-order.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Model import should perform extension resolution (#2326)
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-order.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: mention ignore_crashes option in README
  fuzz/README.md
Due: none

constant_fold2 -> const_fold
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude/generic.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/std_extensions/arithmetic/conversions.rs
  hugr-core/src/std_extensions/arithmetic/float_ops.rs
  hugr-core/src/std_extensions/arithmetic/int_ops.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core): builder pattern for EnvelopeConfig
  hugr-core/src/envelope/header.rs
  hugr/benches/benchmarks/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

don't feature-default zstd field
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Separate trait, lots more deprecation
  hugr-core/src/extension.rs
  hugr-core/src/extension/const_fold.rs
  hugr-core/src/extension/op_def.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

logic.rs
  hugr-core/src/std_extensions/logic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

delay/TODO int_ops, float_ops, conversions
  hugr-core/src/extension/prelude.rs
  hugr-core/src/std_extensions/arithmetic/conversions/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/float_ops/const_fold.rs
  hugr-core/src/std_extensions/arithmetic/int_ops/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Generic (load_nat)
  hugr-core/src/extension/prelude/generic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

List ops (but no lists of function pointers), Noop
  hugr-core/src/extension/prelude.rs
  hugr-core/src/std_extensions/collections/list/list_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy logic.rs
  hugr-core/src/std_extensions/logic.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Better error reporting in `hugr-cli`. (#2318)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-cli/src/extensions.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
  hugr-core/src/envelope.rs
  hugr-core/src/package.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

better docstring
  hugr-core/src/envelope/header.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make NotTailLoop into a struct with named fields
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(core): builder pattern for EnvelopeConfig (#2330)
  hugr-core/src/envelope/header.rs
  hugr/benches/benchmarks/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(cli): allow full envelope retrieval from args
  hugr-cli/src/hugr_io.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix comments, use optype_mut
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

new -> try_new so can fix invalidation_set
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update CallGraph
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update dead_funcs, extend test
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Return proper error from constructor, Infallible later; rm hugr_modified test
  hugr-core/src/hugr/patch/peel_loop.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

more call_graph doc fixes
  hugr-passes/src/call_graph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Cherry-pick call_graph + dead_funcs
  hugr-passes/src/call_graph.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

WIP Add link_name, builder methods, update some passes
  hugr-core/src/builder.rs
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/serialize/upgrade/testcases/hugr_with_named_op.json
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/utils/inline_constant_functions.rs
  hugr-passes/src/call_graph.rs
  hugr-passes/src/composable.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add link_name to hugr-py FuncDefn, update schema
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/ops.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: ruff-format, ruff-check, mypy-check, py-test

fix: typo in EnvelopeFormat
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test
