Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

feat(py)!: Rename 'Any' type bound to 'Linear'
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_ops.py
  hugr-py/tests/test_tys.py
  specification/hugr.md
Due: ruff-format, ruff-check, mypy-check, py-test

make_simple_hugr docs say public; make it so
  hugr-core/src/hugr/validate/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-core comment on Visibility should not mention optimization/analysis
  hugr-core/src/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat!: Rename 'Any' type bound to 'Linear' (#2421)
  hugr-core/src/builder/module.rs
  hugr-core/src/extension/declarative/types.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/prelude.rs
  hugr-core/src/extension/resolution/test.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/controlflow.rs
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-core/src/std_extensions/collections/list.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-core/src/types.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/linearize.rs
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/std/collections/array.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/test_custom.py
  hugr-py/tests/test_hugr_build.py
  hugr-py/tests/test_ops.py
  hugr-py/tests/test_tys.py
  hugr/benches/benchmarks/types.rs
  specification/hugr.md
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

Add reason to [expect(...)]
  hugr-passes/src/dataflow/datalog.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Reduce error type sizes
  Cargo.toml
  hugr-core/src/builder.rs
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/circuit.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/envelope.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/resolution/ops.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/patch/outline_cfg.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/ops/validate.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/types.rs
  hugr-core/src/types/check.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/composable.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor!: Reduce error type sizes (#2420)
  Cargo.toml
  hugr-core/src/builder.rs
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/circuit.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/envelope.rs
  hugr-core/src/extension.rs
  hugr-core/src/extension/op_def.rs
  hugr-core/src/extension/resolution/ops.rs
  hugr-core/src/extension/type_def.rs
  hugr-core/src/hugr/patch/outline_cfg.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/ops/constant.rs
  hugr-core/src/ops/custom.rs
  hugr-core/src/ops/dataflow.rs
  hugr-core/src/ops/validate.rs
  hugr-core/src/std_extensions/arithmetic/int_types.rs
  hugr-core/src/std_extensions/collections/static_array.rs
  hugr-core/src/types.rs
  hugr-core/src/types/check.rs
  hugr-core/src/types/poly_func.rs
  hugr-core/src/types/type_param.rs
  hugr-passes/src/composable.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/replace_types.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Test loading Hugr w/out visibility
  hugr-core/src/hugr.rs
  resources/test/hugr-no-visibility.hugr
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add python test - indeed fails w/ missing visibility
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

Provide default visibility in pydantic; fix test Node-fiddling
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update schema
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
Due: none

Comment about serde defaults
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Skip if test file missing
  hugr-py/tests/test_envelope.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: map IntValue to unsigned repr when serializing (#2413)
  hugr-py/src/hugr/std/int.py
  hugr-py/tests/test_prelude.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.5): release hugr-py 0.12.5
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.5): release hugr-py 0.12.5 (#2414)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.5): release hugr-py 0.12.5 (#2414)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Export order keys on input and output nodes.
  hugr-core/src/export.rs
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-model/tests/fixtures/model-order.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Import input and output order hint keys.
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Order hint metadata for input and output nodes.
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore(py): update changelog for hugr-py 0.12.5 release (#2423)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

Export order hints in Python.
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-py/src/hugr/model/export.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

address comments
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Update model .edn test inputs w/ explicit pub/priv
  hugr-model/tests/fixtures/model-add.edn
  hugr-model/tests/fixtures/model-call.edn
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-cond.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-constraints.edn
  hugr-model/tests/fixtures/model-entrypoint.edn
  hugr-model/tests/fixtures/model-loop.edn
  hugr-model/tests/fixtures/model-order.edn
  hugr-model/tests/fixtures/model-params.edn
Due: none

Add capnp Visibility::Unspecified to fix remaining tests
  hugr-model/capnp/hugr-v0.capnp
  hugr-model/src/capnp/hugr_v0_capnp.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

update snapshots
  hugr-core/tests/snapshots/model__roundtrip_add.snap
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_cond.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_constraints.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-core/tests/snapshots/model__roundtrip_order.snap
  hugr-core/tests/snapshots/model__roundtrip_params.snap
Due: none

hugr-model: make model::Symbol::visibility an option, remove Visibility::default
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-model/src/v0/ast/hugr.pest
  hugr-model/src/v0/ast/mod.rs
  hugr-model/src/v0/ast/parse.rs
  hugr-model/src/v0/ast/print.rs
  hugr-model/src/v0/binary/read.rs
  hugr-model/src/v0/binary/write.rs
  hugr-model/src/v0/mod.rs
  hugr-model/src/v0/table/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "Revert hugr-passes changes"
  hugr-passes/src/call_graph.rs
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

hugr-core: comment on Visibility mentions optimization/analysis
  hugr-core/src/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fmt
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Rename IncludeExports -> VisPolicy
  hugr-passes/src/const_fold.rs
  hugr-passes/src/const_fold/test.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat(per)!: Support empty wires in commits (#2349)
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/wire.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add PinnedSubgraph
  hugr-persistent/src/lib.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/subgraph.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

simplify trait bounds
  hugr-persistent/src/subgraph.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add PinnedSubgraph (#2402)
  hugr-persistent/src/lib.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/subgraph.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add borrow array in hugr-py
  hugr-py/src/hugr/std/collections/borrow_array.py
Due: ruff-format, ruff-check, mypy-check, py-test

Add tests
  hugr-py/tests/test_tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

Test edge case
  hugr-model/tests/fixtures/model-order.edn
Due: none

unreachable (as per review)
  hugr-model/src/v0/ast/parse.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
