Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/extension_inference hugr/declarative hugr/model_unstable hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "cargo build -p hugr-cli && uv run pytest"
  language: system
  pass_filenames: false

feat!: Remove boundary map in SimpleReplacement (#2208)
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Mark FuncDefn #[non_exhaustive], add ::new
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/utils/inline_constant_functions.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Missed one
  hugr-core/src/hugr/validate/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Hide FuncDefn::name, add func_name()
  hugr-core/src/export.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/emit.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

doc(hidden) the temporarily public fn
  hugr-core/src/hugr/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Similarly hide FuncDecl::name
  hugr-core/src/builder/module.rs
  hugr-core/src/export.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/emit.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Respect type bounds on local variables when importing. (#2206)
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Import and export JSON metadata on module roots. (#2207)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: 0.20.0-rc.0 release candidate
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/Cargo.toml
Due: none

add changelogs
  hugr-cli/CHANGELOG.md
  hugr-core/CHANGELOG.md
  hugr-llvm/CHANGELOG.md
  hugr-model/CHANGELOG.md
  hugr-passes/CHANGELOG.md
  hugr/CHANGELOG.md
Due: none

feat: Export macro for hugr serde wrappers with custom extensions (#2209)
  hugr-core/src/envelope/serde_with.rs
  hugr-core/src/hugr/serialize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: Fix crate versions for release-plz (#2214)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

set_func_name => func_name_mut
  hugr-core/src/ops/module.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Allow any dataflow parent as SiblingSubgraph replacement
  hugr-core/src/hugr/views/sibling_subgraph.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Allow any dataflow parent as SiblingSubgraph replacement (#2210)
  hugr-core/src/hugr/views/sibling_subgraph.rs
  uv.lock
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

non-exhaustive now a no-op, remove it
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

signature()/signature_mut() accessors
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/emit.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy
  hugr-core/src/hugr/validate.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  hugr-core/Cargo.toml
  hugr-core/src/hugr/persistent.rs
  hugr-core/src/hugr/persistent/tests.rs
  hugr-core/src/hugr/persistent/walker.rs
  hugr-core/src/hugr/persistent/walker/pinned.rs
  hugr-core/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

missing func_name_mut,fix docs
  hugr-core/src/ops/module.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Stick to 'allows mutating'
  hugr-core/src/ops/module.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Clippy
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add link_name to hugr-py FuncDefn, update schema
  hugr-py/src/hugr/_serialization/ops.py
  hugr-py/src/hugr/ops.py
  specification/schema/hugr_schema_live.json
  specification/schema/hugr_schema_strict_live.json
  specification/schema/testing_hugr_schema_live.json
  specification/schema/testing_hugr_schema_strict_live.json
  uv.lock
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: Hide FuncDefn/cl fields, add accessors and ::new(...) (#2213)
  hugr-core/src/builder/build_traits.rs
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/export.rs
  hugr-core/src/extension/resolution/types.rs
  hugr-core/src/extension/resolution/types_mut.rs
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/hugrmut.rs
  hugr-core/src/hugr/serialize/test.rs
  hugr-core/src/hugr/validate.rs
  hugr-core/src/hugr/validate/test.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/sibling_subgraph.rs
  hugr-core/src/import.rs
  hugr-core/src/ops/module.rs
  hugr-llvm/src/emit.rs
  hugr-llvm/src/utils/inline_constant_functions.rs
  hugr-passes/src/dead_funcs.rs
  hugr-passes/src/monomorphize.rs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Check hugr json serializations against the schema (again)
  .github/workflows/ci-rs.yml
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/hugr/serialize/test.rs
  justfile
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add SiblingSubgraph::set_outgoing_ports
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

return Result
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add SiblingSubgraph::set_outgoing_ports (#2217)
  hugr-core/src/hugr/views/sibling_subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.20.0-rc.1
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Add schema tests. These really shouldn't pass
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Symbol applications can leave out prefixes of wildcards. (#2201)
  hugr-core/src/export.rs
  hugr-core/src/import.rs
  hugr-core/tests/snapshots/model__roundtrip_call.snap
  hugr-core/tests/snapshots/model__roundtrip_cfg.snap
  hugr-core/tests/snapshots/model__roundtrip_const.snap
  hugr-core/tests/snapshots/model__roundtrip_entrypoint.snap
  hugr-core/tests/snapshots/model__roundtrip_loop.snap
  hugr-model/src/v0/table/mod.rs
  hugr-model/tests/fixtures/model-cfg.edn
  hugr-model/tests/fixtures/model-const.edn
  hugr-model/tests/fixtures/model-loop.edn
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Make this the stable release, merge changelogs with previous RC
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Add short release description
  hugr/CHANGELOG.md
Due: none

THESE
  hugr/CHANGELOG.md
Due: none

Update hugr-core/CHANGELOG.md
  hugr-core/CHANGELOG.md
Due: none

Update hugr/CHANGELOG.md
  hugr/CHANGELOG.md
Due: none

chore: release v0.20.0 (#2218)
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
