Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run tests with `cargo test`.
  entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

fix: DeadFuncElimPass+CallGraph w/ non-module-child entrypoint (#2390)
  hugr-passes/src/call_graph.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

check new workflow
  .github/workflows/semver-checks.yml
Due: none

modify rust to trigger CI
  .github/workflows/semver-checks.yml
  hugr-core/src/hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  hugr-core/src/core.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/wire.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add IncludeReplacementNodes enum
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/wire.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: Add PersistentWire type (#2361)
  hugr-core/src/core.rs
  hugr-core/src/hugr/views/root_checked/dfg.rs
  hugr-persistent/src/lib.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/walker/pinned.rs
  hugr-persistent/src/wire.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

address comments
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/wire.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

All FuncDefn's private
  hugr-core/src/builder/dataflow.rs
  hugr-core/src/builder/module.rs
  hugr-core/src/ops/module.rs
  hugr-passes/src/monomorphize.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Address comments
  hugr-core/src/std_extensions/collections/array/array_clone.rs
  hugr-core/src/std_extensions/collections/array/array_conversion.rs
  hugr-core/src/std_extensions/collections/array/array_discard.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/array_repeat.rs
  hugr-core/src/std_extensions/collections/array/array_scan.rs
  hugr-core/src/std_extensions/collections/array/array_value.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add comment about schema definition being broken
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/hugr/serialize/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Check hugr json serializations against the schema (again)
  .github/workflows/ci-rs.yml
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/hugr/serialize/test.rs
  justfile
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

More clarifications
  hugr-passes/src/const_fold.rs
  hugr-passes/src/dataflow/datalog.rs
  hugr-passes/src/dead_code.rs
  hugr-passes/src/dead_funcs.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Walker::expand returns self on complete wires
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add try_get_commit to PersistentHugr
  hugr-persistent/src/persistent_hugr.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Not quite that bad - dataflow means const-fold preserves non-module entrypoint
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy fix ptr_eq
  hugr-persistent/src/walker.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add PinnedSubgraph
  hugr-persistent/src/lib.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/subgraph.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/tests/persistent_walker_example.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Further clarify const-fold. Blimey
  hugr-passes/src/const_fold.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

test: Check hugr json serializations against the schema (again) (#2216)
  .github/workflows/ci-rs.yml
  hugr-core/src/envelope/package_json.rs
  hugr-core/src/hugr/serialize/test.rs
  justfile
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Add new empty array op
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

try to fix doctest
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

update test and rename method
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

finally fix test
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Update hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: add toposort to HUGR-py (#2367)
  hugr-py/src/hugr/hugr/base.py
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

simplify trait bounds
  hugr-persistent/src/subgraph.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

ci: support releases from release/* branches
  .github/workflows/release-please.yml
Due: none

fix(py): correct ConstString JSON encoding (#2325)
  hugr-py/src/hugr/std/prelude.py
  hugr-py/tests/test_prelude.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(py): Helper methods to get the neighbours of a node (#2370)
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat(core, llvm): add array unpack operations (#2339)
  hugr-core/src/std_extensions/collections/array.rs
  hugr-core/src/std_extensions/collections/array/array_op.rs
  hugr-core/src/std_extensions/collections/array/op_builder.rs
  hugr-core/src/std_extensions/collections/value_array.rs
  hugr-llvm/src/extension/collections/array.rs
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@llvm14.snap
  hugr-llvm/src/extension/collections/snapshots/hugr_llvm__extension__collections__stack_array__test__emit_all_ops@pre-mem2reg@llvm14.snap
  hugr-llvm/src/extension/collections/stack_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/array.json
  hugr-py/src/hugr/std/_json_defs/collections/value_array.json
  specification/std_extensions/collections/array.json
  specification/std_extensions/collections/value_array.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

fix: Escape html-like labels in DotRenderer (#2383)
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: Fixed invalid extension name in test. (#2319)
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

ci: support releases from release/* branches (#2403)
  .github/workflows/release-please.yml
Due: none

chore(release/hugr-py-0.12.3): release hugr-py 0.12.3
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(release/hugr-py-0.12.3): release hugr-py 0.12.3 (#2404)
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: stringify metadata before escaping in renderer
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

fix: stringify metadata before escaping in renderer (#2405)
  hugr-py/src/hugr/hugr/render.py
  hugr-py/tests/__snapshots__/test_hugr_build.ambr
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

Rename
  hugr-core/src/std_extensions/collections/borrow_array.rs
  hugr-py/src/hugr/std/_json_defs/collections/borrow_arr.json
  specification/std_extensions/collections/borrow_arr.json
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
