Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-nextest
        name: cargo nextest r
        description:
          Run tests with `cargo nextest`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

refactor: Direct import of model representation to Python (#2683)
  hugr-core/src/import.rs
  hugr-model/src/v0/binary/mod.rs
  hugr-model/src/v0/binary/read.rs
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/src/hugr/envelope.py
  hugr-py/src/hugr/hugr/base.py
  hugr-py/src/hugr/model/__init__.py
  hugr-py/src/hugr/model/load.py
  hugr-py/src/hugr/package.py
  hugr-py/src/hugr/tys.py
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

chore: release
  Cargo.lock
  hugr-cli/CHANGELOG.md
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/CHANGELOG.md
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/CHANGELOG.md
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

renaming
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

doc updates
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

rename in test
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: register packaged extensions before model import
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

test: test correct registration
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: register packaged extensions before model_ast import (#2702)
  hugr-core/src/envelope/reader.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

indent
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

return InsertionResult not InsertedForest
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Update .release-please-manifest.json
  .release-please-manifest.json
Due: none

chore(release-py): bring hugr-py-v0.14.4 updates to main (#2719)
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.15.0
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor closure using ?
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Refactor loop in link_actions_helper
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

various private renames, inline just_add
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

rename get_(=>on_)signature_conflict, improve accessor docs
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Rename OnMultiDefn::Use(Existing/New) => Use(Target/Source)
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Remove NameLinkingPolicy::err_on_conflict; rename (=>new_)keep_both_invalid
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

reduce change
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Move used_nodes inside
  hugr-core/src/hugr/linking.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Implement a custom `TypeBound.__repr__()`.
  hugr-py/src/hugr/_serialization/tys.py
  hugr-py/src/hugr/ext.py
  hugr-py/src/hugr/tys.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: update links
  .github/workflows/breaking-change-to-main.yml
  .github/workflows/drop-cache.yml
  .github/workflows/notify-coverage.yml
  .github/workflows/pr-title.yml
  .github/workflows/semver-checks.yml
  .github/workflows/unsoundness.yml
  CITATION.cff
  Cargo.toml
  DEVELOPMENT.md
  hugr-cli/README.md
  hugr-core/README.md
  hugr-llvm/README.md
  hugr-model/README.md
  hugr-passes/README.md
  hugr-persistent/README.md
  hugr-py/README.md
  hugr-py/docs/_static/_redirect.html
  hugr-py/docs/api-docs/index.rst
  hugr-py/pyproject.toml
  hugr/README.md
  specification/hugr.md
  uv.lock
Due: none

fix: update CODEOWNERS as well
  .github/CODEOWNERS
Due: none
