Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

ruff-format:
  name: ruff format
  description: Format python code with `ruff`.
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff
  description: Check python code with `ruff`.
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system
  pass_filenames: false

mypy-check:
  name: mypy
  description: Check python code with `mypy`.
  entry: uv run mypy .
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo format
  description: Format rust code with `cargo fmt`.
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check rust code with `cargo check`.
  entry: cargo check --all --all-features --workspace
  language: system
  pass_filenames: false

cargo-nextest:
  name: cargo nextest r
  description: Run tests with `cargo nextest`.
  entry: cargo nextest r --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Run clippy lints with `cargo clippy`.
  entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
  language: system
  pass_filenames: false

cargo-doc:
  name: cargo doc
  description: Generate documentation with `cargo doc`.
  entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
  language: system
  pass_filenames: false

py-test:
  name: pytest
  description: Run python tests
  entry: sh -c "uv run pytest"
  language: system
  pass_filenames: false

Deliberately invert sense of borrowed/not-borrowed test, breaks test :)
  hugr-passes/src/replace_types/handlers.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

ReplaceTypes: option to recurse on replacement, including for types
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

formatting
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

fix: BorrowArray discard handler allows elements to be borrowed (#2666)
  Cargo.lock
  hugr-llvm/Cargo.toml
  hugr-llvm/src/extension/collections/borrow_array.rs
  hugr-passes/src/replace_types/handlers.rs
  hugr-passes/src/replace_types/linearize.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore: release
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

clippy/reword comment
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

apply_custom: use mutation
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

with_recursive also sets linearize, TODO update docs
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

WIP: try to make linearization behaviour consistent, but breaks test
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore: release (#2669)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/CHANGELOG.md
  hugr-passes/Cargo.toml
  hugr-persistent/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

chore: add xz to devenv on macos
  devenv.lock
  devenv.nix
Due: none

chore: add xz to devenv on macos (#2672)
  devenv.lock
  devenv.nix
Due: none

chore: remove unused imports
  hugr-core/src/hugr/views/impls.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

chore: remove unused imports (#2673)
  hugr-core/src/hugr/views/impls.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

Still linearize when replace_recursive is off
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

avoid specified root not entrypoint
  hugr-passes/src/replace_types.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat(cli): bind cli through python
  Cargo.lock
  hugr-py/Cargo.toml
  hugr-py/pyproject.toml
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat(cli): move main function to lib
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat(py): cli module
  hugr-py/src/hugr/cli.py
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, py-test

test: use cli binding for tests
  hugr-py/tests/conftest.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore: avoid parallel python tests, now slower
  justfile
  pyproject.toml
  uv.lock
Due: none

add convert
  hugr-cli/src/convert.rs
  hugr-cli/src/lib.rs
  hugr-cli/tests/convert.rs
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

use cli to do to_json_envelope
  Cargo.lock
  hugr-py/Cargo.toml
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/envelope.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

simplify hugr_io
  hugr-cli/src/convert.rs
  hugr-cli/src/describe.rs
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/mermaid.rs
  hugr-cli/src/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

add describe and mermaid
  hugr-cli/src/describe.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/mermaid.rs
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

refactor: reduce match duplicatioN
  hugr-cli/src/lib.rs
  hugr-cli/src/main.rs
  hugr-cli/tests/convert.rs
  hugr-cli/tests/validate.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

docs: improve docstrings
  hugr-cli/src/lib.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

clean-up bindings
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

begin i/o for validate
  hugr-cli/src/hugr_io.rs
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
  hugr-py/rust/lib.rs
  hugr-py/src/hugr/_hugr/__init__.pyi
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc, py-test

python custom release profile for smaller wheels
  Cargo.toml
  hugr-py/pyproject.toml
Due: none

no need to build cli for python tests
  .github/workflows/ci-py.yml
  hugr-py/tests/conftest.py
  justfile
Due: ruff-format, ruff-check, mypy-check, py-test

test: cleanup cli python tests
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, py-test

cleanup cli tests
  hugr-cli/tests/convert.rs
  hugr-cli/tests/validate.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

feat: return structured description
  hugr-py/src/hugr/cli.py
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, py-test

refactor(cli): make tracing a default feature
  hugr-cli/Cargo.toml
  hugr-cli/src/lib.rs
  hugr-cli/src/validate.rs
  hugr-cli/tests/validate.rs
  hugr-py/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

better name for run_programmatic
  hugr-cli/src/lib.rs
  hugr-cli/tests/convert.rs
  hugr-cli/tests/validate.rs
  hugr-py/rust/lib.rs
Due: cargo-fmt, cargo-check, cargo-nextest, cargo-clippy, cargo-doc

test: for uses_extension
  hugr-py/tests/test_cli.py
Due: ruff-format, ruff-check, mypy-check, py-test

minimal methods for ComposablePass
  hugr-py/src/hugr/passes/composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

add ComposedPass dataclass
  hugr-py/src/hugr/passes/composable_pass.py
Due: ruff-format, ruff-check, mypy-check, py-test

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-check: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-doc: any of: \.rs$
  py-test: any of: \.py$
