Repository CQCL/hugr: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy-check, cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc, py-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0 # Use the ref you want to point at
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.snap\.new|
            .*\.ambr|
            .release-please-manifest.json
          )$
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            specification/schema/.*|
            .*\.snap|
            .*\.ambr|
            .*\.snap\.new
          )$
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      # Python-specific
      - id: check-ast
      - id: check-docstring-first
      - id: debug-statements

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        description: Format python code with `ruff`.
        entry: uv run ruff format
        language: system
        files: \.py$
        pass_filenames: false
      - id: ruff-check
        name: ruff
        description: Check python code with `ruff`.
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        files: \.py$
        pass_filenames: false
      - id: mypy-check
        name: mypy
        description: Check python code with `mypy`.
        entry: uv run mypy .
        language: system
        files: \.py$
        pass_filenames: false
      - id: cargo-fmt
        name: cargo format
        description: Format rust code with `cargo fmt`.
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        description: Check rust code with `cargo check`.
        entry: cargo check --all --all-features --workspace
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        description:
          Run tests with `cargo test`.
          # We cannot use --all-features as `hugr-model`s pyo3 feature cannot be
          # built into a binary build (without using `maturin`)
          #
          # This feature list should be kept in sync with the `hugr-py/pyproject.toml`
        entry: cargo test --workspace --exclude 'hugr-py' --features 'hugr/declarative hugr/llvm hugr/llvm-test hugr/zstd'
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        description: Run clippy lints with `cargo clippy`.
        entry: cargo clippy --all-targets --all-features --workspace -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
      - id: cargo-doc
        name: cargo doc
        description: Generate documentation with `cargo doc`.
        entry: sh -c "RUSTDOCFLAGS=-Dwarnings cargo doc --no-deps --all-features --workspace"
        language: system
        files: \.rs$
        pass_filenames: false
      - id: py-test
        name: pytest
        description: Run python tests
        entry: sh -c "uv run pytest"
        language: system
        files: \.py$
        pass_filenames: false

Fixed typo, replaced eyre with anyhow.
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-llvm/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: devenv update
  devenv.lock
  devenv.nix
Due: none

docs(py): fix `TypeDef` example
  hugr-py/src/hugr/ext.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat!: More helpful error messages in model import (#2264)
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-llvm/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.20.1
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Revert "feat!: More helpful error messages in model import (#2264)"
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-llvm/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: More helpful error messages in model import (#2264)
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/import.rs
  hugr-core/tests/model.rs
  hugr-llvm/Cargo.toml
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

chore: release v0.21.0
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-core/CHANGELOG.md
  hugr-core/Cargo.toml
  hugr-llvm/CHANGELOG.md
  hugr-llvm/Cargo.toml
  hugr-model/Cargo.toml
  hugr-passes/Cargo.toml
  hugr-py/Cargo.toml
  hugr/CHANGELOG.md
  hugr/Cargo.toml
Due: none

Wildcard terms, Display for terms.
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/terms.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

docs(py): fix `TypeDef` example (#2268)
  hugr-py/src/hugr/ext.py
Due: ruff-format, ruff-check, mypy-check, py-test

chore(main): release hugr-py 0.12.2
  .release-please-manifest.json
  hugr-py/CHANGELOG.md
  hugr-py/pyproject.toml
  hugr-py/src/hugr/__init__.py
Due: ruff-format, ruff-check, mypy-check, py-test

feat: Add custom node labels in mermaid_string
  hugr-core/src/hugr/persistent/trait_impls.rs
  hugr-core/src/hugr/views.rs
  hugr-core/src/hugr/views/impls.rs
  hugr-core/src/hugr/views/render.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

add tests
  hugr-core/src/hugr/views/render.rs
  hugr-core/src/hugr/views/snapshots/hugr_core__hugr__views__render__tests__custom_node_labels.snap
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Term views, term view ctr macro and some core ctr views.
  hugr-core/src/terms.rs
  hugr-core/src/terms/core.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

one more delegate impl
  hugr-core/src/hugr/views/rerooted.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Configurable error type in `ViewError`.
  hugr-core/src/terms.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Skeleton for `LoopRegionSignature`.
  hugr-core/src/terms.rs
  hugr-core/src/terms/util.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Expect
  hugr-core/src/terms.rs
  hugr-core/src/terms/core.rs
  hugr-core/src/terms/util.rs
  hugr-model/src/v0/mod.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

.
  hugr-core/src/terms/util.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Views should not have errors.
  hugr-core/src/terms.rs
  hugr-core/src/terms/util.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

.
  Cargo.lock
  hugr-core/Cargo.toml
  hugr-core/src/terms.rs
  hugr-core/src/terms/util.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

added DynamicTopoConvexChecker and test
  .gitignore
  hugr-core/src/convexity.rs
  hugr-core/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

refactor: move PersistentHugr into separate crate
  Cargo.lock
  Cargo.toml
  hugr-core/Cargo.toml
  hugr-core/src/hugr.rs
  hugr-core/src/hugr/internal.rs
  hugr-core/src/hugr/patch/simple_replace.rs
  hugr-persistent/Cargo.toml
  hugr-persistent/src/hugr.rs
  hugr-persistent/src/lib.rs
  hugr-persistent/src/parents_view.rs
  hugr-persistent/src/resolver.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/tests.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/walker/pinned.rs
  hugr-persistent/tests/persistent_walker_example.rs
  hugr/Cargo.toml
  hugr/src/lib.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

clippy fix + improve docs
  hugr-persistent/src/lib.rs
  hugr-persistent/src/persistent_hugr.rs
  hugr-persistent/src/state_space.rs
  hugr-persistent/src/trait_impls.rs
  hugr-persistent/src/walker.rs
  hugr-persistent/src/walker/pinned.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Configure CI tests
  .github/workflows/ci-rs.yml
Due: none

check coding style
  hugr-core/src/convexity.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Revert "added DynamicTopoConvexChecker and test"
  .gitignore
Due: none

Revert "Try reinstating define_function anywhere, deprecated"
  hugr-core/src/builder/build_traits.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove diverse_dfg_children
  hugr-llvm/src/emit/test.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove diverse_dfg_children snapshots
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@llvm14.snap
  hugr-llvm/src/emit/snapshots/hugr_llvm__emit__test__test_fns__diverse_dfg_children@pre-mem2reg@llvm14.snap
Due: none

hugr-py: Module: child building functions do not take parent
  hugr-py/src/hugr/build/function.py
Due: ruff-format, ruff-check, mypy-check, py-test

hugr-py: add module_root_builder(), fix doc on Hugr (root -> entrypoint)
  hugr-py/src/hugr/build/dfg.py
  hugr-py/src/hugr/hugr/base.py
Due: ruff-format, ruff-check, mypy-check, py-test

Fix circular import; docs
  hugr-py/src/hugr/build/dfg.py
Due: ruff-format, ruff-check, mypy-check, py-test

hugr-py test_function_dfg
  hugr-py/tests/test_hugr_build.py
Due: ruff-format, ruff-check, mypy-check, py-test

hugr-llvm: add FatExt::fat_entrypoint, de-genericize fat_root
  hugr-llvm/src/emit/test.rs
  hugr-llvm/src/utils/fat.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

Remove ValueEdgeIntoFunc error
  hugr-core/src/hugr/validate.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

feat: support external subcommands via PATH (#1343)
  Cargo.lock
  hugr-cli/Cargo.toml
  hugr-cli/src/main.rs
  hugr-cli/tests/external.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc

.
  hugr-core/src/terms.rs
  hugr-core/src/terms/errors.rs
Due: cargo-fmt, cargo-check, cargo-test, cargo-clippy, cargo-doc
